In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

# 시군구별 교육시설

## 시군구별_초중고수

In [2]:
# 초중고 위치 데이터 불러오기
초중고 = pd.read_csv('../원본데이터/교육시설/전국초중등학교위치표준데이터.csv', encoding='cp949')
초중고

,학교ID,학교명,학교급구분,설립일자,설립형태,본교분교구분,운영상태,소재지지번주소,소재지도로명주소,시도교육청코드,시도교육청명,교육지원청코드,교육지원청명,생성일자,변경일자,위도,경도,데이터기준일자,제공기관코드,제공기관명
0,B000024304,보람초등학교,초등학교,2016-04-01,공립,본교,운영,세종특별자치시 보람동 632-3,세종특별자치시 보람동로 39,9300000,세종특별자치시교육청,9300000,세종특별자치시교육청,2013-11-29,2021-07-05,36.479658,127.293292,2021-09-15,7001220,한국교원대학교
1,B000010391,복흥중학교,중학교,1969-03-15,공립,본교,운영,전라북도 순창군 복흥면 정산리 686,전라북도 순창군 복흥면 금월로 33-4,8320000,전라북도교육청,8441000,전라북도순창교육지원청,2013-11-29,2021-07-05,35.432795,126.925500,2021-09-15,7001220,한국교원대학교
2,B000002502,개림초등학교,초등학교,1997-09-01,공립,본교,운영,부산광역시 부산진구 개금동 446-14,부산광역시 부산진구 백양대로320번길 40,7150000,부산광역시교육청,7181000,부산광역시남부교육지원청,2013-11-29,2021-07-05,35.156337,129.016172,2021-09-15,7001220,한국교원대학교
3,B000024185,배곧해솔중학교,중학교,2019-09-01,공립,본교,운영,경기도 시흥시 정왕동 2561,경기도 시흥시 서울대학로 150-23,7530000,경기도교육청,7781000,경기도시흥교육지원청,2013-11-29,2021-07-05,37.359860,126.717431,2021-09-15,7001220,한국교원대학교
4,B000001881,서울은빛초등학교,초등학교,2011-05-09,공립,본교,운영,서울특별시 은평구 진관동 41-25,서울특별시 은평구 진관3로 73-17,7010000,서울특별시교육청,7031000,서울특별시서부교육지원청,2013-11-29,2021-07-05,37.642662,126.919080,2021-09-15,7001220,한국교원대학교
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23943,B000007231,장산초등학교,초등학교,1993-09-01,공립,본교,운영,경상북도 경산시 옥산동 872,경상북도 경산시 성암로8길 25,8750000,경상북도교육청,8851000,경상북도경산교육지원청,2013-11-29,2021-09-30,35.821190,128.723708,2022-03-24,C738100,청주대학교 지방교육재정연구원
23944,B000024061,평택모산초등학교,초등학교,2020-09-01,공립,본교,운영,경기도 평택시 동삭동 367-2,경기도 평택시 지제동삭1로 175,7530000,경기도교육청,7631000,경기도평택교육지원청,2013-11-29,2021-09-29,37.022131,127.087362,2022-03-24,C738100,청주대학교 지방교육재정연구원
23945,B000030418,안산해솔중학교,중학교,2021-03-01,공립,본교,운영,경기도 안산시 상록구 사동 1639-13,경기도 안산시 상록구 해양5로 10,7530000,경기도교육청,7611000,경기도안산교육지원청,2013-11-29,2021-09-29,37.281329,126.833980,2022-03-24,C738100,청주대학교 지방교육재정연구원
23946,B000011624,전주공업고등학교,고등학교,1916-05-01,공립,본교,운영,전라북도 전주시 덕진구 여의동 548-2,전라북도 전주시 덕진구 여산로 101,8320000,전라북도교육청,8331000,전라북도전주교육지원청,2013-11-29,2021-09-30,35.862352,127.075370,2022-03-24,C738100,청주대학교 지방교육재정연구원
23947,B000003285,봉선초등학교,초등학교,1983-03-01,공립,본교,운영,광주광역시 남구 봉선동 310-12,광주광역시 남구 봉선중앙로118번길 4,7380000,광주광역시교육청,7401000,광주광역시서부교육지원청,2013-11-29,2021-09-30,35.130799,126.912165,2022-03-24,C738100,청주대학교 지방교육재정연구원

In [3]:
초중고.columns

Index(['학교ID', '학교명', '학교급구분', '설립일자', '설립형태', '본교분교구분', '운영상태', '소재지지번주소',
       '소재지도로명주소', '시도교육청코드', '시도교육청명', '교육지원청코드', '교육지원청명', '생성일자', '변경일자',
       '위도', '경도', '데이터기준일자', '제공기관코드', '제공기관명'],
      dtype='object')

In [4]:
# 학교명과 주소만 추출한 후 null 값 확인
초중고 = 초중고[['학교명','소재지지번주소']]
초중고.isnull().sum()

학교명        0
소재지지번주소    1
dtype: int64

In [5]:
# null 값 제거 후 재확인
초중고.dropna(how='any',inplace = True)
초중고.isnull().sum()

학교명        0
소재지지번주소    0
dtype: int64

In [6]:
초중고

            학교명                 소재지지번주소
0        보람초등학교       세종특별자치시 보람동 632-3
1         복흥중학교    전라북도 순창군 복흥면 정산리 686
2        개림초등학교   부산광역시 부산진구 개금동 446-14
3       배곧해솔중학교        경기도 시흥시 정왕동 2561
4      서울은빛초등학교     서울특별시 은평구 진관동 41-25
...         ...                     ...
23943    장산초등학교        경상북도 경산시 옥산동 872
23944  평택모산초등학교       경기도 평택시 동삭동 367-2
23945   안산해솔중학교  경기도 안산시 상록구 사동 1639-13
23946  전주공업고등학교  전라북도 전주시 덕진구 여의동 548-2
23947    봉선초등학교     광주광역시 남구 봉선동 310-12

[23947 rows x 2 columns]

In [7]:
# 소재지지번주소를 통해 시도명과 시군구명 추출
초중고['시도명'] = 초중고['소재지지번주소'].str.split(" ", expand=True)[0]
초중고['시군구명'] = 초중고['소재지지번주소'].str.split(" ", expand=True)[1]
초중고

            학교명                 소재지지번주소      시도명  시군구명
0        보람초등학교       세종특별자치시 보람동 632-3  세종특별자치시   보람동
1         복흥중학교    전라북도 순창군 복흥면 정산리 686     전라북도   순창군
2        개림초등학교   부산광역시 부산진구 개금동 446-14    부산광역시  부산진구
3       배곧해솔중학교        경기도 시흥시 정왕동 2561      경기도   시흥시
4      서울은빛초등학교     서울특별시 은평구 진관동 41-25    서울특별시   은평구
...         ...                     ...      ...   ...
23943    장산초등학교        경상북도 경산시 옥산동 872     경상북도   경산시
23944  평택모산초등학교       경기도 평택시 동삭동 367-2      경기도   평택시
23945   안산해솔중학교  경기도 안산시 상록구 사동 1639-13      경기도   안산시
23946  전주공업고등학교  전라북도 전주시 덕진구 여의동 548-2     전라북도   전주시
23947    봉선초등학교     광주광역시 남구 봉선동 310-12    광주광역시    남구

[23947 rows x 4 columns]

In [8]:
# 지역명을 '시도명_시군구명'으로 설정
초중고['지역명'] = 초중고['시도명'] + '_' + 초중고['시군구명']
초중고.drop(['소재지지번주소'],axis = 1,inplace = True)
초중고

            학교명      시도명  시군구명          지역명
0        보람초등학교  세종특별자치시   보람동  세종특별자치시_보람동
1         복흥중학교     전라북도   순창군     전라북도_순창군
2        개림초등학교    부산광역시  부산진구   부산광역시_부산진구
3       배곧해솔중학교      경기도   시흥시      경기도_시흥시
4      서울은빛초등학교    서울특별시   은평구    서울특별시_은평구
...         ...      ...   ...          ...
23943    장산초등학교     경상북도   경산시     경상북도_경산시
23944  평택모산초등학교      경기도   평택시      경기도_평택시
23945   안산해솔중학교      경기도   안산시      경기도_안산시
23946  전주공업고등학교     전라북도   전주시     전라북도_전주시
23947    봉선초등학교    광주광역시    남구     광주광역시_남구

[23947 rows x 4 columns]

In [9]:
# 시도명이 '세종특별자치시'인 경우, 시군구명도 '세종특별자치시'로 변경
초중고.loc[초중고.시도명 == '세종특별자치시', '시군구명'] = '세종특별자치시'
초중고.loc[초중고.시도명 == '세종특별자치시', '지역명'] = '세종특별자치시_세종특별자치시'
초중고[초중고.시도명 == '세종특별자치시']

          학교명      시도명     시군구명              지역명
0      보람초등학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
84     가락초등학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
87      금호중학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
98     다빛초등학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
375    솔빛초등학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
...       ...      ...      ...              ...
23421  새롬고등학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
23526  해밀초등학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
23530   해밀중학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
23821  집현초등학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
23936  조치원중학교  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시

[198 rows x 4 columns]

In [10]:
# 지역명 기준으로 초중고 수 count
초중고_수 = 초중고.groupby(초중고['지역명'], as_index=False)['학교명'].count()
초중고_수

          지역명  학교명
0     강원도_강릉시  122
1     강원도_고성군   46
2     강원도_동해시   54
3     강원도_삼척시   82
4     강원도_속초시   38
..        ...  ...
231  충청북도_제천시   86
232  충청북도_증평군   20
233  충청북도_진천군   54
234  충청북도_청주시  364
235  충청북도_충주시  133

[236 rows x 2 columns]

In [11]:
# 데이터 파일 내 주소 입력의 오류 등으로 형식이 다른 데이터 확인
유일지역_idx = 초중고_수['지역명'].value_counts() == 1
유일지역 = 유일지역_idx[유일지역_idx]
유일지역

강원도_강릉시                 True
인천광역시_남동구               True
서울특별시_중구                True
서울특별시_중랑구               True
서울특별시？구로구？개봉동_273-16    True
                        ...
경상북도_영주시                True
경상북도_영천시                True
경상북도_예천군                True
경상북도_울릉군                True
충청북도_충주시                True
Name: 지역명, Length: 236, dtype: bool

In [12]:
# 유일지역 데이터 전체 수정

초중고.loc[초중고.지역명 == '서울특별시？구로구？개봉동_273-16', '시도명'] = '서울특별시'
초중고.loc[초중고.지역명 == '서울특별시？구로구？개봉동_273-16', '시군구명'] = '구로구'
초중고.loc[초중고.지역명 == '서울특별시？구로구？개봉동_273-16', '지역명'] = '서울특별시_구로구'

초중고.loc[초중고.지역명 == '울산광역시？북구_화봉동', '시도명'] = '울산광역시'
초중고.loc[초중고.지역명 == '울산광역시？북구_화봉동', '시군구명'] = '북구'
초중고.loc[초중고.지역명 == '울산광역시？북구_화봉동', '지역명'] = '울산광역시_북구'

초중고.loc[초중고.지역명 == '전북_전주시', '시도명'] = '전라북도'
초중고.loc[초중고.지역명 == '전북_전주시', '시군구명'] = '전주시'
초중고.loc[초중고.지역명 == '전북_전주시', '지역명'] = '전라북도_전주시'

초중고.loc[초중고.지역명 == '전라북도？완주군_봉동읍', '시도명'] = '전라북도'
초중고.loc[초중고.지역명 == '전라북도？완주군_봉동읍', '시군구명'] = '완주군'
초중고.loc[초중고.지역명 == '전라북도？완주군_봉동읍', '지역명'] = '전라북도_완주군'

초중고.loc[초중고.지역명 == '경기도？평택시_비전동', '시도명'] = '경기도'
초중고.loc[초중고.지역명 == '경기도？평택시_비전동', '시군구명'] = '완주군'
초중고.loc[초중고.지역명 == '경기도？평택시_비전동', '지역명'] = '전라북도_완주군'

초중고.loc[초중고.지역명 == '김해시_주촌면', '시도명'] = '경상남도'
초중고.loc[초중고.지역명 == '김해시_주촌면', '시군구명'] = '김해시'
초중고.loc[초중고.지역명 == '김해시_주촌면', '지역명'] = '경상남도_김해시'

초중고.loc[초중고.지역명 == '경기고_파주시', '시도명'] = '경기도'
초중고.loc[초중고.지역명 == '경기고_파주시', '시군구명'] = '파주시'
초중고.loc[초중고.지역명 == '경기고_파주시', '지역명'] = '경기도_파주시'

In [13]:
# 지역명 기준으로 초중고 수 count
초중고_수 = 초중고.groupby(초중고['지역명'], as_index=False)['학교명'].count()
초중고_수

          지역명  학교명
0     강원도_강릉시  122
1     강원도_고성군   46
2     강원도_동해시   54
3     강원도_삼척시   82
4     강원도_속초시   38
..        ...  ...
224  충청북도_제천시   86
225  충청북도_증평군   20
226  충청북도_진천군   54
227  충청북도_청주시  364
228  충청북도_충주시  133

[229 rows x 2 columns]

In [14]:
# 법정동코드 불러오기
법정동코드 = pd.read_csv('../전처리된데이터/시군구별_법정동코드.csv')

In [15]:
# 법정동코드와 초중고_수 merge
시군구별_초중고수 = pd.merge(법정동코드, 초중고_수, on = '지역명', how = 'inner')
시군구별_초중고수.rename(columns = {'학교명' : '초중고_수'}, inplace = True)
시군구별_초중고수

          법정동코드      시도명  시군구명           지역명  초중고_수
0    1111000000    서울특별시   종로구     서울특별시_종로구     72
1    1114000000    서울특별시    중구      서울특별시_중구     60
2    1117000000    서울특별시   용산구     서울특별시_용산구     68
3    1120000000    서울특별시   성동구     서울특별시_성동구     82
4    1121500000    서울특별시   광진구     서울특별시_광진구     86
..          ...      ...   ...           ...    ...
224  4887000000     경상남도   함양군      경상남도_함양군     46
225  4888000000     경상남도   거창군      경상남도_거창군     66
226  4889000000     경상남도   합천군      경상남도_합천군     66
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시    246
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시    154

[229 rows x 5 columns]

## 시군구별 대학교수

In [16]:
# 대학교 데이터 불러오기
대학교 = pd.read_excel('../원본데이터/교육시설/학교개황(20220310기준).xls')
대학교

,학교구분,학교코드,학교명,본분교,학제,지역,설립구분,관련법령,법인명,학교상태,...,영문학교명,주소,영문주소,중문주소,우편번호,학교개교일,학교홈페이지,총장(대학원장)명,학교대표\r\n번호,학교대표\r\n팩스번호
0,대학,1,강릉원주대학교,본교,대학교,강원,국립,고등교육법,해당없음,기존,...,Gangneung Wonju National University,"강원도 강릉시 죽헌길 7 (지변동, 강릉원주대학교)","7, Jukheon-gil, Gangneung-si, Gangwon-do, Repu...","7, Jukheon-gil, Gangneung-si, Gangwon-do, Repu...",25457.0,1979-03-01,www.gwnu.ac.kr,반선섭,033-642-7001,033-643-7110
1,대학,2,강릉원주대학교,제2캠퍼스,대학교,강원,국립,고등교육법,해당없음,기존,...,Gangneung Wonju National University,"강원도 원주시 흥업면 남원로 150 (흥업리, 강릉원주대학교원주캠퍼스)","150, Namwon-ro, Heungeop-myeon, Wonju-si, Gang...","150, Namwon-ro, Heungeop-myeon, Wonju-si, Gang...",26403.0,2007-03-01,www.gwnu.ac.kr,반선섭,033-760-8020,033-760-8029
2,대학,3,강원대학교,본교,대학교,강원,국립,고등교육법,해당없음,기존,...,Kangwon National University,"강원도 춘천시 강원대학길 1 (효자동, 강원대학교)","1, Gangwondaehak-gil, Chuncheon-si, Gangwon-do...","1, Gangwondaehak-gil, Chuncheon-si, Gangwon-do...",24341.0,1970-03-01,www.kangwon.ac.kr/,김헌영,033-250-6114,033-251-9556
3,대학,4,강원대학교,제2캠퍼스,대학교,강원,국립,고등교육법,해당없음,기존,...,Kangwon National University,"강원도 삼척시 중앙로 346 (교동, 강원대학교삼척캠퍼스)","346, Jungang-ro, Samcheok-si, Gangwon-do, Repu...","346, Jungang-ro, Samcheok-si, Gangwon-do, Repu...",25913.0,2006-03-01,www.kangwon.ac.kr/,김헌영,033-570-6114,033-572-8620
4,대학,5,경북대학교,본교,대학교,대구,국립,고등교육법,해당없음,기존,...,Kyungpook National University,"대구광역시 북구 대학로 80 (산격동, 경북대학교)","80, Daehak-ro, Buk-gu, Daegu, Republic of Korea","80, Daehak-ro, Buk-gu, Daegu, Republic of Korea",41566.0,1946-05-28,www.knu.ac.kr,홍원화,053-950-5114,053-950-2149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008,대학원,3161,백석대학교 일반대학원,본교,일반대학원,서울,사립,고등교육법,백석대학교,신설,...,Graduate School of Baekseok University,충청남도 천안시 동남구 백석대학로 1(안서동),"1, Baekseokdaehak-ro, Dongnam-gu, Cheonan-si, ...","1, Baekseokdaehak-ro, Dongnam-gu, Cheonan-si, ...",31065.0,2022-03-02,NaN,장종현,02-520-0715,02-520-0720
2009,대학원,3162,을지대학교 보건복지대학원,제3캠퍼스,특수대학원,경기,사립,고등교육법,을지학원,신설,...,"Eulji University, Graduate School of Health an...",경기도 의정부시 동일로 712(금오동),"712, Dongil-ro, Uijeongbu-si, Gyeonggi-do","712, Dongil-ro, Uijeongbu-si, Gyeonggi-do",11759.0,2002-10-30,www.eulji.ac.kr,김규호,031-951-3621,031-951-3913
2010,전문대학,3163,한국폴리텍 VII 대학 동부산캠퍼스,본교,기능대학,부산,사립,근로자직업능력개발법,한국폴리텍,신설,...,Korea Polytechnics Dongbusan Campus,부산광역시 기장군 정관읍 산단4로 2-69,"2-69, Sandan 4-ro, Jeonggwan-eup, Gijang-gun, ...","2-69, Sandan 4-ro, Jeonggwan-eup, Gijang-gun, ...",46027.0,1972-09-01,www.kopo.ac.kr/dongbusan,황선구,051-609-6000,051-728-5586
2011,대학원,3164,영남대학교 경영행정대학원,본교,특수대학원,대구,사립,고등교육법,영남학원,신설,...,GRADUATE SCHOOL OF BUSINESS ADMINISTRATION & P...,대구광역시 남구 현충로 170(대명동),"170, Hyeonchung-ro, Nam-gu, Daegu","170, Hyeonchung-ro, Nam-gu, Daegu",42415.0,2022-03-01,NaN,김상현,053)810-4912,053)621-5346
2012,대학원,3165,한국에너지공과대학교 대학원,본교,일반대학원,전남,특별법법인,한국에너지공과대학교법,학교법인 한국전력공과대학교,신설,...,Korea Insitute of Energy Technology,전라남도 나주시 혁신로 200(빛가람동),"200, Hyeoksin-ro, Naju-si, Jeollanam-do","200, Hyeoksin-ro, Naju-si, Jeollanam-do",58330.0,2022-03-02,kentech.ac.kr,박성주,061-330-9626,061-333-9627

In [17]:
대학교.columns

Index(['학교구분', '학교코드', '학교명', '본분교', '학제', '지역', '설립구분', '관련법령', '법인명', '학교상태',
       '중문학교명', '영문학교명', '주소', '영문주소', '중문주소', '우편번호', '학교개교일', '학교홈페이지',
       '총장(대학원장)명', '학교대표\r\n번호', '학교대표\r\n팩스번호'],
      dtype='object')

In [18]:
# 학교가 폐교하였거나 대학원인 행 제거
대학교 = 대학교[~대학교['학교상태'].str.contains("폐교", na=False, case=False)]
대학교 = 대학교[~대학교['학교명'].str.contains("대학원", na=False, case=False)]

In [19]:
학교명 = 대학교.loc[:,'학교명']
주소 = 대학교.loc[:,'주소']

In [20]:
# 학교명과 주소 concat
대학교 = pd.concat([학교명, 주소], axis = 1)
대학교

                      학교명                                        주소
0                 강릉원주대학교             강원도 강릉시 죽헌길 7 (지변동, 강릉원주대학교)
1                 강릉원주대학교  강원도 원주시 흥업면 남원로 150 (흥업리, 강릉원주대학교원주캠퍼스)
2                   강원대학교             강원도 춘천시 강원대학길 1 (효자동, 강원대학교)
3                   강원대학교         강원도 삼척시 중앙로 346 (교동, 강원대학교삼척캠퍼스)
4                   경북대학교             대구광역시 북구 대학로 80 (산격동, 경북대학교)
...                   ...                                       ...
1960    한국폴리텍 특성화대학 로봇캠퍼스                  경상북도 영천시 로봇캠퍼스로 1 (화룡동)
1961    한국폴리텍 II 대학 화성캠퍼스
1986           한국에너지공과대학교                   전라남도 나주시 혁신로 200(빛가람동)
2004   한국폴리텍 VII 대학 진주캠퍼스       경상남도 진주시 모덕로 299(하대동) 한국폴리텍대학 진주캠퍼스
2010  한국폴리텍 VII 대학 동부산캠퍼스                  부산광역시 기장군 정관읍 산단4로 2-69

[417 rows x 2 columns]

In [21]:
대학교.isnull().sum()

학교명    0
주소     0
dtype: int64

In [22]:
# 주소를 띄어쓰기 기준으로 시도명 / 시군구명으로 분리
분리 = 대학교['주소'].str.split(' ')
시도명 = 분리.str.get(0)
시군구명 = 분리.str.get(1)

대학교['시도명'], 대학교['시군구명'] = 시도명, 시군구명
대학교

,학교명,주소,시도명,시군구명
0,강릉원주대학교,"강원도 강릉시 죽헌길 7 (지변동, 강릉원주대학교)",강원도,강릉시
1,강릉원주대학교,"강원도 원주시 흥업면 남원로 150 (흥업리, 강릉원주대학교원주캠퍼스)",강원도,원주시
2,강원대학교,"강원도 춘천시 강원대학길 1 (효자동, 강원대학교)",강원도,춘천시
3,강원대학교,"강원도 삼척시 중앙로 346 (교동, 강원대학교삼척캠퍼스)",강원도,삼척시
4,경북대학교,"대구광역시 북구 대학로 80 (산격동, 경북대학교)",대구광역시,북구
...,...,...,...,...
1960,한국폴리텍 특성화대학 로봇캠퍼스,경상북도 영천시 로봇캠퍼스로 1 (화룡동),경상북도,영천시
1961,한국폴리텍 II 대학 화성캠퍼스,,,
1986,한국에너지공과대학교,전라남도 나주시 혁신로 200(빛가람동),전라남도,나주시
2004,한국폴리텍 VII 대학 진주캠퍼스,경상남도 진주시 모덕로 299(하대동) 한국폴리텍대학 진주캠퍼스,경상남도,진주시
2010,한국폴리텍 VII 대학 동부산캠퍼스,부산광역시 기장군 정관읍 산단4로 2-69,부산광역시,기장군

In [23]:
# 지역명을 '시도명_시군구명' 형태로 설정
대학교['지역명'] = 대학교['시도명'] + '_' + 대학교['시군구명']
대학교

,학교명,주소,시도명,시군구명,지역명
0,강릉원주대학교,"강원도 강릉시 죽헌길 7 (지변동, 강릉원주대학교)",강원도,강릉시,강원도_강릉시
1,강릉원주대학교,"강원도 원주시 흥업면 남원로 150 (흥업리, 강릉원주대학교원주캠퍼스)",강원도,원주시,강원도_원주시
2,강원대학교,"강원도 춘천시 강원대학길 1 (효자동, 강원대학교)",강원도,춘천시,강원도_춘천시
3,강원대학교,"강원도 삼척시 중앙로 346 (교동, 강원대학교삼척캠퍼스)",강원도,삼척시,강원도_삼척시
4,경북대학교,"대구광역시 북구 대학로 80 (산격동, 경북대학교)",대구광역시,북구,대구광역시_북구
...,...,...,...,...,...
1960,한국폴리텍 특성화대학 로봇캠퍼스,경상북도 영천시 로봇캠퍼스로 1 (화룡동),경상북도,영천시,경상북도_영천시
1961,한국폴리텍 II 대학 화성캠퍼스,,,,_
1986,한국에너지공과대학교,전라남도 나주시 혁신로 200(빛가람동),전라남도,나주시,전라남도_나주시
2004,한국폴리텍 VII 대학 진주캠퍼스,경상남도 진주시 모덕로 299(하대동) 한국폴리텍대학 진주캠퍼스,경상남도,진주시,경상남도_진주시
2010,한국폴리텍 VII 대학 동부산캠퍼스,부산광역시 기장군 정관읍 산단4로 2-69,부산광역시,기장군,부산광역시_기장군

In [24]:
# 시도명이 '세종특별자치시'인 경우, 시군구명도 '세종특별자치시'로 변경
대학교.loc[대학교.시도명 == '세종특별자치시', '시군구명'] = '세종특별자치시'
대학교.loc[대학교.시도명 == '세종특별자치시', '지역명'] = '세종특별자치시_세종특별자치시'
대학교[대학교.시도명 == '세종특별자치시']

,학교명,주소,시도명,시군구명,지역명
53,고려대학교(세종),"세종특별자치시 조치원읍 세종로 2511 (서창리, 고려대학교세종캠퍼스)",세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
70,대전가톨릭대학교,"세종특별자치시 전의면 가톨릭대학로 30 (신방리, 대전가톨릭대학교)",세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
321,한국영상대학교,"세종특별자치시 장군면 대학길 300 (금암리, 한국영상대학)",세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1808,홍익대학교,"세종특별자치시 조치원읍 세종로 2639 (신안리, 홍익대학교세종캠퍼스)",세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시

In [25]:
# null 값 확인
대학교.isnull().sum()

학교명     0
주소      0
시도명     0
시군구명    0
지역명     0
dtype: int64

In [26]:
# 지역명 기준으로 대학교 수 count
대학교_수 = 대학교.groupby(대학교['지역명'], as_index=False)['학교명'].count()
대학교_수.drop(index = [0], inplace=True)
대학교_수

          지역명  학교명
1     강원도_강릉시    5
2     강원도_고성군    1
3     강원도_삼척시    1
4     강원도_속초시    1
5     강원도_영월군    1
..        ...  ...
145  충청북도_옥천군    1
146  충청북도_음성군    2
147  충청북도_제천시    3
148  충청북도_청주시    9
149  충청북도_충주시    2

[149 rows x 2 columns]

In [27]:
# 유일지역 확인
유일지역_idx = 대학교_수['지역명'].value_counts() == 1
유일지역 = 유일지역_idx[유일지역_idx]
유일지역

강원도_강릉시      True
서울특별시_성북구    True
서울특별시_용산구    True
서울특별시_은평구    True
서울특별시_종로구    True
             ...
경상북도_영주시     True
경상북도_영천시     True
경상북도_예천군     True
경상북도_칠곡군     True
충청북도_충주시     True
Name: 지역명, Length: 149, dtype: bool

In [28]:
# 유일지역 데이터 전체 수정

대학교.loc[대학교.지역명 == '충남_아산시', '시도명'] = '충청남도'
대학교.loc[대학교.지역명 == '충남_아산시', '시군구명'] = '아산시'
대학교.loc[대학교.지역명 == '충남_아산시', '지역명'] = '충청남도_아산시'

대학교.loc[대학교.지역명 == '경남_진주시', '시도명'] = '경상남도'
대학교.loc[대학교.지역명 == '경남_진주시', '시군구명'] = '진주시'
대학교.loc[대학교.지역명 == '경남_진주시', '지역명'] = '경상남도_진주시'

대학교.loc[대학교.지역명 == '부산_금정구', '시도명'] = '부산광역시'
대학교.loc[대학교.지역명 == '부산_금정구', '시군구명'] = '금정구'
대학교.loc[대학교.지역명 == '부산_금정구', '지역명'] = '부산광역시_금정구'

대학교.loc[대학교.지역명 == '인천광역시_남구', '시도명'] = '인천광역시'
대학교.loc[대학교.지역명 == '인천광역시_남구', '시군구명'] = '미추홀구'
대학교.loc[대학교.지역명 == '인천광역시_남구', '지역명'] = '인천광역시_미추홀구'

In [29]:
# 지역명 기준으로 대학교 수 count
대학교_수 = 대학교.groupby(대학교['지역명'], as_index=False)['학교명'].count()
대학교_수.drop(index = [0], inplace=True)
대학교_수.rename(columns = {'학교명' : '대학교_수'}, inplace = True)
대학교_수

          지역명  대학교_수
1     강원도_강릉시      5
2     강원도_고성군      1
3     강원도_삼척시      1
4     강원도_속초시      1
5     강원도_영월군      1
..        ...    ...
143  충청북도_옥천군      1
144  충청북도_음성군      2
145  충청북도_제천시      3
146  충청북도_청주시      9
147  충청북도_충주시      2

[147 rows x 2 columns]

In [30]:
# 법정동코드와 대학교 수 merge
시군구별_대학교수 = pd.merge(법정동코드, 대학교_수, on = '지역명', how = 'outer')
시군구별_대학교수 = 시군구별_대학교수.fillna(0)
시군구별_대학교수['대학교_수'] = 시군구별_대학교수['대학교_수'].astype('int64')
시군구별_대학교수

          법정동코드      시도명  시군구명           지역명  대학교_수
0    1111000000    서울특별시   종로구     서울특별시_종로구      7
1    1114000000    서울특별시    중구      서울특별시_중구      2
2    1117000000    서울특별시   용산구     서울특별시_용산구      2
3    1120000000    서울특별시   성동구     서울특별시_성동구      3
4    1121500000    서울특별시   광진구     서울특별시_광진구      4
..          ...      ...   ...           ...    ...
224  4887000000     경상남도   함양군      경상남도_함양군      0
225  4888000000     경상남도   거창군      경상남도_거창군      2
226  4889000000     경상남도   합천군      경상남도_합천군      0
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시      5
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시      0

[229 rows x 5 columns]

In [31]:
# 시군구별_초중고수와 시군구별_대학교수를 통해 시군구별_교육시설 인프라 생성
시군구별_교육시설 = pd.concat([시군구별_초중고수, 시군구별_대학교수['대학교_수']], axis = 1)
시군구별_교육시설

          법정동코드      시도명  시군구명           지역명  초중고_수  대학교_수
0    1111000000    서울특별시   종로구     서울특별시_종로구     72      7
1    1114000000    서울특별시    중구      서울특별시_중구     60      2
2    1117000000    서울특별시   용산구     서울특별시_용산구     68      2
3    1120000000    서울특별시   성동구     서울특별시_성동구     82      3
4    1121500000    서울특별시   광진구     서울특별시_광진구     86      4
..          ...      ...   ...           ...    ...    ...
224  4887000000     경상남도   함양군      경상남도_함양군     46      0
225  4888000000     경상남도   거창군      경상남도_거창군     66      2
226  4889000000     경상남도   합천군      경상남도_합천군     66      0
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시    246      5
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시    154      0

[229 rows x 6 columns]

In [32]:
# 법정동코드를 index로 설정
시군구별_교육시설.set_index('법정동코드', inplace = True)

In [33]:
# 시군구별_교육시설 파일 반환
시군구별_교육시설.to_csv('../전처리된데이터/시군구별_교육시설.csv')

# 시군구별 교통시설

In [34]:
# 대중교통 서비스별 만족도 현황 데이터 불러오기
교통 = pd.read_csv('../원본데이터/교통시설/한국교통안전공단_전국 지역별 대중교통 서비스별 만족도 현황_20201231.csv', encoding='cp949')

In [35]:
교통

,구분1,구분2,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,운영서비스,노선체계적절성,5.01,4.91,4.80,4.75,4.76,4.82,4.71,4.57,4.71,4.58,4.51,4.59,4.60,4.79,4.55,4.79,4.77
1,운영서비스,배차간격적절성,4.65,4.55,4.45,4.32,4.34,4.47,4.25,4.06,4.26,4.63,4.12,4.12,4.25,4.52,4.15,4.43,4.39
2,운영서비스,이용요금합리성,4.81,4.70,4.67,4.54,4.61,4.69,4.52,4.48,4.53,4.47,4.45,4.48,4.46,4.64,4.47,4.61,4.58
3,운영서비스,대중교통운영체계구축,4.77,4.68,4.67,4.61,4.53,4.64,4.42,4.36,4.51,4.48,4.36,4.37,4.40,4.67,4.41,4.58,4.58
4,이용환경서비스,기사-역무원친절도,4.49,4.43,4.40,4.36,4.48,4.59,4.44,4.58,4.30,4.76,4.38,4.45,4.42,4.48,4.34,4.49,4.53
5,이용환경서비스,내부시설이용편리성,4.48,4.46,4.42,4.39,4.49,4.63,4.38,4.43,4.35,4.56,4.41,4.40,4.37,4.41,4.30,4.46,4.41
6,이용환경서비스,교통약자시설,4.55,4.52,4.49,4.47,4.49,4.54,4.42,4.39,4.41,4.55,4.41,4.50,4.41,4.44,4.42,4.53,4.49
7,쾌적환경서비스,차량내부혼잡도,3.64,3.83,3.94,3.76,3.98,4.02,4.05,4.21,3.57,4.44,4.10,4.11,4.14,4.26,4.09,4.13,4.24
8,쾌적환경서비스,이용시설청결성,4.48,4.37,4.42,4.35,4.34,4.45,4.17,4.34,4.18,4.33,4.25,4.30,4.25,4.37,4.28,4.32,4.38
9,안전환경서비스,(버스)급출발-급제동-차로변경-안전거리확보,4.43,4.23,4.33,4.13,4.43,4.51,4.34,4.59,4.26,4.51,4.45,4.51,4.46,4.61,4.41,4.43,4.54
10,안전환경서비스,(버스)비상시대처방안안내,4.04,4.23,4.26,4.09,4.27,4.50,4.35,4.57,3.96,4.52,4.42,4.45,4.41,4.53,4.43,4.44,4.54
11,안전환경서비스,(지하철)급출발-급정거-정확한위치정차,4.70,4.78,4.71,4.76,4.87,4.66,NaN,NaN,4.66,4.49,NaN,4.94,NaN,NaN,4.90,4.72,NaN
12,안전환경서비스,(지하철)비상시대처방안안내,4.53,4.55,4.63,4.53,4.52,4.71,NaN,NaN,4.47,4.66,NaN,4.45,NaN,NaN,4.44,4.52,NaN
13,정보제공서비스,대중교통정보제공시스템구축,4.94,4.90,4.90,4.91,4.81,4.86,4.82,4.83,4.81,4.75,4.70,4.83,4.74,4.77,4.75,4.77,4.77
14,정보제공서비스,대중교통제공정보정확성,4.86,4.88,4.84,4.81,4.75,4.79,4.69,4.77,4.76,4.73,4.67,4.79,4.72,4.75,4.76,4.77,4.85
15,정보제공서비스,대중교통변경정보제공,4.79,4.78,4.77,4.78,4.66,4.74,4.69,4.73,4.66,4.64,4.59,4.70,4.63,4.63,4.62,4.65,4.76
16,환승서비스,환승노선(체계)구축,4.79,4.80,4.72,4.74,4.65,4.74,4.66,4.60,4.66,4.65,4.65,4.72,4.64,4.71,4.67,4.74,4.68
17,환승서비스,환승정보제공적절성,4.79,4.72,4.73,4.70,4.63,4.67,4.58,4.58,4.61,4.50,4.54,4.57,4.47,4.69,4.61,4.70,4.65
18,환승서비스,환승요금적절성,4.86,4.88,4.99,4.82,4.78,4.98,4.84,4.88,4.77,4.84,4.88,4.87,4.82,4.95,4.91,4.89,4.92

In [36]:
# 구분1과 구분2를 합쳐서 구분으로 저장
교통['구분'] = 교통['구분1'] + '_' + 교통['구분2']
교통

,구분1,구분2,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주,구분
0,운영서비스,노선체계적절성,5.01,4.91,4.80,4.75,4.76,4.82,4.71,4.57,4.71,4.58,4.51,4.59,4.60,4.79,4.55,4.79,4.77,운영서비스_노선체계적절성
1,운영서비스,배차간격적절성,4.65,4.55,4.45,4.32,4.34,4.47,4.25,4.06,4.26,4.63,4.12,4.12,4.25,4.52,4.15,4.43,4.39,운영서비스_배차간격적절성
2,운영서비스,이용요금합리성,4.81,4.70,4.67,4.54,4.61,4.69,4.52,4.48,4.53,4.47,4.45,4.48,4.46,4.64,4.47,4.61,4.58,운영서비스_이용요금합리성
3,운영서비스,대중교통운영체계구축,4.77,4.68,4.67,4.61,4.53,4.64,4.42,4.36,4.51,4.48,4.36,4.37,4.40,4.67,4.41,4.58,4.58,운영서비스_대중교통운영체계구축
4,이용환경서비스,기사-역무원친절도,4.49,4.43,4.40,4.36,4.48,4.59,4.44,4.58,4.30,4.76,4.38,4.45,4.42,4.48,4.34,4.49,4.53,이용환경서비스_기사-역무원친절도
5,이용환경서비스,내부시설이용편리성,4.48,4.46,4.42,4.39,4.49,4.63,4.38,4.43,4.35,4.56,4.41,4.40,4.37,4.41,4.30,4.46,4.41,이용환경서비스_내부시설이용편리성
6,이용환경서비스,교통약자시설,4.55,4.52,4.49,4.47,4.49,4.54,4.42,4.39,4.41,4.55,4.41,4.50,4.41,4.44,4.42,4.53,4.49,이용환경서비스_교통약자시설
7,쾌적환경서비스,차량내부혼잡도,3.64,3.83,3.94,3.76,3.98,4.02,4.05,4.21,3.57,4.44,4.10,4.11,4.14,4.26,4.09,4.13,4.24,쾌적환경서비스_차량내부혼잡도
8,쾌적환경서비스,이용시설청결성,4.48,4.37,4.42,4.35,4.34,4.45,4.17,4.34,4.18,4.33,4.25,4.30,4.25,4.37,4.28,4.32,4.38,쾌적환경서비스_이용시설청결성
9,안전환경서비스,(버스)급출발-급제동-차로변경-안전거리확보,4.43,4.23,4.33,4.13,4.43,4.51,4.34,4.59,4.26,4.51,4.45,4.51,4.46,4.61,4.41,4.43,4.54,안전환경서비스_(버스)급출발-급제동-차로변경-안전거리확보
10,안전환경서비스,(버스)비상시대처방안안내,4.04,4.23,4.26,4.09,4.27,4.50,4.35,4.57,3.96,4.52,4.42,4.45,4.41,4.53,4.43,4.44,4.54,안전환경서비스_(버스)비상시대처방안안내
11,안전환경서비스,(지하철)급출발-급정거-정확한위치정차,4.70,4.78,4.71,4.76,4.87,4.66,NaN,NaN,4.66,4.49,NaN,4.94,NaN,NaN,4.90,4.72,NaN,안전환경서비스_(지하철)급출발-급정거-정확한위치정차
12,안전환경서비스,(지하철)비상시대처방안안내,4.53,4.55,4.63,4.53,4.52,4.71,NaN,NaN,4.47,4.66,NaN,4.45,NaN,NaN,4.44,4.52,NaN,안전환경서비스_(지하철)비상시대처방안안내
13,정보제공서비스,대중교통정보제공시스템구축,4.94,4.90,4.90,4.91,4.81,4.86,4.82,4.83,4.81,4.75,4.70,4.83,4.74,4.77,4.75,4.77,4.77,정보제공서비스_대중교통정보제공시스템구축
14,정보제공서비스,대중교통제공정보정확성,4.86,4.88,4.84,4.81,4.75,4.79,4.69,4.77,4.76,4.73,4.67,4.79,4.72,4.75,4.76,4.77,4.85,정보제공서비스_대중교통제공정보정확성
15,정보제공서비스,대중교통변경정보제공,4.79,4.78,4.77,4.78,4.66,4.74,4.69,4.73,4.66,4.64,4.59,4.70,4.63,4.63,4.62,4.65,4.76,정보제공서비스_대중교통변경정보제공
16,환승서비스,환승노선(체계)구축,4.79,4.80,4.72,4.74,4.65,4.74,4.66,4.60,4.66,4.65,4.65,4.72,4.64,4.71,4.67,4.74,4.68,환승서비스_환승노선(체계)구축
17,환승서비스,환승정보제공적절성,4.79,4.72,4.73,4.70,4.63,4.67,4.58,4.58,4.61,4.50,4.54,4.57,4.47,4.69,4.61,4.70,4.65,환승서비스_환승정보제공적절성
18,환승서비스,환승요금적절성,4.86,4.88,4.99,4.82,4.78,4.98,4.84,4.88,4.77,4.84,4.88,4.87,4.82,4.95,4.91,4.89,4.92,환승서비스_환승요금적절성

In [37]:
# 구분을 index로 설정
교통.set_index('구분', inplace = True)
교통

,구분1,구분2,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
구분,,,,,,,,,,,,,,,,,,,
운영서비스_노선체계적절성,운영서비스,노선체계적절성,5.01,4.91,4.80,4.75,4.76,4.82,4.71,4.57,4.71,4.58,4.51,4.59,4.60,4.79,4.55,4.79,4.77
운영서비스_배차간격적절성,운영서비스,배차간격적절성,4.65,4.55,4.45,4.32,4.34,4.47,4.25,4.06,4.26,4.63,4.12,4.12,4.25,4.52,4.15,4.43,4.39
운영서비스_이용요금합리성,운영서비스,이용요금합리성,4.81,4.70,4.67,4.54,4.61,4.69,4.52,4.48,4.53,4.47,4.45,4.48,4.46,4.64,4.47,4.61,4.58
운영서비스_대중교통운영체계구축,운영서비스,대중교통운영체계구축,4.77,4.68,4.67,4.61,4.53,4.64,4.42,4.36,4.51,4.48,4.36,4.37,4.40,4.67,4.41,4.58,4.58
이용환경서비스_기사-역무원친절도,이용환경서비스,기사-역무원친절도,4.49,4.43,4.40,4.36,4.48,4.59,4.44,4.58,4.30,4.76,4.38,4.45,4.42,4.48,4.34,4.49,4.53
이용환경서비스_내부시설이용편리성,이용환경서비스,내부시설이용편리성,4.48,4.46,4.42,4.39,4.49,4.63,4.38,4.43,4.35,4.56,4.41,4.40,4.37,4.41,4.30,4.46,4.41
이용환경서비스_교통약자시설,이용환경서비스,교통약자시설,4.55,4.52,4.49,4.47,4.49,4.54,4.42,4.39,4.41,4.55,4.41,4.50,4.41,4.44,4.42,4.53,4.49
쾌적환경서비스_차량내부혼잡도,쾌적환경서비스,차량내부혼잡도,3.64,3.83,3.94,3.76,3.98,4.02,4.05,4.21,3.57,4.44,4.10,4.11,4.14,4.26,4.09,4.13,4.24
쾌적환경서비스_이용시설청결성,쾌적환경서비스,이용시설청결성,4.48,4.37,4.42,4.35,4.34,4.45,4.17,4.34,4.18,4.33,4.25,4.30,4.25,4.37,4.28,4.32,4.38
안전환경서비스_(버스)급출발-급제동-차로변경-안전거리확보,안전환경서비스,(버스)급출발-급제동-차로변경-안전거리확보,4.43,4.23,4.33,4.13,4.43,4.51,4.34,4.59,4.26,4.51,4.45,4.51,4.46,4.61,4.41,4.43,4.54
안전환경서비스_(버스)비상시대처방안안내,안전환경서비스,(버스)비상시대처방안안내,4.04,4.23,4.26,4.09,4.27,4.50,4.35,4.57,3.96,4.52,4.42,4.45,4.41,4.53,4.43,4.44,4.54
안전환경서비스_(지하철)급출발-급정거-정확한위치정차,안전환경서비스,(지하철)급출발-급정거-정확한위치정차,4.70,4.78,4.71,4.76,4.87,4.66,NaN,NaN,4.66,4.49,NaN,4.94,NaN,NaN,4.90,4.72,NaN
안전환경서비스_(지하철)비상시대처방안안내,안전환경서비스,(지하철)비상시대처방안안내,4.53,4.55,4.63,4.53,4.52,4.71,NaN,NaN,4.47,4.66,NaN,4.45,NaN,NaN,4.44,4.52,NaN
정보제공서비스_대중교통정보제공시스템구축,정보제공서비스,대중교통정보제공시스템구축,4.94,4.90,4.90,4.91,4.81,4.86,4.82,4.83,4.81,4.75,4.70,4.83,4.74,4.77,4.75,4.77,4.77
정보제공서비스_대중교통제공정보정확성,정보제공서비스,대중교통제공정보정확성,4.86,4.88,4.84,4.81,4.75,4.79,4.69,4.77,4.76,4.73,4.67,4.79,4.72,4.75,4.76,4.77,4.85
정보제공서비스_대중교통변경정보제공,정보제공서비스,대중교통변경정보제공,4.79,4.78,4.77,4.78,4.66,4.74,4.69,4.73,4.66,4.64,4.59,4.70,4.63,4.63,4.62,4.65,4.76
환승서비스_환승노선(체계)구축,환승서비스,환승노선(체계)구축,4.79,4.80,4.72,4.74,4.65,4.74,4.66,4.60,4.66,4.65,4.65,4.72,4.64,4.71,4.67,4.74,4.68
환승서비스_환승정보제공적절성,환승서비스,환승정보제공적절성,4.79,4.72,4.73,4.70,4.63,4.67,4.58,4.58,4.61,4.50,4.54,4.57,4.47,4.69,4.61,4.70,4.65
환승서비스_환승요금적절성,환승서비스,환승요금적절성,4.86,4.88,4.99,4.82,4.78,4.98,4.84,4.88,4.77,4.84,4.88,4.87,4.82,4.95,4.91,4.89,4.92

In [38]:
# 구분1과 구분2 drop
교통.drop(['구분1', '구분2'], axis = 1, inplace = True)
교통

,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
구분,,,,,,,,,,,,,,,,,
운영서비스_노선체계적절성,5.01,4.91,4.80,4.75,4.76,4.82,4.71,4.57,4.71,4.58,4.51,4.59,4.60,4.79,4.55,4.79,4.77
운영서비스_배차간격적절성,4.65,4.55,4.45,4.32,4.34,4.47,4.25,4.06,4.26,4.63,4.12,4.12,4.25,4.52,4.15,4.43,4.39
운영서비스_이용요금합리성,4.81,4.70,4.67,4.54,4.61,4.69,4.52,4.48,4.53,4.47,4.45,4.48,4.46,4.64,4.47,4.61,4.58
운영서비스_대중교통운영체계구축,4.77,4.68,4.67,4.61,4.53,4.64,4.42,4.36,4.51,4.48,4.36,4.37,4.40,4.67,4.41,4.58,4.58
이용환경서비스_기사-역무원친절도,4.49,4.43,4.40,4.36,4.48,4.59,4.44,4.58,4.30,4.76,4.38,4.45,4.42,4.48,4.34,4.49,4.53
이용환경서비스_내부시설이용편리성,4.48,4.46,4.42,4.39,4.49,4.63,4.38,4.43,4.35,4.56,4.41,4.40,4.37,4.41,4.30,4.46,4.41
이용환경서비스_교통약자시설,4.55,4.52,4.49,4.47,4.49,4.54,4.42,4.39,4.41,4.55,4.41,4.50,4.41,4.44,4.42,4.53,4.49
쾌적환경서비스_차량내부혼잡도,3.64,3.83,3.94,3.76,3.98,4.02,4.05,4.21,3.57,4.44,4.10,4.11,4.14,4.26,4.09,4.13,4.24
쾌적환경서비스_이용시설청결성,4.48,4.37,4.42,4.35,4.34,4.45,4.17,4.34,4.18,4.33,4.25,4.30,4.25,4.37,4.28,4.32,4.38
안전환경서비스_(버스)급출발-급제동-차로변경-안전거리확보,4.43,4.23,4.33,4.13,4.43,4.51,4.34,4.59,4.26,4.51,4.45,4.51,4.46,4.61,4.41,4.43,4.54
안전환경서비스_(버스)비상시대처방안안내,4.04,4.23,4.26,4.09,4.27,4.50,4.35,4.57,3.96,4.52,4.42,4.45,4.41,4.53,4.43,4.44,4.54
안전환경서비스_(지하철)급출발-급정거-정확한위치정차,4.70,4.78,4.71,4.76,4.87,4.66,NaN,NaN,4.66,4.49,NaN,4.94,NaN,NaN,4.90,4.72,NaN
안전환경서비스_(지하철)비상시대처방안안내,4.53,4.55,4.63,4.53,4.52,4.71,NaN,NaN,4.47,4.66,NaN,4.45,NaN,NaN,4.44,4.52,NaN
정보제공서비스_대중교통정보제공시스템구축,4.94,4.90,4.90,4.91,4.81,4.86,4.82,4.83,4.81,4.75,4.70,4.83,4.74,4.77,4.75,4.77,4.77
정보제공서비스_대중교통제공정보정확성,4.86,4.88,4.84,4.81,4.75,4.79,4.69,4.77,4.76,4.73,4.67,4.79,4.72,4.75,4.76,4.77,4.85
정보제공서비스_대중교통변경정보제공,4.79,4.78,4.77,4.78,4.66,4.74,4.69,4.73,4.66,4.64,4.59,4.70,4.63,4.63,4.62,4.65,4.76
환승서비스_환승노선(체계)구축,4.79,4.80,4.72,4.74,4.65,4.74,4.66,4.60,4.66,4.65,4.65,4.72,4.64,4.71,4.67,4.74,4.68
환승서비스_환승정보제공적절성,4.79,4.72,4.73,4.70,4.63,4.67,4.58,4.58,4.61,4.50,4.54,4.57,4.47,4.69,4.61,4.70,4.65
환승서비스_환승요금적절성,4.86,4.88,4.99,4.82,4.78,4.98,4.84,4.88,4.77,4.84,4.88,4.87,4.82,4.95,4.91,4.89,4.92

In [39]:
# index 설정 해제
교통.reset_index(inplace = True)
교통

,구분,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,운영서비스_노선체계적절성,5.01,4.91,4.80,4.75,4.76,4.82,4.71,4.57,4.71,4.58,4.51,4.59,4.60,4.79,4.55,4.79,4.77
1,운영서비스_배차간격적절성,4.65,4.55,4.45,4.32,4.34,4.47,4.25,4.06,4.26,4.63,4.12,4.12,4.25,4.52,4.15,4.43,4.39
2,운영서비스_이용요금합리성,4.81,4.70,4.67,4.54,4.61,4.69,4.52,4.48,4.53,4.47,4.45,4.48,4.46,4.64,4.47,4.61,4.58
3,운영서비스_대중교통운영체계구축,4.77,4.68,4.67,4.61,4.53,4.64,4.42,4.36,4.51,4.48,4.36,4.37,4.40,4.67,4.41,4.58,4.58
4,이용환경서비스_기사-역무원친절도,4.49,4.43,4.40,4.36,4.48,4.59,4.44,4.58,4.30,4.76,4.38,4.45,4.42,4.48,4.34,4.49,4.53
5,이용환경서비스_내부시설이용편리성,4.48,4.46,4.42,4.39,4.49,4.63,4.38,4.43,4.35,4.56,4.41,4.40,4.37,4.41,4.30,4.46,4.41
6,이용환경서비스_교통약자시설,4.55,4.52,4.49,4.47,4.49,4.54,4.42,4.39,4.41,4.55,4.41,4.50,4.41,4.44,4.42,4.53,4.49
7,쾌적환경서비스_차량내부혼잡도,3.64,3.83,3.94,3.76,3.98,4.02,4.05,4.21,3.57,4.44,4.10,4.11,4.14,4.26,4.09,4.13,4.24
8,쾌적환경서비스_이용시설청결성,4.48,4.37,4.42,4.35,4.34,4.45,4.17,4.34,4.18,4.33,4.25,4.30,4.25,4.37,4.28,4.32,4.38
9,안전환경서비스_(버스)급출발-급제동-차로변경-안전거리확보,4.43,4.23,4.33,4.13,4.43,4.51,4.34,4.59,4.26,4.51,4.45,4.51,4.46,4.61,4.41,4.43,4.54
10,안전환경서비스_(버스)비상시대처방안안내,4.04,4.23,4.26,4.09,4.27,4.50,4.35,4.57,3.96,4.52,4.42,4.45,4.41,4.53,4.43,4.44,4.54
11,안전환경서비스_(지하철)급출발-급정거-정확한위치정차,4.70,4.78,4.71,4.76,4.87,4.66,NaN,NaN,4.66,4.49,NaN,4.94,NaN,NaN,4.90,4.72,NaN
12,안전환경서비스_(지하철)비상시대처방안안내,4.53,4.55,4.63,4.53,4.52,4.71,NaN,NaN,4.47,4.66,NaN,4.45,NaN,NaN,4.44,4.52,NaN
13,정보제공서비스_대중교통정보제공시스템구축,4.94,4.90,4.90,4.91,4.81,4.86,4.82,4.83,4.81,4.75,4.70,4.83,4.74,4.77,4.75,4.77,4.77
14,정보제공서비스_대중교통제공정보정확성,4.86,4.88,4.84,4.81,4.75,4.79,4.69,4.77,4.76,4.73,4.67,4.79,4.72,4.75,4.76,4.77,4.85
15,정보제공서비스_대중교통변경정보제공,4.79,4.78,4.77,4.78,4.66,4.74,4.69,4.73,4.66,4.64,4.59,4.70,4.63,4.63,4.62,4.65,4.76
16,환승서비스_환승노선(체계)구축,4.79,4.80,4.72,4.74,4.65,4.74,4.66,4.60,4.66,4.65,4.65,4.72,4.64,4.71,4.67,4.74,4.68
17,환승서비스_환승정보제공적절성,4.79,4.72,4.73,4.70,4.63,4.67,4.58,4.58,4.61,4.50,4.54,4.57,4.47,4.69,4.61,4.70,4.65
18,환승서비스_환승요금적절성,4.86,4.88,4.99,4.82,4.78,4.98,4.84,4.88,4.77,4.84,4.88,4.87,4.82,4.95,4.91,4.89,4.92

In [40]:
# 안전환경서비스를 포함하는 행 제거 (결측치 다수)
교통 = 교통[~교통['구분'].str.contains("안전환경서비스", na=False, case=False)]
교통

,구분,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
0,운영서비스_노선체계적절성,5.01,4.91,4.80,4.75,4.76,4.82,4.71,4.57,4.71,4.58,4.51,4.59,4.60,4.79,4.55,4.79,4.77
1,운영서비스_배차간격적절성,4.65,4.55,4.45,4.32,4.34,4.47,4.25,4.06,4.26,4.63,4.12,4.12,4.25,4.52,4.15,4.43,4.39
2,운영서비스_이용요금합리성,4.81,4.70,4.67,4.54,4.61,4.69,4.52,4.48,4.53,4.47,4.45,4.48,4.46,4.64,4.47,4.61,4.58
3,운영서비스_대중교통운영체계구축,4.77,4.68,4.67,4.61,4.53,4.64,4.42,4.36,4.51,4.48,4.36,4.37,4.40,4.67,4.41,4.58,4.58
4,이용환경서비스_기사-역무원친절도,4.49,4.43,4.40,4.36,4.48,4.59,4.44,4.58,4.30,4.76,4.38,4.45,4.42,4.48,4.34,4.49,4.53
5,이용환경서비스_내부시설이용편리성,4.48,4.46,4.42,4.39,4.49,4.63,4.38,4.43,4.35,4.56,4.41,4.40,4.37,4.41,4.30,4.46,4.41
6,이용환경서비스_교통약자시설,4.55,4.52,4.49,4.47,4.49,4.54,4.42,4.39,4.41,4.55,4.41,4.50,4.41,4.44,4.42,4.53,4.49
7,쾌적환경서비스_차량내부혼잡도,3.64,3.83,3.94,3.76,3.98,4.02,4.05,4.21,3.57,4.44,4.10,4.11,4.14,4.26,4.09,4.13,4.24
8,쾌적환경서비스_이용시설청결성,4.48,4.37,4.42,4.35,4.34,4.45,4.17,4.34,4.18,4.33,4.25,4.30,4.25,4.37,4.28,4.32,4.38
13,정보제공서비스_대중교통정보제공시스템구축,4.94,4.90,4.90,4.91,4.81,4.86,4.82,4.83,4.81,4.75,4.70,4.83,4.74,4.77,4.75,4.77,4.77
14,정보제공서비스_대중교통제공정보정확성,4.86,4.88,4.84,4.81,4.75,4.79,4.69,4.77,4.76,4.73,4.67,4.79,4.72,4.75,4.76,4.77,4.85
15,정보제공서비스_대중교통변경정보제공,4.79,4.78,4.77,4.78,4.66,4.74,4.69,4.73,4.66,4.64,4.59,4.70,4.63,4.63,4.62,4.65,4.76
16,환승서비스_환승노선(체계)구축,4.79,4.80,4.72,4.74,4.65,4.74,4.66,4.60,4.66,4.65,4.65,4.72,4.64,4.71,4.67,4.74,4.68
17,환승서비스_환승정보제공적절성,4.79,4.72,4.73,4.70,4.63,4.67,4.58,4.58,4.61,4.50,4.54,4.57,4.47,4.69,4.61,4.70,4.65
18,환승서비스_환승요금적절성,4.86,4.88,4.99,4.82,4.78,4.98,4.84,4.88,4.77,4.84,4.88,4.87,4.82,4.95,4.91,4.89,4.92

In [41]:
# 구분을 index로 설정
교통.set_index('구분', inplace = True)
교통

,서울,부산,대구,인천,광주,대전,울산,세종,경기,강원,충북,충남,전북,전남,경북,경남,제주
구분,,,,,,,,,,,,,,,,,
운영서비스_노선체계적절성,5.01,4.91,4.80,4.75,4.76,4.82,4.71,4.57,4.71,4.58,4.51,4.59,4.60,4.79,4.55,4.79,4.77
운영서비스_배차간격적절성,4.65,4.55,4.45,4.32,4.34,4.47,4.25,4.06,4.26,4.63,4.12,4.12,4.25,4.52,4.15,4.43,4.39
운영서비스_이용요금합리성,4.81,4.70,4.67,4.54,4.61,4.69,4.52,4.48,4.53,4.47,4.45,4.48,4.46,4.64,4.47,4.61,4.58
운영서비스_대중교통운영체계구축,4.77,4.68,4.67,4.61,4.53,4.64,4.42,4.36,4.51,4.48,4.36,4.37,4.40,4.67,4.41,4.58,4.58
이용환경서비스_기사-역무원친절도,4.49,4.43,4.40,4.36,4.48,4.59,4.44,4.58,4.30,4.76,4.38,4.45,4.42,4.48,4.34,4.49,4.53
이용환경서비스_내부시설이용편리성,4.48,4.46,4.42,4.39,4.49,4.63,4.38,4.43,4.35,4.56,4.41,4.40,4.37,4.41,4.30,4.46,4.41
이용환경서비스_교통약자시설,4.55,4.52,4.49,4.47,4.49,4.54,4.42,4.39,4.41,4.55,4.41,4.50,4.41,4.44,4.42,4.53,4.49
쾌적환경서비스_차량내부혼잡도,3.64,3.83,3.94,3.76,3.98,4.02,4.05,4.21,3.57,4.44,4.10,4.11,4.14,4.26,4.09,4.13,4.24
쾌적환경서비스_이용시설청결성,4.48,4.37,4.42,4.35,4.34,4.45,4.17,4.34,4.18,4.33,4.25,4.30,4.25,4.37,4.28,4.32,4.38
정보제공서비스_대중교통정보제공시스템구축,4.94,4.90,4.90,4.91,4.81,4.86,4.82,4.83,4.81,4.75,4.70,4.83,4.74,4.77,4.75,4.77,4.77
정보제공서비스_대중교통제공정보정확성,4.86,4.88,4.84,4.81,4.75,4.79,4.69,4.77,4.76,4.73,4.67,4.79,4.72,4.75,4.76,4.77,4.85
정보제공서비스_대중교통변경정보제공,4.79,4.78,4.77,4.78,4.66,4.74,4.69,4.73,4.66,4.64,4.59,4.70,4.63,4.63,4.62,4.65,4.76
환승서비스_환승노선(체계)구축,4.79,4.80,4.72,4.74,4.65,4.74,4.66,4.60,4.66,4.65,4.65,4.72,4.64,4.71,4.67,4.74,4.68
환승서비스_환승정보제공적절성,4.79,4.72,4.73,4.70,4.63,4.67,4.58,4.58,4.61,4.50,4.54,4.57,4.47,4.69,4.61,4.70,4.65
환승서비스_환승요금적절성,4.86,4.88,4.99,4.82,4.78,4.98,4.84,4.88,4.77,4.84,4.88,4.87,4.82,4.95,4.91,4.89,4.92

In [42]:
교통 = 교통.T

In [43]:
교통

구분,운영서비스_노선체계적절성,운영서비스_배차간격적절성,운영서비스_이용요금합리성,운영서비스_대중교통운영체계구축,이용환경서비스_기사-역무원친절도,이용환경서비스_내부시설이용편리성,이용환경서비스_교통약자시설,쾌적환경서비스_차량내부혼잡도,쾌적환경서비스_이용시설청결성,정보제공서비스_대중교통정보제공시스템구축,정보제공서비스_대중교통제공정보정확성,정보제공서비스_대중교통변경정보제공,환승서비스_환승노선(체계)구축,환승서비스_환승정보제공적절성,환승서비스_환승요금적절성
서울,5.01,4.65,4.81,4.77,4.49,4.48,4.55,3.64,4.48,4.94,4.86,4.79,4.79,4.79,4.86
부산,4.91,4.55,4.70,4.68,4.43,4.46,4.52,3.83,4.37,4.90,4.88,4.78,4.80,4.72,4.88
대구,4.80,4.45,4.67,4.67,4.40,4.42,4.49,3.94,4.42,4.90,4.84,4.77,4.72,4.73,4.99
인천,4.75,4.32,4.54,4.61,4.36,4.39,4.47,3.76,4.35,4.91,4.81,4.78,4.74,4.70,4.82
광주,4.76,4.34,4.61,4.53,4.48,4.49,4.49,3.98,4.34,4.81,4.75,4.66,4.65,4.63,4.78
대전,4.82,4.47,4.69,4.64,4.59,4.63,4.54,4.02,4.45,4.86,4.79,4.74,4.74,4.67,4.98
울산,4.71,4.25,4.52,4.42,4.44,4.38,4.42,4.05,4.17,4.82,4.69,4.69,4.66,4.58,4.84
세종,4.57,4.06,4.48,4.36,4.58,4.43,4.39,4.21,4.34,4.83,4.77,4.73,4.60,4.58,4.88
경기,4.71,4.26,4.53,4.51,4.30,4.35,4.41,3.57,4.18,4.81,4.76,4.66,4.66,4.61,4.77
강원,4.58,4.63,4.47,4.48,4.76,4.56,4.55,4.44,4.33,4.75,4.73,4.64,4.65,4.50,4.84
충북,4.51,4.12,4.45,4.36,4.38,4.41,4.41,4.10,4.25,4.70,4.67,4.59,4.65,4.54,4.88
충남,4.59,4.12,4.48,4.37,4.45,4.40,4.50,4.11,4.30,4.83,4.79,4.70,4.72,4.57,4.87
전북,4.60,4.25,4.46,4.40,4.42,4.37,4.41,4.14,4.25,4.74,4.72,4.63,4.64,4.47,4.82
전남,4.79,4.52,4.64,4.67,4.48,4.41,4.44,4.26,4.37,4.77,4.75,4.63,4.71,4.69,4.95
경북,4.55,4.15,4.47,4.41,4.34,4.30,4.42,4.09,4.28,4.75,4.76,4.62,4.67,4.61,4.91
경남,4.79,4.43,4.61,4.58,4.49,4.46,4.53,4.13,4.32,4.77,4.77,4.65,4.74,4.70,4.89
제주,4.77,4.39,4.58,4.58,4.53,4.41,4.49,4.24,4.38,4.77,4.85,4.76,4.68,4.65,4.92

In [44]:
# 교통 데이터에 MinMaxScaler 적용
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(교통)
교통_정규화 = scaler.transform(교통)

# transform( )시 scale 변환된 데이터 셋이 numpy ndarry로 반환되어 이를 DataFrame으로 변환
교통시설 = pd.DataFrame(data=교통_정규화, columns = 교통.columns, index = 교통.index)

In [45]:
교통시설

구분,운영서비스_노선체계적절성,운영서비스_배차간격적절성,운영서비스_이용요금합리성,운영서비스_대중교통운영체계구축,이용환경서비스_기사-역무원친절도,이용환경서비스_내부시설이용편리성,이용환경서비스_교통약자시설,쾌적환경서비스_차량내부혼잡도,쾌적환경서비스_이용시설청결성,정보제공서비스_대중교통정보제공시스템구축,정보제공서비스_대중교통제공정보정확성,정보제공서비스_대중교통변경정보제공,환승서비스_환승노선(체계)구축,환승서비스_환승정보제공적절성,환승서비스_환승요금적절성
서울,1.00,1.000000,1.000000,1.000000,0.413043,0.545455,1.0000,0.080460,1.000000,1.000000,0.904762,1.00,0.95,1.00000,0.409091
부산,0.80,0.830508,0.694444,0.780488,0.282609,0.484848,0.8125,0.298851,0.645161,0.833333,1.000000,0.95,1.00,0.78125,0.500000
대구,0.58,0.661017,0.611111,0.756098,0.217391,0.363636,0.6250,0.425287,0.806452,0.833333,0.809524,0.90,0.60,0.81250,1.000000
인천,0.48,0.440678,0.250000,0.609756,0.130435,0.272727,0.5000,0.218391,0.580645,0.875000,0.666667,0.95,0.70,0.71875,0.227273
광주,0.50,0.474576,0.444444,0.414634,0.391304,0.575758,0.6250,0.471264,0.548387,0.458333,0.380952,0.35,0.25,0.50000,0.045455
대전,0.62,0.694915,0.666667,0.682927,0.630435,1.000000,0.9375,0.517241,0.903226,0.666667,0.571429,0.75,0.70,0.62500,0.954545
울산,0.40,0.322034,0.194444,0.146341,0.304348,0.242424,0.1875,0.551724,0.000000,0.500000,0.095238,0.50,0.30,0.34375,0.318182
세종,0.12,0.000000,0.083333,0.000000,0.608696,0.393939,0.0000,0.735632,0.548387,0.541667,0.476190,0.70,0.00,0.34375,0.500000
경기,0.40,0.338983,0.222222,0.365854,0.000000,0.151515,0.1250,0.000000,0.032258,0.458333,0.428571,0.35,0.30,0.43750,0.000000
강원,0.14,0.966102,0.055556,0.292683,1.000000,0.787879,1.0000,1.000000,0.516129,0.208333,0.285714,0.25,0.25,0.09375,0.318182
충북,0.00,0.101695,0.000000,0.000000,0.173913,0.333333,0.1250,0.609195,0.258065,0.000000,0.000000,0.00,0.25,0.21875,0.500000
충남,0.16,0.101695,0.083333,0.024390,0.326087,0.303030,0.6875,0.620690,0.419355,0.541667,0.571429,0.55,0.60,0.31250,0.454545
전북,0.18,0.322034,0.027778,0.097561,0.260870,0.212121,0.1250,0.655172,0.258065,0.166667,0.238095,0.20,0.20,0.00000,0.227273
전남,0.56,0.779661,0.527778,0.756098,0.391304,0.333333,0.3125,0.793103,0.645161,0.291667,0.380952,0.20,0.55,0.68750,0.818182
경북,0.08,0.152542,0.055556,0.121951,0.086957,0.000000,0.1875,0.597701,0.354839,0.208333,0.428571,0.15,0.35,0.43750,0.636364
경남,0.56,0.627119,0.444444,0.536585,0.413043,0.484848,0.8750,0.643678,0.483871,0.291667,0.476190,0.30,0.70,0.71875,0.545455
제주,0.52,0.559322,0.361111,0.536585,0.500000,0.333333,0.6250,0.770115,0.677419,0.291667,0.857143,0.85,0.40,0.56250,0.681818

In [46]:
# 각 만족도의 평균치 산출
시도별_교통 = 교통.mean(axis = 1)
시도별_교통 = pd.DataFrame(시도별_교통, columns = ['대중교통_만족도'])
시도별_교통

    대중교통_만족도
서울  4.660667
부산  4.627333
대구  4.614000
인천  4.554000
광주  4.553333
대전  4.642000
울산  4.509333
세종  4.520667
경기  4.472667
강원  4.594000
충북  4.468000
충남  4.520000
전북  4.488000
전남  4.605333
경북  4.488667
경남  4.590667
제주  4.600000

In [47]:
시도별_교통.index

Index(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북', '충남',
       '전북', '전남', '경북', '경남', '제주'],
      dtype='object')

In [48]:
시도별_교통

    대중교통_만족도
서울  4.660667
부산  4.627333
대구  4.614000
인천  4.554000
광주  4.553333
대전  4.642000
울산  4.509333
세종  4.520667
경기  4.472667
강원  4.594000
충북  4.468000
충남  4.520000
전북  4.488000
전남  4.605333
경북  4.488667
경남  4.590667
제주  4.600000

In [49]:
# 각 데이터의 index를 법정동코드의 시도명으로 설정
시도별_교통.index = 법정동코드['시도명'].unique()

In [50]:
시도별_교통

         대중교통_만족도
서울특별시    4.660667
부산광역시    4.627333
대구광역시    4.614000
인천광역시    4.554000
광주광역시    4.553333
대전광역시    4.642000
울산광역시    4.509333
세종특별자치시  4.520667
경기도      4.472667
강원도      4.594000
충청북도     4.468000
충청남도     4.520000
전라북도     4.488000
전라남도     4.605333
경상북도     4.488667
경상남도     4.590667
제주특별자치도  4.600000

In [51]:
# index 설정 해제 및 column 이름 변경
시도별_교통.reset_index(inplace = True)
시도별_교통.columns = ['시도명', '대중교통_만족도']
시도별_교통

        시도명  대중교통_만족도
0     서울특별시  4.660667
1     부산광역시  4.627333
2     대구광역시  4.614000
3     인천광역시  4.554000
4     광주광역시  4.553333
5     대전광역시  4.642000
6     울산광역시  4.509333
7   세종특별자치시  4.520667
8       경기도  4.472667
9       강원도  4.594000
10     충청북도  4.468000
11     충청남도  4.520000
12     전라북도  4.488000
13     전라남도  4.605333
14     경상북도  4.488667
15     경상남도  4.590667
16  제주특별자치도  4.600000

In [52]:
# 법정동코드와 시도별_교통 merge
시군구별_교통시설 = pd.merge(법정동코드, 시도별_교통, on = '시도명', how = 'inner')
시군구별_교통시설

          법정동코드      시도명  시군구명           지역명  대중교통_만족도
0    1111000000    서울특별시   종로구     서울특별시_종로구  4.660667
1    1114000000    서울특별시    중구      서울특별시_중구  4.660667
2    1117000000    서울특별시   용산구     서울특별시_용산구  4.660667
3    1120000000    서울특별시   성동구     서울특별시_성동구  4.660667
4    1121500000    서울특별시   광진구     서울특별시_광진구  4.660667
..          ...      ...   ...           ...       ...
224  4887000000     경상남도   함양군      경상남도_함양군  4.590667
225  4888000000     경상남도   거창군      경상남도_거창군  4.590667
226  4889000000     경상남도   합천군      경상남도_합천군  4.590667
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시  4.600000
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시  4.600000

[229 rows x 5 columns]

In [53]:
# 법정동코드로 index 설정
시군구별_교통시설.set_index('법정동코드', inplace = True)

In [54]:
# 시군구별_교통시설 파일로 반환
시군구별_교통시설.to_csv('../전처리된데이터/시군구별_교통시설.csv')

# 시군구별 의료시설

## 시군구별 상급종합병원

In [55]:
# 의료시설 구성: 상급종합병원, 종합병원
# 상급종합병원 데이터 불러오기
상급종합병원 = pd.read_excel('../원본데이터/의료시설/병원·약국찾기 (상급종합병원).xls')
상급종합병원

,번호,병원/약국명,병원/약국구분,전화번호,우편번호,소재지주소,홈페이지
0,1.0,가톨릭대학교인천성모병원,상급종합,032-1544-9004,0,인천광역시 부평구 동수로 56- (부평동),http://www.cmcism.or.kr/
1,2.0,강릉아산병원,상급종합,033-610-3114,25440,강원도 강릉시 사천면 방동길 38 (),http://www.gnah.co.kr
2,3.0,강북삼성병원,상급종합,02-2001-2001,3181,서울특별시 종로구 새문안로 29 (평동),http://www.kbsmc.co.kr
3,4.0,건국대학교병원,상급종합,1588-1533,5030,서울특별시 광진구 능동로 120-1 (화양동),http://www.kuh.ac.kr
4,5.0,경북대학교병원,상급종합,053-200-5114,41944,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",http://knumc.knu.ac.kr
5,6.0,경상국립대학교병원,상급종합,055-750-8000,52727,경상남도 진주시 강남로 79 (칠암동),http://www.gnuh.co.kr/
6,7.0,경희대학교병원,상급종합,02-958-8114,2447,서울특별시 동대문구 경희대로 23 (회기동),http://www.khuh.or.kr/
7,8.0,계명대학교동산병원,상급종합,1577-6622,42601,대구광역시 달서구 달구벌대로 1035 (신당동),http://www.dsmc.or.kr/
8,9.0,고려대학교의과대학부속구로병원,상급종합,02-2626-1114,8308,서울특별시 구로구 구로동로 148 고려대부속구로병원 (구로동),http://guro.kumc.or.kr/main/index.do
9,10.0,고려대학교의과대학부속안산병원,상급종합,031-1577-7516,15355,경기도 안산시 단원구 적금로 123 (고잔동),http://ansan.kumc.or.kr/main/index.do
10,11.0,단국대학교의과대학부속병원,상급종합,041-1588-0063,31116,충청남도 천안시 동남구 망향로 201 (안서동),http://www.dkuh.co.kr/main/default.asp
11,12.0,대구가톨릭대학교병원,상급종합,053-650-3000,42472,대구광역시 남구 두류공원로17길 33 (대명동),http://www.dcmc.co.kr/
12,13.0,동아대학교병원,상급종합,051-240-2400,49201,부산광역시 서구 대신공원로 26 (동대신동3가),http://www.damc.or.kr
13,14.0,부산대학교병원,상급종합,240-7000,49241,부산광역시 서구 구덕로 179 (아미동1가),NaN
14,15.0,분당서울대학교병원,상급종합,031-787-2114,13620,"경기도 성남시 분당구 구미로173번길 82 (구미동, 분당서울대학교병원)",http://www.snubh.org/index.do
15,16.0,삼성서울병원,상급종합,02-3410-2114,6351,"서울특별시 강남구 일원로 81 (일원동, 삼성의료원)",http://www.samsunghospital.com
16,17.0,서울대학교병원,상급종합,1588-5700,3080,서울특별시 종로구 대학로 101 (연건동),http://www.snuh.org
17,18.0,순천향대학교부속 천안병원,상급종합,041-570-2114,31151,"충청남도 천안시 동남구 순천향6길 31 5동 (봉명동,순천향대학교병원)",http://www.schmc.ac.kr/cheonan/kor/index.do
18,19.0,순천향대학교부속부천병원,상급종합,032-621-5114,14584,경기도 부천시 조마루로 170 (중동),http://www.schmc.ac.kr/bucheon/kor/index.do
19,20.0,아주대학교병원,상급종합,031-219-5114,16499,경기도 수원시 영통구 월드컵로 164 (원천동),http://hosp.ajoumc.or.kr/
20,21.0,양산부산대학교병원,상급종합,055-360-1000,50612,경상남도 양산시 물금읍 금오로 20 (),https://www.pnuyh.or.kr
21,22.0,연세대학교 원주세브란스기독병원,상급종합,033-741-0114,26426,강원도 원주시 일산로 20-0 (일산동),http://wch.or.kr/
22,23.0,연세대학교의과대학 강남세브란스병원,상급종합,02-2019-3114,6273,서울특별시 강남구 언주로 211 강남세브란스병원 (도곡동),http://gs.iseverance.com
23,24.0,연세대학교의과대학세브란스병원,상급종합,02-2228-0114,3722,서울특별시 서대문구 연세로 50-1 (신촌동),http://www.yuhs.or.kr
24,25.0,영남대학교병원,상급종합,053-623-8001,42415,대구광역시 남구 현충로 170 (대명동),http://www.yumc.ac.kr
25,26.0,원광대학교병원,상급종합,063-859-1114,54538,전라북도 익산시 무왕로 895 (신동),http://www.wkuh.org/
26,27.0,의료법인 길의료재단 길병원,상급종합,NaN,21565,인천광역시 남동구 남동대로774번길 21-0 의료법인길의료재단길병원,http://www.gilhospital.com/
27,28.0,이화여자대학교의과대학부속목동병원,상급종합,02-2650-5114,7985,서울특별시 양천구 안양천로 1071 (목동),http://www.eumc.ac.kr/mokdong/
28,29.0,인제대학교부산백병원,상급종합,051-890-6114,47392,"부산광역시 부산진구 복지로 75, 진사로83번길 75 진사로83번길 81, 1층(일...",NaN
29,30.0,인하대학교의과대학부속병원,상급종합,032-890-2114,22332,인천광역시 중구 인항로 27 (신흥동3가),http://www.inha.com/mainpage/index.htm
30,31.0,재단법인아산사회복지재단 서울아산병원,상급종합,02-3010-3114,5505,서울특별시 송파구 올림픽로43길 88 서울아산병원 (풍납동),http://www.amc.seoul.kr
31,32.0,전남대학교병원,상급종합,062-1899-0000,61469,광주광역시 동구 제봉로 42 (학동),http://www.cnuh.com/
32,33.0,전북대학교병원,상급종합,063-250-1114,54907,전라북도 전주시 덕진구 건지로 20 (금암동),http://www.cuh.co.kr/
33,34.0,조선대학교병원,상급종합,062-220-3321,61453,광주광역시 동구 필문대로 365 (학동),http://hosp.chosun.ac.kr
34,35.0,중앙대학교병원,상급종합,1800-1114,6973,서울특별시 동작구 흑석로 102 (흑석동),http://ch.cauhs.or.kr/
35,36.0,충남대학교병원,상급종합,042-1599-7123,0,대전광역시 중구 문화로 282- (대사동),http://www.cnuh.co.kr/
36,37.0,충북대학교병원,상급종합,043-269-6114,28644,충청북도 청주시 서원구 1순환로 776-0 충북대학교병원,http://www.cbnuh.or.kr/business/main.action
37,38.0,칠곡경북대학교병원,상급종합,053-200-2000,41404,대구광역시 북구 호국로 807 칠곡경북대학교병원(임살실습동 1~11층 포함) (학정동),http://www.knumc.org
38,39.0,학교법인 고려중앙학원 고려대학교의과대학부속병원(안암병원),상급종합,1577-0083,2841,서울특별시 성북구 고려대로 73 고려대병원 (안암동5가),http://anam.kumc.or.kr/main/index.do
39,40.0,학교법인 울산공업학원 울산대학교병원,상급종합,052-250-7000,44033,울산광역시 동구 대학병원로 25 울산대학교병원 (전하동),http://www.uuh.ulsan.kr/main/main.asp
40,41.0,학교법인가톨릭학원가톨릭대학교서울성모병원,상급종합,02-1588-1511,6591,서울특별시 서초구 반포대로 222 (반포동),http://www.cmcseoul.or.kr/
41,42.0,학교법인성균관대학삼성창원병원,상급종합,055-233-8899,51353,"경상남도 창원시 마산회원구 팔용로 158-158 (합성동, 삼성창원병원)",http://smc.skku.edu
42,43.0,한림대학교성심병원,상급종합,031-380-1500,14068,경기도 안양시 동안구 관평로170번길 22 (평촌동),http://hallym.hallym.or.kr/
43,44.0,한양대학교병원,상급종합,02-2290-8114,4763,서울특별시 성동구 왕십리로 222-1 (사근동),http://seoul.hyumc.com
44,45.0,화순전남대학교병원,상급종합,061-379-7114,58128,전라남도 화순군 화순읍 서양로 322 (),http://www.cnuhh.com/

In [56]:
상급종합병원.columns

Index(['번호', '병원/약국명', '병원/약국구분', '전화번호', '우편번호', '소재지주소', '홈페이지'], dtype='object')

In [57]:
# 필요한 데이터만 추출
상급종합병원 = 상급종합병원.drop(columns = ['번호', '병원/약국구분', '전화번호', '우편번호', '홈페이지'])
상급종합병원

,병원/약국명,소재지주소
0,가톨릭대학교인천성모병원,인천광역시 부평구 동수로 56- (부평동)
1,강릉아산병원,강원도 강릉시 사천면 방동길 38 ()
2,강북삼성병원,서울특별시 종로구 새문안로 29 (평동)
3,건국대학교병원,서울특별시 광진구 능동로 120-1 (화양동)
4,경북대학교병원,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)"
5,경상국립대학교병원,경상남도 진주시 강남로 79 (칠암동)
6,경희대학교병원,서울특별시 동대문구 경희대로 23 (회기동)
7,계명대학교동산병원,대구광역시 달서구 달구벌대로 1035 (신당동)
8,고려대학교의과대학부속구로병원,서울특별시 구로구 구로동로 148 고려대부속구로병원 (구로동)
9,고려대학교의과대학부속안산병원,경기도 안산시 단원구 적금로 123 (고잔동)
10,단국대학교의과대학부속병원,충청남도 천안시 동남구 망향로 201 (안서동)
11,대구가톨릭대학교병원,대구광역시 남구 두류공원로17길 33 (대명동)
12,동아대학교병원,부산광역시 서구 대신공원로 26 (동대신동3가)
13,부산대학교병원,부산광역시 서구 구덕로 179 (아미동1가)
14,분당서울대학교병원,"경기도 성남시 분당구 구미로173번길 82 (구미동, 분당서울대학교병원)"
15,삼성서울병원,"서울특별시 강남구 일원로 81 (일원동, 삼성의료원)"
16,서울대학교병원,서울특별시 종로구 대학로 101 (연건동)
17,순천향대학교부속 천안병원,"충청남도 천안시 동남구 순천향6길 31 5동 (봉명동,순천향대학교병원)"
18,순천향대학교부속부천병원,경기도 부천시 조마루로 170 (중동)
19,아주대학교병원,경기도 수원시 영통구 월드컵로 164 (원천동)
20,양산부산대학교병원,경상남도 양산시 물금읍 금오로 20 ()
21,연세대학교 원주세브란스기독병원,강원도 원주시 일산로 20-0 (일산동)
22,연세대학교의과대학 강남세브란스병원,서울특별시 강남구 언주로 211 강남세브란스병원 (도곡동)
23,연세대학교의과대학세브란스병원,서울특별시 서대문구 연세로 50-1 (신촌동)
24,영남대학교병원,대구광역시 남구 현충로 170 (대명동)
25,원광대학교병원,전라북도 익산시 무왕로 895 (신동)
26,의료법인 길의료재단 길병원,인천광역시 남동구 남동대로774번길 21-0 의료법인길의료재단길병원
27,이화여자대학교의과대학부속목동병원,서울특별시 양천구 안양천로 1071 (목동)
28,인제대학교부산백병원,"부산광역시 부산진구 복지로 75, 진사로83번길 75 진사로83번길 81, 1층(일..."
29,인하대학교의과대학부속병원,인천광역시 중구 인항로 27 (신흥동3가)
30,재단법인아산사회복지재단 서울아산병원,서울특별시 송파구 올림픽로43길 88 서울아산병원 (풍납동)
31,전남대학교병원,광주광역시 동구 제봉로 42 (학동)
32,전북대학교병원,전라북도 전주시 덕진구 건지로 20 (금암동)
33,조선대학교병원,광주광역시 동구 필문대로 365 (학동)
34,중앙대학교병원,서울특별시 동작구 흑석로 102 (흑석동)
35,충남대학교병원,대전광역시 중구 문화로 282- (대사동)
36,충북대학교병원,충청북도 청주시 서원구 1순환로 776-0 충북대학교병원
37,칠곡경북대학교병원,대구광역시 북구 호국로 807 칠곡경북대학교병원(임살실습동 1~11층 포함) (학정동)
38,학교법인 고려중앙학원 고려대학교의과대학부속병원(안암병원),서울특별시 성북구 고려대로 73 고려대병원 (안암동5가)
39,학교법인 울산공업학원 울산대학교병원,울산광역시 동구 대학병원로 25 울산대학교병원 (전하동)
40,학교법인가톨릭학원가톨릭대학교서울성모병원,서울특별시 서초구 반포대로 222 (반포동)
41,학교법인성균관대학삼성창원병원,"경상남도 창원시 마산회원구 팔용로 158-158 (합성동, 삼성창원병원)"
42,한림대학교성심병원,경기도 안양시 동안구 관평로170번길 22 (평촌동)
43,한양대학교병원,서울특별시 성동구 왕십리로 222-1 (사근동)
44,화순전남대학교병원,전라남도 화순군 화순읍 서양로 322 ()

In [58]:
# 소재지주소를 통해 시도명과 시군구명 추출
상급종합병원[['시도명','시군구명','그 외']] = pd.DataFrame(상급종합병원['소재지주소'].str.split(' ', 2).tolist())
상급종합병원

,병원/약국명,소재지주소,시도명,시군구명,그 외
0,가톨릭대학교인천성모병원,인천광역시 부평구 동수로 56- (부평동),인천광역시,부평구,동수로 56- (부평동)
1,강릉아산병원,강원도 강릉시 사천면 방동길 38 (),강원도,강릉시,사천면 방동길 38 ()
2,강북삼성병원,서울특별시 종로구 새문안로 29 (평동),서울특별시,종로구,새문안로 29 (평동)
3,건국대학교병원,서울특별시 광진구 능동로 120-1 (화양동),서울특별시,광진구,능동로 120-1 (화양동)
4,경북대학교병원,"대구광역시 중구 동덕로 130 (삼덕동2가, 경북대학교병원)",대구광역시,중구,"동덕로 130 (삼덕동2가, 경북대학교병원)"
5,경상국립대학교병원,경상남도 진주시 강남로 79 (칠암동),경상남도,진주시,강남로 79 (칠암동)
6,경희대학교병원,서울특별시 동대문구 경희대로 23 (회기동),서울특별시,동대문구,경희대로 23 (회기동)
7,계명대학교동산병원,대구광역시 달서구 달구벌대로 1035 (신당동),대구광역시,달서구,달구벌대로 1035 (신당동)
8,고려대학교의과대학부속구로병원,서울특별시 구로구 구로동로 148 고려대부속구로병원 (구로동),서울특별시,구로구,구로동로 148 고려대부속구로병원 (구로동)
9,고려대학교의과대학부속안산병원,경기도 안산시 단원구 적금로 123 (고잔동),경기도,안산시,단원구 적금로 123 (고잔동)
10,단국대학교의과대학부속병원,충청남도 천안시 동남구 망향로 201 (안서동),충청남도,천안시,동남구 망향로 201 (안서동)
11,대구가톨릭대학교병원,대구광역시 남구 두류공원로17길 33 (대명동),대구광역시,남구,두류공원로17길 33 (대명동)
12,동아대학교병원,부산광역시 서구 대신공원로 26 (동대신동3가),부산광역시,서구,대신공원로 26 (동대신동3가)
13,부산대학교병원,부산광역시 서구 구덕로 179 (아미동1가),부산광역시,서구,구덕로 179 (아미동1가)
14,분당서울대학교병원,"경기도 성남시 분당구 구미로173번길 82 (구미동, 분당서울대학교병원)",경기도,성남시,"분당구 구미로173번길 82 (구미동, 분당서울대학교병원)"
15,삼성서울병원,"서울특별시 강남구 일원로 81 (일원동, 삼성의료원)",서울특별시,강남구,"일원로 81 (일원동, 삼성의료원)"
16,서울대학교병원,서울특별시 종로구 대학로 101 (연건동),서울특별시,종로구,대학로 101 (연건동)
17,순천향대학교부속 천안병원,"충청남도 천안시 동남구 순천향6길 31 5동 (봉명동,순천향대학교병원)",충청남도,천안시,"동남구 순천향6길 31 5동 (봉명동,순천향대학교병원)"
18,순천향대학교부속부천병원,경기도 부천시 조마루로 170 (중동),경기도,부천시,조마루로 170 (중동)
19,아주대학교병원,경기도 수원시 영통구 월드컵로 164 (원천동),경기도,수원시,영통구 월드컵로 164 (원천동)
20,양산부산대학교병원,경상남도 양산시 물금읍 금오로 20 (),경상남도,양산시,물금읍 금오로 20 ()
21,연세대학교 원주세브란스기독병원,강원도 원주시 일산로 20-0 (일산동),강원도,원주시,일산로 20-0 (일산동)
22,연세대학교의과대학 강남세브란스병원,서울특별시 강남구 언주로 211 강남세브란스병원 (도곡동),서울특별시,강남구,언주로 211 강남세브란스병원 (도곡동)
23,연세대학교의과대학세브란스병원,서울특별시 서대문구 연세로 50-1 (신촌동),서울특별시,서대문구,연세로 50-1 (신촌동)
24,영남대학교병원,대구광역시 남구 현충로 170 (대명동),대구광역시,남구,현충로 170 (대명동)
25,원광대학교병원,전라북도 익산시 무왕로 895 (신동),전라북도,익산시,무왕로 895 (신동)
26,의료법인 길의료재단 길병원,인천광역시 남동구 남동대로774번길 21-0 의료법인길의료재단길병원,인천광역시,남동구,남동대로774번길 21-0 의료법인길의료재단길병원
27,이화여자대학교의과대학부속목동병원,서울특별시 양천구 안양천로 1071 (목동),서울특별시,양천구,안양천로 1071 (목동)
28,인제대학교부산백병원,"부산광역시 부산진구 복지로 75, 진사로83번길 75 진사로83번길 81, 1층(일...",부산광역시,부산진구,"복지로 75, 진사로83번길 75 진사로83번길 81, 1층(일부), 3층 (개금동)"
29,인하대학교의과대학부속병원,인천광역시 중구 인항로 27 (신흥동3가),인천광역시,중구,인항로 27 (신흥동3가)
30,재단법인아산사회복지재단 서울아산병원,서울특별시 송파구 올림픽로43길 88 서울아산병원 (풍납동),서울특별시,송파구,올림픽로43길 88 서울아산병원 (풍납동)
31,전남대학교병원,광주광역시 동구 제봉로 42 (학동),광주광역시,동구,제봉로 42 (학동)
32,전북대학교병원,전라북도 전주시 덕진구 건지로 20 (금암동),전라북도,전주시,덕진구 건지로 20 (금암동)
33,조선대학교병원,광주광역시 동구 필문대로 365 (학동),광주광역시,동구,필문대로 365 (학동)
34,중앙대학교병원,서울특별시 동작구 흑석로 102 (흑석동),서울특별시,동작구,흑석로 102 (흑석동)
35,충남대학교병원,대전광역시 중구 문화로 282- (대사동),대전광역시,중구,문화로 282- (대사동)
36,충북대학교병원,충청북도 청주시 서원구 1순환로 776-0 충북대학교병원,충청북도,청주시,서원구 1순환로 776-0 충북대학교병원
37,칠곡경북대학교병원,대구광역시 북구 호국로 807 칠곡경북대학교병원(임살실습동 1~11층 포함) (학정동),대구광역시,북구,호국로 807 칠곡경북대학교병원(임살실습동 1~11층 포함) (학정동)
38,학교법인 고려중앙학원 고려대학교의과대학부속병원(안암병원),서울특별시 성북구 고려대로 73 고려대병원 (안암동5가),서울특별시,성북구,고려대로 73 고려대병원 (안암동5가)
39,학교법인 울산공업학원 울산대학교병원,울산광역시 동구 대학병원로 25 울산대학교병원 (전하동),울산광역시,동구,대학병원로 25 울산대학교병원 (전하동)
40,학교법인가톨릭학원가톨릭대학교서울성모병원,서울특별시 서초구 반포대로 222 (반포동),서울특별시,서초구,반포대로 222 (반포동)
41,학교법인성균관대학삼성창원병원,"경상남도 창원시 마산회원구 팔용로 158-158 (합성동, 삼성창원병원)",경상남도,창원시,"마산회원구 팔용로 158-158 (합성동, 삼성창원병원)"
42,한림대학교성심병원,경기도 안양시 동안구 관평로170번길 22 (평촌동),경기도,안양시,동안구 관평로170번길 22 (평촌동)
43,한양대학교병원,서울특별시 성동구 왕십리로 222-1 (사근동),서울특별시,성동구,왕십리로 222-1 (사근동)
44,화순전남대학교병원,전라남도 화순군 화순읍 서양로 322 (),전라남도,화순군,화순읍 서양로 322 ()

In [59]:
# 지역명을 '시도명_시군구명' 형태로 변경
상급종합병원['지역명'] = 상급종합병원['시도명'] + "_" + 상급종합병원['시군구명']
상급종합병원 = 상급종합병원[['병원/약국명', '지역명']]
상급종합병원

                             병원/약국명         지역명
0                      가톨릭대학교인천성모병원   인천광역시_부평구
1                            강릉아산병원     강원도_강릉시
2                            강북삼성병원   서울특별시_종로구
3                           건국대학교병원   서울특별시_광진구
4                           경북대학교병원    대구광역시_중구
5                         경상국립대학교병원    경상남도_진주시
6                           경희대학교병원  서울특별시_동대문구
7                         계명대학교동산병원   대구광역시_달서구
8                   고려대학교의과대학부속구로병원   서울특별시_구로구
9                   고려대학교의과대학부속안산병원     경기도_안산시
10                    단국대학교의과대학부속병원    충청남도_천안시
11                       대구가톨릭대학교병원    대구광역시_남구
12                          동아대학교병원    부산광역시_서구
13                          부산대학교병원    부산광역시_서구
14                        분당서울대학교병원     경기도_성남시
15                           삼성서울병원   서울특별시_강남구
16                          서울대학교병원   서울특별시_종로구
17                    순천향대학교부속 천안병원    충청남도_천안시
18                     순천향대학교부속부천병원     경기도_부천시
19                          아주대학교병원     경기도_수원시
20                        양산부산대학교병원    경상남도_양산시
21                 연세대학교 원주세브란스기독병원     강원도_원주시
22               연세대학교의과대학 강남세브란스병원   서울특별시_강남구
23                  연세대학교의과대학세브란스병원  서울특별시_서대문구
24                          영남대학교병원    대구광역시_남구
25                          원광대학교병원    전라북도_익산시
26                   의료법인 길의료재단 길병원   인천광역시_남동구
27                이화여자대학교의과대학부속목동병원   서울특별시_양천구
28                       인제대학교부산백병원  부산광역시_부산진구
29                    인하대학교의과대학부속병원    인천광역시_중구
30              재단법인아산사회복지재단 서울아산병원   서울특별시_송파구
31                          전남대학교병원    광주광역시_동구
32                          전북대학교병원    전라북도_전주시
33                          조선대학교병원    광주광역시_동구
34                          중앙대학교병원   서울특별시_동작구
35                          충남대학교병원    대전광역시_중구
36                          충북대학교병원    충청북도_청주시
37                        칠곡경북대학교병원    대구광역시_북구
38  학교법인 고려중앙학원 고려대학교의과대학부속병원(안암병원)   서울특별시_성북구
39              학교법인 울산공업학원 울산대학교병원    울산광역시_동구
40            학교법인가톨릭학원가톨릭대학교서울성모병원   서울특별시_서초구
41                  학교법인성균관대학삼성창원병원    경상남도_창원시
42                        한림대학교성심병원     경기도_안양시
43                          한양대학교병원   서울특별시_성동구
44                        화순전남대학교병원    전라남도_화순군

In [60]:
# 지역명 기준으로 groupby 한 후 상급병원 수 산출
상급종합병원_수 = 상급종합병원.groupby('지역명')
상급종합병원_수 = pd.DataFrame({'상급종합병원_수' : 상급종합병원_수.size()})
상급종합병원_수

            상급종합병원_수
지역명
강원도_강릉시            1
강원도_원주시            1
경기도_부천시            1
경기도_성남시            1
경기도_수원시            1
경기도_안산시            1
경기도_안양시            1
경상남도_양산시           1
경상남도_진주시           1
경상남도_창원시           1
광주광역시_동구           2
대구광역시_남구           2
대구광역시_달서구          1
대구광역시_북구           1
대구광역시_중구           1
대전광역시_중구           1
부산광역시_부산진구         1
부산광역시_서구           2
서울특별시_강남구          2
서울특별시_광진구          1
서울특별시_구로구          1
서울특별시_동대문구         1
서울특별시_동작구          1
서울특별시_서대문구         1
서울특별시_서초구          1
서울특별시_성동구          1
서울특별시_성북구          1
서울특별시_송파구          1
서울특별시_양천구          1
서울특별시_종로구          2
울산광역시_동구           1
인천광역시_남동구          1
인천광역시_부평구          1
인천광역시_중구           1
전라남도_화순군           1
전라북도_익산시           1
전라북도_전주시           1
충청남도_천안시           2
충청북도_청주시           1

In [61]:
# 법정동코드와 상급종합병원 수 merge
시군구별_상급종합병원 = pd.merge(법정동코드, 상급종합병원_수, on = '지역명', how = 'outer')
시군구별_상급종합병원 = 시군구별_상급종합병원.fillna(0)
시군구별_상급종합병원['상급종합병원_수'] = 시군구별_상급종합병원['상급종합병원_수'].astype('int64')
시군구별_상급종합병원

          법정동코드      시도명  시군구명           지역명  상급종합병원_수
0    1111000000    서울특별시   종로구     서울특별시_종로구         2
1    1114000000    서울특별시    중구      서울특별시_중구         0
2    1117000000    서울특별시   용산구     서울특별시_용산구         0
3    1120000000    서울특별시   성동구     서울특별시_성동구         1
4    1121500000    서울특별시   광진구     서울특별시_광진구         1
..          ...      ...   ...           ...       ...
224  4887000000     경상남도   함양군      경상남도_함양군         0
225  4888000000     경상남도   거창군      경상남도_거창군         0
226  4889000000     경상남도   합천군      경상남도_합천군         0
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시         0
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시         0

[229 rows x 5 columns]

## 시군구별 종합병원

In [62]:
# 종합병원 데이터 불러오기
종합병원 = pd.read_excel('../원본데이터/의료시설/병원·약국찾기 (종합병원).xls')
종합병원

,번호,병원/약국명,병원/약국구분,전화번호,우편번호,소재지주소,홈페이지
0,1.0,(의)나사렛의료재단 나사렛국제병원,종합병원,032-899-9999,0,인천광역시 연수구 먼우금로 98- (동춘동),http://www.nasaret.co.kr/
1,2.0,(의)성세의료재단 뉴성민병원,종합병원,032-726-1000,0,인천광역시 서구 신석로 70- 70,http://www.smgh.co.kr
2,3.0,(의)영문의료재단 다보스병원,종합병원,031-8021-2000,17063,경기도 용인시 처인구 백옥대로1082번길 18 다보스종합병원 (김량장동),http://www.davoshospital.co.kr
3,4.0,(재)미리내천주성삼성직수도회천주성삼병원,종합병원,053-790-1000,42274,"대구광역시 수성구 달구벌대로 3190 (신매동, 천주성삼병원)",NaN
4,5.0,KS병원,종합병원,062-975-9000,62248,광주광역시 광산구 왕버들로 220 (수완동),http://www.kshosp.com
...,...,...,...,...,...,...,...
322,323.0,홍익병원,종합병원,02-2693-5555,7937,서울특별시 양천구 목동로 225 홍익병원본관 (신정동),http://www.hih.or.kr/
323,324.0,홍천아산병원,종합병원,033-430-5151,25131,강원도 홍천군 홍천읍 산림공원1길 17 17,http://www.hch.or.kr
324,325.0,효산의료재단 안양샘병원,종합병원,031-467-9717,14030,"경기도 안양시 만안구 삼덕로 9 (안양동, 안양샘병원)",http://anyang.samhospital.com
325,326.0,효산의료재단 지샘병원,종합병원,031-389-3000,15839,"경기도 군포시 군포로 591 (당동, (G샘병원)군포샘병원)",http://www.gsamhospital.com
326,327.0,희명병원,종합병원,02-804-0002,8626,서울특별시 금천구 시흥대로 244 (시흥동),http://www.hopehp.co.kr

In [63]:
종합병원.columns

Index(['번호', '병원/약국명', '병원/약국구분', '전화번호', '우편번호', '소재지주소', '홈페이지'], dtype='object')

In [64]:
# 필요한 데이터만 추출
종합병원 = 종합병원[['병원/약국명', '소재지주소']]
종합병원

                    병원/약국명                                     소재지주소
0       (의)나사렛의료재단 나사렛국제병원                인천광역시 연수구 먼우금로 98-   (동춘동)
1          (의)성세의료재단 뉴성민병원                      인천광역시 서구 신석로 70-  70
2          (의)영문의료재단 다보스병원  경기도 용인시 처인구 백옥대로1082번길 18 다보스종합병원 (김량장동)
3    (재)미리내천주성삼성직수도회천주성삼병원        대구광역시 수성구 달구벌대로 3190 (신매동, 천주성삼병원)
4                     KS병원                 광주광역시 광산구 왕버들로 220  (수완동)
..                     ...                                       ...
322                   홍익병원            서울특별시 양천구 목동로 225 홍익병원본관 (신정동)
323                 홍천아산병원                  강원도 홍천군 홍천읍 산림공원1길 17 17
324           효산의료재단 안양샘병원            경기도 안양시 만안구 삼덕로 9 (안양동, 안양샘병원)
325            효산의료재단 지샘병원         경기도 군포시 군포로 591 (당동, (G샘병원)군포샘병원)
326                   희명병원                  서울특별시 금천구 시흥대로 244 (시흥동)

[327 rows x 2 columns]

In [65]:
# 소재지주소를 통해 시도명과 시군구명 추출
종합병원[['시도명','시군구명','그 외']] = pd.DataFrame(종합병원['소재지주소'].str.split(' ', 2).tolist())
종합병원

,병원/약국명,소재지주소,시도명,시군구명,그 외
0,(의)나사렛의료재단 나사렛국제병원,인천광역시 연수구 먼우금로 98- (동춘동),인천광역시,연수구,먼우금로 98- (동춘동)
1,(의)성세의료재단 뉴성민병원,인천광역시 서구 신석로 70- 70,인천광역시,서구,신석로 70- 70
2,(의)영문의료재단 다보스병원,경기도 용인시 처인구 백옥대로1082번길 18 다보스종합병원 (김량장동),경기도,용인시,처인구 백옥대로1082번길 18 다보스종합병원 (김량장동)
3,(재)미리내천주성삼성직수도회천주성삼병원,"대구광역시 수성구 달구벌대로 3190 (신매동, 천주성삼병원)",대구광역시,수성구,"달구벌대로 3190 (신매동, 천주성삼병원)"
4,KS병원,광주광역시 광산구 왕버들로 220 (수완동),광주광역시,광산구,왕버들로 220 (수완동)
...,...,...,...,...,...
322,홍익병원,서울특별시 양천구 목동로 225 홍익병원본관 (신정동),서울특별시,양천구,목동로 225 홍익병원본관 (신정동)
323,홍천아산병원,강원도 홍천군 홍천읍 산림공원1길 17 17,강원도,홍천군,홍천읍 산림공원1길 17 17
324,효산의료재단 안양샘병원,"경기도 안양시 만안구 삼덕로 9 (안양동, 안양샘병원)",경기도,안양시,"만안구 삼덕로 9 (안양동, 안양샘병원)"
325,효산의료재단 지샘병원,"경기도 군포시 군포로 591 (당동, (G샘병원)군포샘병원)",경기도,군포시,"군포로 591 (당동, (G샘병원)군포샘병원)"
326,희명병원,서울특별시 금천구 시흥대로 244 (시흥동),서울특별시,금천구,시흥대로 244 (시흥동)

In [66]:
# 세종특별자치시의 시군구명을 '세종특별자치시'로 설정
종합병원.loc[종합병원.시도명 == '세종특별자치시', '시군구명'] = '세종특별자치시'

In [67]:
# 지역명을 '시도명_시군구명' 형태로 변경
종합병원['지역명'] = 종합병원['시도명'] + "_" + 종합병원['시군구명']
종합병원 = 종합병원[['병원/약국명', '지역명']]
종합병원

                    병원/약국명        지역명
0       (의)나사렛의료재단 나사렛국제병원  인천광역시_연수구
1          (의)성세의료재단 뉴성민병원   인천광역시_서구
2          (의)영문의료재단 다보스병원    경기도_용인시
3    (재)미리내천주성삼성직수도회천주성삼병원  대구광역시_수성구
4                     KS병원  광주광역시_광산구
..                     ...        ...
322                   홍익병원  서울특별시_양천구
323                 홍천아산병원    강원도_홍천군
324           효산의료재단 안양샘병원    경기도_안양시
325            효산의료재단 지샘병원    경기도_군포시
326                   희명병원  서울특별시_금천구

[327 rows x 2 columns]

In [68]:
# 지역명 기준으로 groupby 한 후 종합병원 수 산출
종합병원_수 = 종합병원.groupby('지역명')
종합병원_수 = pd.DataFrame({'종합병원_수' : 종합병원_수.size()})
종합병원_수

          종합병원_수
지역명
강원도_강릉시        3
강원도_동해시        1
강원도_삼척시        1
강원도_속초시        2
강원도_영월군        1
...          ...
충청북도_옥천군       1
충청북도_제천시       2
충청북도_진천군       1
충청북도_청주시       6
충청북도_충주시       2

[145 rows x 1 columns]

In [69]:
# 법정동코드와 종합병원 수 merge
시군구별_종합병원 = pd.merge(법정동코드, 종합병원_수, on = '지역명', how = 'outer')
시군구별_종합병원 = 시군구별_종합병원.fillna(0)
시군구별_종합병원['종합병원_수'] = 시군구별_종합병원['종합병원_수'].astype('int64')
시군구별_종합병원

          법정동코드      시도명  시군구명           지역명  종합병원_수
0    1111000000    서울특별시   종로구     서울특별시_종로구       2
1    1114000000    서울특별시    중구      서울특별시_중구       2
2    1117000000    서울특별시   용산구     서울특별시_용산구       1
3    1120000000    서울특별시   성동구     서울특별시_성동구       0
4    1121500000    서울특별시   광진구     서울특별시_광진구       1
..          ...      ...   ...           ...     ...
224  4887000000     경상남도   함양군      경상남도_함양군       0
225  4888000000     경상남도   거창군      경상남도_거창군       0
226  4889000000     경상남도   합천군      경상남도_합천군       0
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시       5
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시       1

[229 rows x 5 columns]

In [70]:
# 상급종합병원 데이터와 종합병원 데이터 concat
시군구별_의료시설 = pd.concat([시군구별_상급종합병원, 시군구별_종합병원['종합병원_수']], axis = 1)
시군구별_의료시설

          법정동코드      시도명  시군구명           지역명  상급종합병원_수  종합병원_수
0    1111000000    서울특별시   종로구     서울특별시_종로구         2       2
1    1114000000    서울특별시    중구      서울특별시_중구         0       2
2    1117000000    서울특별시   용산구     서울특별시_용산구         0       1
3    1120000000    서울특별시   성동구     서울특별시_성동구         1       0
4    1121500000    서울특별시   광진구     서울특별시_광진구         1       1
..          ...      ...   ...           ...       ...     ...
224  4887000000     경상남도   함양군      경상남도_함양군         0       0
225  4888000000     경상남도   거창군      경상남도_거창군         0       0
226  4889000000     경상남도   합천군      경상남도_합천군         0       0
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시         0       5
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시         0       1

[229 rows x 6 columns]

In [71]:
# 법정동코드를 index로 설정
시군구별_의료시설.set_index('법정동코드', inplace = True)

In [72]:
# 시군구별_의료시설 파일 반환
시군구별_의료시설.to_csv('../전처리된데이터/시군구별_의료시설.csv')

# 시군구별_유통시설

In [73]:
# 유통시설 데이터 불러오기
유통 = pd.read_csv('../원본데이터/유통시설/[위치추가] [유통] fulldata_08_25_01_P_대규모점포.csv', encoding = 'cp949')
유통

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,도로명전체주소,도로명우편번호,사업장명,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),점포구분명
0,1,대규모점포,08_25_01_P,4500000,2.01745E+18,20170221,NaN,1,영업/정상,5,...,NaN,NaN,U7 SQUARE,2.017040e+13,I,59:59.0,복합쇼핑몰,NaN,NaN,대규모점포
1,2,대규모점포,08_25_01_P,3640000,2.01936E+18,20190117,NaN,1,영업/정상,5,...,"대전광역시 동구 계족로140번길 183, 덕림코아빌딩 (용운동)",34526.0,(주)이마트에브리데이 용방점,2.021060e+13,U,40:00.0,구분없음,240750.4651,314288.2847,준대규모점포
2,3,대규모점포,08_25_01_P,3940000,2.01939E+18,20190122,NaN,1,영업/정상,5,...,"경기도 고양시 일산동구 연리지로 51, 라몬테이탈리아노 (장항동)",10393.0,라 몬테 이탈리아노,2.019010e+13,I,20:58.0,그 밖의 대규모점포,178307.0447,461974.8012,대규모점포
3,4,대규모점포,08_25_01_P,3940000,2.01939E+18,20190123,NaN,1,영업/정상,5,...,경기도 고양시 일산서구 킨텍스로 240 (대화동),10391.0,GIFC MALL,2.019010e+13,I,21:00.0,그 밖의 대규모점포,177924.7924,462674.1487,대규모점포
4,5,대규모점포,08_25_01_P,5070000,2.01951E+18,20190115,NaN,1,영업/정상,5,...,경상북도 안동시 번영4길 15 (서부동),36695.0,노브랜드 안동구시장점,2.019010e+13,I,20:51.0,구분없음,354708.4691,341870.1449,준대규모점포
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,3938,대규모점포,08_25_01_P,4230000,2.00542E+18,20051213,NaN,1,영업/정상,BBBB,...,강원도 속초시 조양상가길 25 (조양동),NaN,D-마트,2.007070e+13,I,59:59.0,그 밖의 대규모점포,338339.9746,521995.5235,NaN
3938,3939,대규모점포,08_25_01_P,4510000,2.00345E+18,20030408,NaN,1,영업/정상,BBBB,...,충청남도 보령시 대천항중앙길 66 (신흑동),NaN,(사)한국수산업경영인보령시연합회,2.007060e+13,I,59:59.0,그 밖의 대규모점포,155784.3302,314490.5978,NaN
3939,3940,대규모점포,08_25_01_P,4510000,2.00345E+18,20030408,NaN,1,영업/정상,BBBB,...,충청남도 보령시 대천항중앙길 66 (신흑동),NaN,(사)한국수산업경영인보령시연합회,2.007060e+13,I,59:59.0,그 밖의 대규모점포,155784.3302,314490.5978,NaN
3940,3941,대규모점포,08_25_01_P,4530000,2.00245E+18,20020625,NaN,1,영업/정상,BBBB,...,NaN,NaN,(주)세계유통,2.007060e+13,I,59:59.0,그 밖의 대규모점포,NaN,NaN,NaN
3941,3942,대규모점포,08_25_01_P,4390000,2.00244E+18,20021217,NaN,1,영업/정상,BBBB,...,NaN,NaN,애플존,2.007060e+13,I,59:59.0,대형마트,282066.4716,387630.1517,NaN

In [74]:
#영업상태가 영업/정상이 아닌 데이터 삭제하기
유통 = 유통[유통['영업상태명'] == '영업/정상']
유통 = 유통[['소재지전체주소', '도로명전체주소', '사업장명']]
유통

,소재지전체주소,도로명전체주소,사업장명
0,충청남도 공주시 금흥동 201번지 1호,NaN,U7 SQUARE
1,대전광역시 동구 용운동 432번지 덕림코아빌딩,"대전광역시 동구 계족로140번길 183, 덕림코아빌딩 (용운동)",(주)이마트에브리데이 용방점
2,경기도 고양시 일산동구 장항동 1800번지 라몬테이탈리아노,"경기도 고양시 일산동구 연리지로 51, 라몬테이탈리아노 (장항동)",라 몬테 이탈리아노
3,경기도 고양시 일산서구 대화동 2603번지,경기도 고양시 일산서구 킨텍스로 240 (대화동),GIFC MALL
4,경상북도 안동시 서부동 149번지 40호,경상북도 안동시 번영4길 15 (서부동),노브랜드 안동구시장점
...,...,...,...
3937,강원도 속초시 조양동 1498번지 2호,강원도 속초시 조양상가길 25 (조양동),D-마트
3938,충청남도 보령시 신흑동 2240호,충청남도 보령시 대천항중앙길 66 (신흑동),(사)한국수산업경영인보령시연합회
3939,충청남도 보령시 신흑동 2240호,충청남도 보령시 대천항중앙길 66 (신흑동),(사)한국수산업경영인보령시연합회
3940,충청남도 서산시 갈산동 222호,NaN,(주)세계유통
3941,충청북도 충주시 칠금동 598호,NaN,애플존

In [75]:
# 결측치 각 데이터로 대체 후 필요한 column만 추출
유통['마트전체주소'] = np.where(pd.notnull(유통['소재지전체주소']) == True, 유통['소재지전체주소'], 유통['도로명전체주소'])
유통 = 유통[['마트전체주소', '사업장명']]
유통

                                마트전체주소               사업장명
0                충청남도 공주시 금흥동 201번지 1호          U7 SQUARE
1            대전광역시 동구 용운동 432번지 덕림코아빌딩    (주)이마트에브리데이 용방점
2     경기도 고양시 일산동구 장항동 1800번지 라몬테이탈리아노         라 몬테 이탈리아노
3              경기도 고양시 일산서구 대화동 2603번지          GIFC MALL
4               경상북도 안동시 서부동 149번지 40호        노브랜드 안동구시장점
...                                ...                ...
3937             강원도 속초시 조양동 1498번지 2호               D-마트
3938                충청남도 보령시 신흑동 2240호  (사)한국수산업경영인보령시연합회
3939                충청남도 보령시 신흑동 2240호  (사)한국수산업경영인보령시연합회
3940                 충청남도 서산시 갈산동 222호            (주)세계유통
3941                 충청북도 충주시 칠금동 598호                애플존

[2922 rows x 2 columns]

In [76]:
# 주소를 띄어쓰기 기준으로 시도명 / 시군구명으로 분리
분리 = 유통['마트전체주소'].str.split(' ')
시도명 = 분리.str.get(0)
시군구명 = 분리.str.get(1)

유통['시도명'], 유통['시군구명'] = 시도명, 시군구명
유통

                                마트전체주소               사업장명    시도명 시군구명
0                충청남도 공주시 금흥동 201번지 1호          U7 SQUARE   충청남도  공주시
1            대전광역시 동구 용운동 432번지 덕림코아빌딩    (주)이마트에브리데이 용방점  대전광역시   동구
2     경기도 고양시 일산동구 장항동 1800번지 라몬테이탈리아노         라 몬테 이탈리아노    경기도  고양시
3              경기도 고양시 일산서구 대화동 2603번지          GIFC MALL    경기도  고양시
4               경상북도 안동시 서부동 149번지 40호        노브랜드 안동구시장점   경상북도  안동시
...                                ...                ...    ...  ...
3937             강원도 속초시 조양동 1498번지 2호               D-마트    강원도  속초시
3938                충청남도 보령시 신흑동 2240호  (사)한국수산업경영인보령시연합회   충청남도  보령시
3939                충청남도 보령시 신흑동 2240호  (사)한국수산업경영인보령시연합회   충청남도  보령시
3940                 충청남도 서산시 갈산동 222호            (주)세계유통   충청남도  서산시
3941                 충청북도 충주시 칠금동 598호                애플존   충청북도  충주시

[2922 rows x 4 columns]

In [77]:
# 각 데이터의 지역명 통일을 위해 변경

유통.loc[(유통['시도명'] == '세종특별자치시', ['시군구명'])] = '세종특별자치시'

유통.replace({'시군구명':['안산시상록구', '안산시단원구']}, '안산시', inplace=True)
유통.replace({'시군구명':['용인시처인구', '용인시수지구', '용인시처인구']}, '용인시', inplace=True)
유통.replace({'시군구명':['수원시팔달구', '수원시영통구', '수원시장안구', '수원시권선구']}, '수원시', inplace=True)
유통.replace({'시군구명':['포항시남구', '포항시북구']}, '포항시', inplace=True)
유통.replace({'시군구명':['성남시분당구', '성남시중원구', '성남시수정구']}, '성남시', inplace=True)
유통.replace({'시군구명':['부천시상동', '부천시춘의동', '부천시중동', '부천시심곡본동']}, '부천시', inplace=True)
유통.replace({'시군구명':['고양시일산동구', '고양시덕양구', '고양시일산서구']}, '고양시', inplace=True)
유통.replace({'시군구명':['전주시완산구', '전주시덕진구']}, '전주시', inplace=True)
유통.replace({'시군구명':['안양시동안구', '안양시만안구']}, '안양시', inplace=True)
유통.replace({'시군구명':['용인시처인구', '용인시수지구', '용인시처인구', '용인시기흥구']}, '용인시', inplace=True)

In [78]:
# 중복 데이터 제거
유통 = 유통.drop_duplicates()
유통

                                마트전체주소               사업장명    시도명 시군구명
0                충청남도 공주시 금흥동 201번지 1호          U7 SQUARE   충청남도  공주시
1            대전광역시 동구 용운동 432번지 덕림코아빌딩    (주)이마트에브리데이 용방점  대전광역시   동구
2     경기도 고양시 일산동구 장항동 1800번지 라몬테이탈리아노         라 몬테 이탈리아노    경기도  고양시
3              경기도 고양시 일산서구 대화동 2603번지          GIFC MALL    경기도  고양시
4               경상북도 안동시 서부동 149번지 40호        노브랜드 안동구시장점   경상북도  안동시
...                                ...                ...    ...  ...
3936             광주광역시 남구 주월동 408번지 1호                빅마트  광주광역시   남구
3937             강원도 속초시 조양동 1498번지 2호               D-마트    강원도  속초시
3938                충청남도 보령시 신흑동 2240호  (사)한국수산업경영인보령시연합회   충청남도  보령시
3940                 충청남도 서산시 갈산동 222호            (주)세계유통   충청남도  서산시
3941                 충청북도 충주시 칠금동 598호                애플존   충청북도  충주시

[2883 rows x 4 columns]

In [79]:
# 지역명을 '시도명_시군구명'으로 변경
유통['지역명'] = 유통['시도명'] + '_' + 유통['시군구명']
유통

,마트전체주소,사업장명,시도명,시군구명,지역명
0,충청남도 공주시 금흥동 201번지 1호,U7 SQUARE,충청남도,공주시,충청남도_공주시
1,대전광역시 동구 용운동 432번지 덕림코아빌딩,(주)이마트에브리데이 용방점,대전광역시,동구,대전광역시_동구
2,경기도 고양시 일산동구 장항동 1800번지 라몬테이탈리아노,라 몬테 이탈리아노,경기도,고양시,경기도_고양시
3,경기도 고양시 일산서구 대화동 2603번지,GIFC MALL,경기도,고양시,경기도_고양시
4,경상북도 안동시 서부동 149번지 40호,노브랜드 안동구시장점,경상북도,안동시,경상북도_안동시
...,...,...,...,...,...
3936,광주광역시 남구 주월동 408번지 1호,빅마트,광주광역시,남구,광주광역시_남구
3937,강원도 속초시 조양동 1498번지 2호,D-마트,강원도,속초시,강원도_속초시
3938,충청남도 보령시 신흑동 2240호,(사)한국수산업경영인보령시연합회,충청남도,보령시,충청남도_보령시
3940,충청남도 서산시 갈산동 222호,(주)세계유통,충청남도,서산시,충청남도_서산시
3941,충청북도 충주시 칠금동 598호,애플존,충청북도,충주시,충청북도_충주시

In [80]:
# 지역명 기준으로 값 count
유통['지역명'].value_counts()

경상남도_창원시    82
경기도_성남시     69
서울특별시_중구    60
경기도_고양시     56
경상북도_포항시    55
            ..
대구광역시_남구     1
전라남도_고흥군     1
전라남도_장성군     1
전라남도_곡성군     1
충청북도_증평군     1
Name: 지역명, Length: 195, dtype: int64

In [81]:
# 데이터 파일 간의 통일을 위해 시도명, 시군구명, 지역명 변경

유통.loc[유통.지역명 == '133번지_1호', '시도명'] = '경기도'
유통.loc[유통.지역명 == '133번지_1호', '시군구명'] = '화성시'
유통.loc[유통.지역명 == '133번지_1호', '지역명'] = '경기도_화성시'

유통.loc[유통.지역명 == '전라북도_', '시도명'] = '전라북도'
유통.loc[유통.지역명 == '전라북도_', '시군구명'] = '군산시'
유통.loc[유통.지역명 == '전라북도_', '지역명'] = '전라북도_군산시'

In [82]:
# 지역명 지정

유통.loc[(유통['지역명'] == '경기도_화성군', ['지역명'])] = '경기도_화성시'
유통.loc[(유통['지역명'] == '경상남도_마산시', ['지역명'])] = '경상남도_창원시'
유통.loc[(유통['지역명'] == '경상남도_진해시', ['지역명'])] = '경상남도_창원시'
유통.loc[(유통['지역명'] == '인천광역시_남구', ['지역명'])] = '인천광역시_미추홀구'
유통.loc[(유통['지역명'] == '충청남도_당진군', ['지역명'])] = '충청남도_당진시'

In [83]:
# 필요한 데이터만 추출한 후 중복 데이터 제거
유통 = 유통[['지역명', '사업장명']]
유통 = 유통.drop_duplicates()
유통

           지역명               사업장명
0     충청남도_공주시          U7 SQUARE
1     대전광역시_동구    (주)이마트에브리데이 용방점
2      경기도_고양시         라 몬테 이탈리아노
3      경기도_고양시          GIFC MALL
4     경상북도_안동시        노브랜드 안동구시장점
...        ...                ...
3936  광주광역시_남구                빅마트
3937   강원도_속초시               D-마트
3938  충청남도_보령시  (사)한국수산업경영인보령시연합회
3940  충청남도_서산시            (주)세계유통
3941  충청북도_충주시                애플존

[2798 rows x 2 columns]

In [84]:
# 지역명 기준으로 유통시설 수 산출
유통시설_수 = 유통.groupby(유통['지역명'], as_index=False)['사업장명'].count()
유통시설_수.rename(columns = {'사업장명' : '유통시설_수'}, inplace = True)
유통시설_수

          지역명  유통시설_수
0     강원도_강릉시      12
1     강원도_동해시       3
2     강원도_삼척시       8
3     강원도_속초시       5
4     강원도_영월군       1
..        ...     ...
183  충청북도_제천시       5
184  충청북도_증평군       1
185  충청북도_진천군       1
186  충청북도_청주시      47
187  충청북도_충주시      12

[188 rows x 2 columns]

In [85]:
# 법정동코드와 유통시설 수 merge
시군구별_유통시설 = pd.merge(법정동코드, 유통시설_수, on = '지역명', how = 'outer')
시군구별_유통시설 = 시군구별_유통시설.fillna(0)
시군구별_유통시설['유통시설_수'] = 시군구별_유통시설['유통시설_수'].astype('int64')
시군구별_유통시설

          법정동코드      시도명  시군구명           지역명  유통시설_수
0    1111000000    서울특별시   종로구     서울특별시_종로구      20
1    1114000000    서울특별시    중구      서울특별시_중구      58
2    1117000000    서울특별시   용산구     서울특별시_용산구      25
3    1120000000    서울특별시   성동구     서울특별시_성동구      20
4    1121500000    서울특별시   광진구     서울특별시_광진구      26
..          ...      ...   ...           ...     ...
224  4887000000     경상남도   함양군      경상남도_함양군       2
225  4888000000     경상남도   거창군      경상남도_거창군       0
226  4889000000     경상남도   합천군      경상남도_합천군       1
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시      31
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시      12

[229 rows x 5 columns]

In [86]:
# 법정동코드로 index 설정
시군구별_유통시설.set_index('법정동코드', inplace = True)

In [87]:
# 시군구별_유통시설 파일 반환
시군구별_유통시설.to_csv('../전처리된데이터/시군구별_유통시설.csv')

# 시군구별_전체

In [88]:
# 시군구별 인프라 불러오기
시군구별_공공시설 = pd.read_csv('../전처리된데이터/시군구별_공공시설.csv')
시군구별_교육시설 = pd.read_csv('../전처리된데이터/시군구별_교육시설.csv')
시군구별_교통시설 = pd.read_csv('../전처리된데이터/시군구별_교통시설.csv')
시군구별_문화시설 = pd.read_csv('../전처리된데이터/시군구별_문화시설.csv')
시군구별_유통시설 = pd.read_csv('../전처리된데이터/시군구별_유통시설.csv')
시군구별_의료시설 = pd.read_csv('../전처리된데이터/시군구별_의료시설.csv')

In [89]:
# 필요한 column만 추출하여 저장
공공시설 = 시군구별_공공시설[['법정동코드', '주민센터_수', '우체국_수']]
교육시설 = 시군구별_교육시설[['법정동코드', '대학교_수', '초중고_수']]
교통시설 = 시군구별_교통시설[['법정동코드', '대중교통_만족도']]
문화시설 = 시군구별_문화시설[['법정동코드', '도서관_수', '문화시설_수']]
유통시설 = 시군구별_유통시설[['법정동코드', '유통시설_수']]
의료시설 = 시군구별_의료시설[['법정동코드', '상급종합병원_수', '종합병원_수']]

In [90]:
# 각 인프라 데이터를 법정동코드 기준으로 merge
tmp1 = pd.merge(공공시설, 교육시설, on = '법정동코드', how = 'inner')
tmp2 = pd.merge(tmp1, 교통시설, on = '법정동코드', how = 'inner')
tmp3 = pd.merge(tmp2, 문화시설, on = '법정동코드', how = 'inner')
tmp4 = pd.merge(tmp3, 유통시설, on = '법정동코드', how = 'inner')
전체 = pd.merge(tmp4, 의료시설, on = '법정동코드', how = 'inner')
전체

,법정동코드,주민센터_수,우체국_수,대학교_수,초중고_수,대중교통_만족도,도서관_수,문화시설_수,유통시설_수,상급종합병원_수,종합병원_수
0,1111000000,17,20,7,72,4.660667,29,62,20,2,2
1,1114000000,15,13,2,60,4.660667,25,24,58,0,2
2,1117000000,16,15,2,68,4.660667,26,18,25,0,1
3,1120000000,17,10,3,82,4.660667,31,14,20,1,0
4,1121500000,15,14,4,86,4.660667,34,9,26,1,1
...,...,...,...,...,...,...,...,...,...,...,...
224,4887000000,11,11,0,46,4.590667,12,4,2,0,0
225,4888000000,12,13,2,66,4.590667,12,6,0,0,0
226,4889000000,17,18,0,66,4.590667,20,6,1,0,0
227,5011000000,26,32,5,246,4.600000,108,70,31,0,5
228,5013000000,17,15,0,154,4.600000,65,61,12,0,1

In [91]:
# 법정동코드로 index 설정
전체.set_index('법정동코드', inplace = True)

In [92]:
# 전체 인프라 데이터 파일 반환
전체.to_csv('../전처리된데이터/시군구별_전체.csv')

# 시설별_세대수

### 노인복지주택

In [93]:
# 노인복지주택 데이터 불러오기 (target 값)
노인복지주택 = pd.read_csv('../원본데이터/시설별_세대수/1. 노인복지주택.csv', header = 1, encoding = 'cp949')
노인복지주택

                 시설명      시도명     시군구명   세대수
0     서울시니어스타워㈜ 서울본부    서울특별시       중구   144
1              정동상림원    서울특별시       중구    98
2             하이원빌리지    서울특별시      용산구   114
3             노블레스타워    서울특별시      성북구   239
4   시니어캐슬클라시온 노인복지주택    서울특별시      은평구   137
5           상암카이저팰리스    서울특별시      마포구   240
6     서울시니어스타워㈜ 가양본부    서울특별시      강서구   350
7     서울시니어스타워㈜ 강서본부    서울특별시      강서구   142
8        서울시니어스 강남타워    서울특별시      강남구    95
9            더시그넘하우스    서울특별시      강남구   169
10             후성누리움    서울특별시      강동구    51
11            흰돌실버타운    부산광역시      수영구   293
12             마리스텔라    인천광역시       서구   264
13   과학기술인공제회사이언스빌리지    대전광역시      유성구   240
14           밀마루복지마을  세종특별자치시  세종특별자치시   100
15              유당마을      경기도      수원시   279
16            광교아르데코      경기도      수원시   261
17            광교두산위브      경기도      수원시   547
18    서울시니어스타워㈜ 분당본부      경기도      성남시   254
19             정원속궁전      경기도      성남시   170
20           성남시 아리움      경기도      성남시    19
21              엔젤아크      경기도      성남시    33
22            더 헤리티지      경기도      성남시   390
23           수동시니어타운      경기도     남양주시   136
24            에버그린센터      경기도     남양주시    32
25          블루밍 더클래식      경기도      하남시   220
26          스프링카운티자이      경기도      용인시  1345
27        안성크리스찬휴빌리지      경기도      안성시    76
28             청심빌리지      경기도      가평군   155
29        동해약천온천실버타운      강원도      동해시   146
30             공주원로원     충청남도      공주시   100
31           옥성골든카운티     전라북도      전주시   446
32          내장산실버아파트     전라북도      정읍시   147
33          김제노인전용주택     전라북도      김제시   150
34    서울시니어스타워㈜ 고창타워     전라북도      고창군   243
35     월명성모의집 노인복지주택     경상북도      김천시   100

In [94]:
# column 이름 변경
노인복지주택.rename(columns = {'시설명' : '이름'}, inplace = True)

In [95]:
# 지역명을 '시도명_시군구명'으로 변경
노인복지주택['지역명'] = 노인복지주택['시도명'] + '_' + 노인복지주택['시군구명']

In [96]:
노인복지주택

                  이름      시도명     시군구명   세대수              지역명
0     서울시니어스타워㈜ 서울본부    서울특별시       중구   144         서울특별시_중구
1              정동상림원    서울특별시       중구    98         서울특별시_중구
2             하이원빌리지    서울특별시      용산구   114        서울특별시_용산구
3             노블레스타워    서울특별시      성북구   239        서울특별시_성북구
4   시니어캐슬클라시온 노인복지주택    서울특별시      은평구   137        서울특별시_은평구
5           상암카이저팰리스    서울특별시      마포구   240        서울특별시_마포구
6     서울시니어스타워㈜ 가양본부    서울특별시      강서구   350        서울특별시_강서구
7     서울시니어스타워㈜ 강서본부    서울특별시      강서구   142        서울특별시_강서구
8        서울시니어스 강남타워    서울특별시      강남구    95        서울특별시_강남구
9            더시그넘하우스    서울특별시      강남구   169        서울특별시_강남구
10             후성누리움    서울특별시      강동구    51        서울특별시_강동구
11            흰돌실버타운    부산광역시      수영구   293        부산광역시_수영구
12             마리스텔라    인천광역시       서구   264         인천광역시_서구
13   과학기술인공제회사이언스빌리지    대전광역시      유성구   240        대전광역시_유성구
14           밀마루복지마을  세종특별자치시  세종특별자치시   100  세종특별자치시_세종특별자치시
15              유당마을      경기도      수원시   279          경기도_수원시
16            광교아르데코      경기도      수원시   261          경기도_수원시
17            광교두산위브      경기도      수원시   547          경기도_수원시
18    서울시니어스타워㈜ 분당본부      경기도      성남시   254          경기도_성남시
19             정원속궁전      경기도      성남시   170          경기도_성남시
20           성남시 아리움      경기도      성남시    19          경기도_성남시
21              엔젤아크      경기도      성남시    33          경기도_성남시
22            더 헤리티지      경기도      성남시   390          경기도_성남시
23           수동시니어타운      경기도     남양주시   136         경기도_남양주시
24            에버그린센터      경기도     남양주시    32         경기도_남양주시
25          블루밍 더클래식      경기도      하남시   220          경기도_하남시
26          스프링카운티자이      경기도      용인시  1345          경기도_용인시
27        안성크리스찬휴빌리지      경기도      안성시    76          경기도_안성시
28             청심빌리지      경기도      가평군   155          경기도_가평군
29        동해약천온천실버타운      강원도      동해시   146          강원도_동해시
30             공주원로원     충청남도      공주시   100         충청남도_공주시
31           옥성골든카운티     전라북도      전주시   446         전라북도_전주시
32          내장산실버아파트     전라북도      정읍시   147         전라북도_정읍시
33          김제노인전용주택     전라북도      김제시   150         전라북도_김제시
34    서울시니어스타워㈜ 고창타워     전라북도      고창군   243         전라북도_고창군
35     월명성모의집 노인복지주택     경상북도      김천시   100         경상북도_김천시

### 고령자복지주택

In [97]:
# 고령자복지주택 데이터 불러오기
고령자복지주택 = pd.read_csv('../원본데이터/시설별_세대수/2. 고령자복지주택.csv', header = 1, encoding = 'cp949')
고령자복지주택

               단지명      시도명     시군구명  세대수
0            서울번동3    서울특별시      강북구  100
1           서울독산13    서울특별시      금천구   10
2             대구연호    대구광역시      수성구  143
3             옹진백령    인천광역시      옹진군   72
4             인천검단    인천광역시       서구  120
5             대전인동    대전광역시       동구   80
6             울산다운    울산광역시       중구  148
7             울산혁신    울산광역시       중구   80
8             세종신흥  세종특별자치시  세종특별자치시   80
9   분당목련1(고령자복지주택)      경기도      성남시  130
10            시흥하중      경기도      시흥시  100
11           의정부우정      경기도     의정부시  100
12            파주운정      경기도      파주시  152
13            양평공흥      경기도      양평군  150
14            시흥은계      경기도      시흥시  190
15         남양주다산진건      경기도     남양주시  116
16            성남위례      경기도      성남시  164
17            평택고덕      경기도      평택시  114
18            수원광교      경기도      수원시  152
19            동해천곡      강원도      동해시  318
20            평창종부      강원도      평창군  116
21            홍천북방      강원도      홍천군  128
22            화천신읍      강원도      화천군  120
23            영월덕포      강원도      영월군  100
24            영월주천      강원도      인제군  100
25            영동부용     충청북도      영동군  168
26            보은이평     충청북도      보은군  100
27            제천청전     충청북도      제천시   90
28            천안쌍용     충청남도      천안시   50
29            예산주교     충청남도      예산군  144
30            청양교월     충청남도      청양군  127
31            보령명천     충청남도      보령시  120
32            군산오룡     전라북도      군산시  150
33           전주평화4     전라북도      전주시   10
34            정읍연지     전라북도      정읍시   88
35            고창율계     전라북도      고창군  128
36            부안봉덕     전라북도      부안군   80
37            영암남풍     전라남도      영암군  100
38            광양칠성     전라남도      광양시  150
39            장성영천     전라남도      장성군  150
40            진도쌍정     전라남도      진도군  100
41            영덕영해     경상북도      영덕군  124
42            경주황성     경상북도      경주시  137
43            경주내남     경상북도      경주시   90
44            경주안강     경상북도      경주시  103
45            안동운흥     경상북도      안동시  150
46            인제서화      강원도      인제군   70
47            고성교사     경상남도      고성군  100
48            진주평거     경상남도      진주시  104
49            남해고현     경상남도      남해군   30
50            남해창선     경상남도      남해군   32
51            제주화북  제주특별자치도      제주시  100
52            제주아라  제주특별자치도      제주시   24

In [98]:
# column 이름 변경 및 지역명을 '시도명_시군구명' 형식으로 변환
고령자복지주택.rename(columns = {'단지명' : '이름'}, inplace = True)
고령자복지주택['지역명'] = 고령자복지주택['시도명'] + '_' + 고령자복지주택['시군구명']

In [99]:
고령자복지주택

                이름      시도명     시군구명  세대수              지역명
0            서울번동3    서울특별시      강북구  100        서울특별시_강북구
1           서울독산13    서울특별시      금천구   10        서울특별시_금천구
2             대구연호    대구광역시      수성구  143        대구광역시_수성구
3             옹진백령    인천광역시      옹진군   72        인천광역시_옹진군
4             인천검단    인천광역시       서구  120         인천광역시_서구
5             대전인동    대전광역시       동구   80         대전광역시_동구
6             울산다운    울산광역시       중구  148         울산광역시_중구
7             울산혁신    울산광역시       중구   80         울산광역시_중구
8             세종신흥  세종특별자치시  세종특별자치시   80  세종특별자치시_세종특별자치시
9   분당목련1(고령자복지주택)      경기도      성남시  130          경기도_성남시
10            시흥하중      경기도      시흥시  100          경기도_시흥시
11           의정부우정      경기도     의정부시  100         경기도_의정부시
12            파주운정      경기도      파주시  152          경기도_파주시
13            양평공흥      경기도      양평군  150          경기도_양평군
14            시흥은계      경기도      시흥시  190          경기도_시흥시
15         남양주다산진건      경기도     남양주시  116         경기도_남양주시
16            성남위례      경기도      성남시  164          경기도_성남시
17            평택고덕      경기도      평택시  114          경기도_평택시
18            수원광교      경기도      수원시  152          경기도_수원시
19            동해천곡      강원도      동해시  318          강원도_동해시
20            평창종부      강원도      평창군  116          강원도_평창군
21            홍천북방      강원도      홍천군  128          강원도_홍천군
22            화천신읍      강원도      화천군  120          강원도_화천군
23            영월덕포      강원도      영월군  100          강원도_영월군
24            영월주천      강원도      인제군  100          강원도_인제군
25            영동부용     충청북도      영동군  168         충청북도_영동군
26            보은이평     충청북도      보은군  100         충청북도_보은군
27            제천청전     충청북도      제천시   90         충청북도_제천시
28            천안쌍용     충청남도      천안시   50         충청남도_천안시
29            예산주교     충청남도      예산군  144         충청남도_예산군
30            청양교월     충청남도      청양군  127         충청남도_청양군
31            보령명천     충청남도      보령시  120         충청남도_보령시
32            군산오룡     전라북도      군산시  150         전라북도_군산시
33           전주평화4     전라북도      전주시   10         전라북도_전주시
34            정읍연지     전라북도      정읍시   88         전라북도_정읍시
35            고창율계     전라북도      고창군  128         전라북도_고창군
36            부안봉덕     전라북도      부안군   80         전라북도_부안군
37            영암남풍     전라남도      영암군  100         전라남도_영암군
38            광양칠성     전라남도      광양시  150         전라남도_광양시
39            장성영천     전라남도      장성군  150         전라남도_장성군
40            진도쌍정     전라남도      진도군  100         전라남도_진도군
41            영덕영해     경상북도      영덕군  124         경상북도_영덕군
42            경주황성     경상북도      경주시  137         경상북도_경주시
43            경주내남     경상북도      경주시   90         경상북도_경주시
44            경주안강     경상북도      경주시  103         경상북도_경주시
45            안동운흥     경상북도      안동시  150         경상북도_안동시
46            인제서화      강원도      인제군   70          강원도_인제군
47            고성교사     경상남도      고성군  100         경상남도_고성군
48            진주평거     경상남도      진주시  104         경상남도_진주시
49            남해고현     경상남도      남해군   30         경상남도_남해군
50            남해창선     경상남도      남해군   32         경상남도_남해군
51            제주화북  제주특별자치도      제주시  100      제주특별자치도_제주시
52            제주아라  제주특별자치도      제주시   24      제주특별자치도_제주시

### 웰플러스주택

In [100]:
# 웰플러스주택 데이터 불러오기
웰플러스주택 = pd.read_csv('../원본데이터/시설별_세대수/3. 웰플러스주택.csv', header = 1, encoding = 'cp949')
웰플러스주택

             단지명    시도명 시군구명  세대수
0          서울중계3  서울특별시  노원구  130
1          서울중계9  서울특별시  노원구   60
2           인천삼산  인천광역시  부평구  208
3          대전중촌2  대전광역시   중구  112
4  분당목련1(웰플러스주택)    경기도  성남시   90
5          분당한솔7    경기도  성남시  248
6        청주산남2-1   충청북도  청주시  130
7          익산부송1   전라북도  익산시  112
8          경주용강1   경상북도  경주시  232

In [101]:
# column 이름 변경 및 지역명을 '시도명_시군구명' 형태로 변환
웰플러스주택.rename(columns = {'단지명' : '이름'}, inplace = True)
웰플러스주택['지역명'] = 웰플러스주택['시도명'] + '_' + 웰플러스주택['시군구명']

In [102]:
웰플러스주택

              이름    시도명 시군구명  세대수        지역명
0          서울중계3  서울특별시  노원구  130  서울특별시_노원구
1          서울중계9  서울특별시  노원구   60  서울특별시_노원구
2           인천삼산  인천광역시  부평구  208  인천광역시_부평구
3          대전중촌2  대전광역시   중구  112   대전광역시_중구
4  분당목련1(웰플러스주택)    경기도  성남시   90    경기도_성남시
5          분당한솔7    경기도  성남시  248    경기도_성남시
6        청주산남2-1   충청북도  청주시  130   충청북도_청주시
7          익산부송1   전라북도  익산시  112   전라북도_익산시
8          경주용강1   경상북도  경주시  232   경상북도_경주시

### 고령친화주택

In [103]:
# 고령친화주택 데이터 불러오기
고령친화주택 = pd.read_csv('../원본데이터/시설별_세대수/4. 그 외 고령친화주택.csv', header = 1, encoding = 'cp949')
고령친화주택

                 지구명    시도명 시군구명  세대수
0               도천지구    강원도  영월군   26
1               서곡지구    강원도  원주시   50
2               산북지구    강원도  강릉시   20
3               한계지구    강원도  인제군   31
4               샛돌지구    강원도  강릉시   54
..               ...    ...  ...  ...
122      SK그레이스힐(등촌)  서울특별시  강서구  182
123        더 클래식 500  서울특별시  광진구  380
124     삼성노블카운티+양로시설    경기도  용인시  555
125          용인 엘펜하임    경기도  용인시  336
126  서천어메니티복지마을+양로시설   충청남도  서천군  107

[127 rows x 4 columns]

In [104]:
# cilumn 이름 변경 및 지역명을 '시도명_시군구명' 형태로 변환
고령친화주택.rename(columns = {'지구명' : '이름'}, inplace = True)
고령친화주택['지역명'] = 고령친화주택['시도명'] + '_' + 고령친화주택['시군구명']

In [105]:
고령친화주택

                  이름    시도명 시군구명  세대수        지역명
0               도천지구    강원도  영월군   26    강원도_영월군
1               서곡지구    강원도  원주시   50    강원도_원주시
2               산북지구    강원도  강릉시   20    강원도_강릉시
3               한계지구    강원도  인제군   31    강원도_인제군
4               샛돌지구    강원도  강릉시   54    강원도_강릉시
..               ...    ...  ...  ...        ...
122      SK그레이스힐(등촌)  서울특별시  강서구  182  서울특별시_강서구
123        더 클래식 500  서울특별시  광진구  380  서울특별시_광진구
124     삼성노블카운티+양로시설    경기도  용인시  555    경기도_용인시
125          용인 엘펜하임    경기도  용인시  336    경기도_용인시
126  서천어메니티복지마을+양로시설   충청남도  서천군  107   충청남도_서천군

[127 rows x 5 columns]

In [106]:
# 노인복지주택과 고령자복지주택 데이터 concat
노인_고령자 = pd.concat([노인복지주택, 고령자복지주택], axis = 0)

In [107]:
# 웰플러스주택도 concat
노인_고령자_웰플러스 = pd.concat([노인_고령자, 웰플러스주택], axis = 0)

In [108]:
# 고령친화주택도 concat
노인주거시설 = pd.concat([노인_고령자_웰플러스, 고령친화주택], axis = 0)

In [109]:
노인주거시설

                   이름    시도명 시군구명  세대수        지역명
0      서울시니어스타워㈜ 서울본부  서울특별시   중구  144   서울특별시_중구
1               정동상림원  서울특별시   중구   98   서울특별시_중구
2              하이원빌리지  서울특별시  용산구  114  서울특별시_용산구
3              노블레스타워  서울특별시  성북구  239  서울특별시_성북구
4    시니어캐슬클라시온 노인복지주택  서울특별시  은평구  137  서울특별시_은평구
..                ...    ...  ...  ...        ...
122       SK그레이스힐(등촌)  서울특별시  강서구  182  서울특별시_강서구
123         더 클래식 500  서울특별시  광진구  380  서울특별시_광진구
124      삼성노블카운티+양로시설    경기도  용인시  555    경기도_용인시
125           용인 엘펜하임    경기도  용인시  336    경기도_용인시
126   서천어메니티복지마을+양로시설   충청남도  서천군  107   충청남도_서천군

[225 rows x 5 columns]

In [110]:
# 필요한 column만 추출
노인주거시설 = 노인주거시설[['이름', '지역명', '세대수']]

In [111]:
노인주거시설

                   이름        지역명  세대수
0      서울시니어스타워㈜ 서울본부   서울특별시_중구  144
1               정동상림원   서울특별시_중구   98
2              하이원빌리지  서울특별시_용산구  114
3              노블레스타워  서울특별시_성북구  239
4    시니어캐슬클라시온 노인복지주택  서울특별시_은평구  137
..                ...        ...  ...
122       SK그레이스힐(등촌)  서울특별시_강서구  182
123         더 클래식 500  서울특별시_광진구  380
124      삼성노블카운티+양로시설    경기도_용인시  555
125           용인 엘펜하임    경기도_용인시  336
126   서천어메니티복지마을+양로시설   충청남도_서천군  107

[225 rows x 3 columns]

In [112]:
# 법정동코드와 노인주거시설 merge
노인주거시설 = pd.merge(법정동코드, 노인주거시설, on = '지역명', how = 'inner')
노인주거시설

          법정동코드      시도명  시군구명           지역명              이름  세대수
0    1114000000    서울특별시    중구      서울특별시_중구  서울시니어스타워㈜ 서울본부  144
1    1114000000    서울특별시    중구      서울특별시_중구           정동상림원   98
2    1117000000    서울특별시   용산구     서울특별시_용산구          하이원빌리지  114
3    1121500000    서울특별시   광진구     서울특별시_광진구       더 클래식 500  380
4    1129000000    서울특별시   성북구     서울특별시_성북구          노블레스타워  239
..          ...      ...   ...           ...             ...  ...
220  4887000000     경상남도   함양군      경상남도_함양군            보산지구   78
221  5011000000  제주특별자치도   제주시   제주특별자치도_제주시            제주화북  100
222  5011000000  제주특별자치도   제주시   제주특별자치도_제주시            제주아라   24
223  5011000000  제주특별자치도   제주시   제주특별자치도_제주시            저지지구   21
224  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시            성읍지구   20

[225 rows x 6 columns]

In [113]:
# 노인주거시설과 독립변수(전체) 데이터 merge
시설별_전체 = pd.merge(노인주거시설, 전체, on = '법정동코드', how = 'inner')
시설별_전체

,법정동코드,시도명,시군구명,지역명,이름,세대수,주민센터_수,우체국_수,대학교_수,초중고_수,대중교통_만족도,도서관_수,문화시설_수,유통시설_수,상급종합병원_수,종합병원_수
0,1114000000,서울특별시,중구,서울특별시_중구,서울시니어스타워㈜ 서울본부,144,15,13,2,60,4.660667,25,24,58,0,2
1,1114000000,서울특별시,중구,서울특별시_중구,정동상림원,98,15,13,2,60,4.660667,25,24,58,0,2
2,1117000000,서울특별시,용산구,서울특별시_용산구,하이원빌리지,114,16,15,2,68,4.660667,26,18,25,0,1
3,1121500000,서울특별시,광진구,서울특별시_광진구,더 클래식 500,380,15,14,4,86,4.660667,34,9,26,1,1
4,1129000000,서울특별시,성북구,서울특별시_성북구,노블레스타워,239,20,15,7,120,4.660667,60,22,35,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,4887000000,경상남도,함양군,경상남도_함양군,보산지구,78,11,11,0,46,4.590667,12,4,2,0,0
221,5011000000,제주특별자치도,제주시,제주특별자치도_제주시,제주화북,100,26,32,5,246,4.600000,108,70,31,0,5
222,5011000000,제주특별자치도,제주시,제주특별자치도_제주시,제주아라,24,26,32,5,246,4.600000,108,70,31,0,5
223,5011000000,제주특별자치도,제주시,제주특별자치도_제주시,저지지구,21,26,32,5,246,4.600000,108,70,31,0,5
224,5013000000,제주특별자치도,서귀포시,제주특별자치도_서귀포시,성읍지구,20,17,15,0,154,4.600000,65,61,12,0,1

In [114]:
시설별_전체.columns

Index(['법정동코드', '시도명', '시군구명', '지역명', '이름', '세대수', '주민센터_수', '우체국_수', '대학교_수',
       '초중고_수', '대중교통_만족도', '도서관_수', '문화시설_수', '유통시설_수', '상급종합병원_수', '종합병원_수'],
      dtype='object')

In [115]:
# column 이름 변경
시설별_전체 = 시설별_전체[['이름', '법정동코드', '주민센터_수', '우체국_수', '대학교_수',
       '초중고_수', '대중교통_만족도', '도서관_수', '문화시설_수', '유통시설_수', '상급종합병원_수', '종합병원_수', '세대수']]
시설별_전체

,이름,법정동코드,주민센터_수,우체국_수,대학교_수,초중고_수,대중교통_만족도,도서관_수,문화시설_수,유통시설_수,상급종합병원_수,종합병원_수,세대수
0,서울시니어스타워㈜ 서울본부,1114000000,15,13,2,60,4.660667,25,24,58,0,2,144
1,정동상림원,1114000000,15,13,2,60,4.660667,25,24,58,0,2,98
2,하이원빌리지,1117000000,16,15,2,68,4.660667,26,18,25,0,1,114
3,더 클래식 500,1121500000,15,14,4,86,4.660667,34,9,26,1,1,380
4,노블레스타워,1129000000,20,15,7,120,4.660667,60,22,35,1,0,239
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,보산지구,4887000000,11,11,0,46,4.590667,12,4,2,0,0,78
221,제주화북,5011000000,26,32,5,246,4.600000,108,70,31,0,5,100
222,제주아라,5011000000,26,32,5,246,4.600000,108,70,31,0,5,24
223,저지지구,5011000000,26,32,5,246,4.600000,108,70,31,0,5,21
224,성읍지구,5013000000,17,15,0,154,4.600000,65,61,12,0,1,20

In [116]:
# 이름으로 index 설정
시설별_전체.set_index('이름', inplace = True)

In [117]:
# 시설별_전체 파일 반환
시설별_전체.to_csv('../전처리된데이터/시설별_전체.csv')