In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

# 시군구별_법정동코드

In [2]:
# 법정동 코드 불러오기
법정동코드 = pd.read_excel('../원본데이터/법정동코드/행정동_20220701.xlsx')
법정동코드.rename(columns = {'행정동코드' : '법정동코드'}, inplace = True)
법정동코드

           법정동코드      시도명  시군구명   읍면동명      생성일자  말소일자
0     1100000000    서울특별시   NaN    NaN  19880423   NaN
1     1111000000    서울특별시   종로구    NaN  19880423   NaN
2     1111051500    서울특별시   종로구  청운효자동  20081101   NaN
3     1111053000    서울특별시   종로구    사직동  19880423   NaN
4     1111054000    서울특별시   종로구    삼청동  19880423   NaN
...          ...      ...   ...    ...       ...   ...
3867  5013058000  제주특별자치도  서귀포시    서홍동  20060701   NaN
3868  5013059000  제주특별자치도  서귀포시    대륜동  20060701   NaN
3869  5013060000  제주특별자치도  서귀포시    대천동  20060701   NaN
3870  5013061000  제주특별자치도  서귀포시    중문동  20060701   NaN
3871  5013062000  제주특별자치도  서귀포시    예래동  20060701   NaN

[3872 rows x 6 columns]

In [3]:
# 읍면동 단위 제외하고 시군구 단위만 추출. ~출장소는 제외
시군구별_법정동코드 = 법정동코드[(법정동코드['시군구명'].notnull()) & (법정동코드['읍면동명'].isnull())]
시군구별_법정동코드 = 시군구별_법정동코드[~시군구별_법정동코드['시군구명'].str.contains("출장소", na=False, case=False)]
시군구별_법정동코드.drop(['읍면동명', '생성일자', '말소일자'], axis = 1, inplace = True)
시군구별_법정동코드

           법정동코드      시도명  시군구명
1     1111000000    서울특별시   종로구
19    1114000000    서울특별시    중구
35    1117000000    서울특별시   용산구
52    1120000000    서울특별시   성동구
70    1121500000    서울특별시   광진구
...          ...      ...   ...
3783  4887000000     경상남도   함양군
3795  4888000000     경상남도   거창군
3808  4889000000     경상남도   합천군
3827  5011000000  제주특별자치도   제주시
3854  5013000000  제주특별자치도  서귀포시

[261 rows x 3 columns]

In [4]:
# 시군구명 분리 ex) '포항시 남구' -> '포항시', '남구'
분리 = 시군구별_법정동코드['시군구명'].str.split(' ')
시군구명1 = 분리.str.get(0)
시군구명2 = 분리.str.get(1)

시군구별_법정동코드['시군구명1'], 시군구별_법정동코드['시군구명2'] = 시군구명1, 시군구명2
시군구별_법정동코드

           법정동코드      시도명  시군구명 시군구명1 시군구명2
1     1111000000    서울특별시   종로구   종로구   NaN
19    1114000000    서울특별시    중구    중구   NaN
35    1117000000    서울특별시   용산구   용산구   NaN
52    1120000000    서울특별시   성동구   성동구   NaN
70    1121500000    서울특별시   광진구   광진구   NaN
...          ...      ...   ...   ...   ...
3783  4887000000     경상남도   함양군   함양군   NaN
3795  4888000000     경상남도   거창군   거창군   NaN
3808  4889000000     경상남도   합천군   합천군   NaN
3827  5011000000  제주특별자치도   제주시   제주시   NaN
3854  5013000000  제주특별자치도  서귀포시  서귀포시   NaN

[261 rows x 5 columns]

In [5]:
# 시군구 단위의 변환을 위해 시군구명2가 null인 행은 제거한 후 '지역명' column에 '시도명_시군구명' 형태로 저장
시군구별_법정동코드 = 시군구별_법정동코드[시군구별_법정동코드['시군구명2'].isnull()]
시군구별_법정동코드.drop(['시군구명1', '시군구명2'], axis = 1, inplace = True)
시군구별_법정동코드['지역명'] = 시군구별_법정동코드['시도명'] + '_' + 시군구별_법정동코드['시군구명']
시군구별_법정동코드

           법정동코드      시도명  시군구명           지역명
1     1111000000    서울특별시   종로구     서울특별시_종로구
19    1114000000    서울특별시    중구      서울특별시_중구
35    1117000000    서울특별시   용산구     서울특별시_용산구
52    1120000000    서울특별시   성동구     서울특별시_성동구
70    1121500000    서울특별시   광진구     서울특별시_광진구
...          ...      ...   ...           ...
3783  4887000000     경상남도   함양군      경상남도_함양군
3795  4888000000     경상남도   거창군      경상남도_거창군
3808  4889000000     경상남도   합천군      경상남도_합천군
3827  5011000000  제주특별자치도   제주시   제주특별자치도_제주시
3854  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시

[229 rows x 4 columns]

In [6]:
# 법정동코드를 index로 설정
시군구별_법정동코드.set_index('법정동코드', inplace = True)

In [7]:
# 시군구별_법정동코드 파일 반환
시군구별_법정동코드.to_csv('../전처리된데이터/시군구별_법정동코드.csv')

# 시군구별_수요

In [8]:
# 연령별 인구 현황 파일 불러오기
인구 = pd.read_excel('../원본데이터/수요/202207_202207_연령별인구현황_월간.xlsx', header = 3, thousands = ',')
인구

,행정기관코드,행정기관,총 인구수,연령구간인구수,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세.2,60~64세.2,65~69세.2,70~74세.2,75~79세.2,80~84세.2,85~89세.2,90~94세.2,95~99세.2,100세 이상.2
0,1100000000,서울특별시,9493211,9493211,234012,327639,366293,385837,594528,816914,...,356931,378063,303339,220222,168853,122469,64981,25305,6351,1312
1,1111000000,서울특별시 종로구,143547,143547,2602,4066,4803,5344,9747,12911,...,5822,5678,4497,3404,3035,2506,1318,514,133,28
2,1111051500,서울특별시 종로구 청운효자동,11780,11780,248,459,553,573,657,833,...,475,416,337,286,276,212,106,40,8,2
3,1111053000,서울특별시 종로구 사직동,9292,9292,192,334,345,327,441,715,...,389,374,255,230,196,186,98,38,12,0
4,1111054000,서울특별시 종로구 삼청동,2380,2380,32,57,86,82,130,160,...,84,123,100,64,62,58,40,12,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3862,5013058000,제주특별자치도 서귀포시 서홍동,11247,11247,454,787,790,662,628,609,...,359,369,267,207,170,136,80,29,4,1
3863,5013059000,제주특별자치도 서귀포시 대륜동,15463,15463,682,873,764,632,632,806,...,564,584,449,313,269,196,133,46,17,7
3864,5013060000,제주특별자치도 서귀포시 대천동,13864,13864,595,950,749,534,655,752,...,461,444,365,275,201,167,124,49,9,3
3865,5013061000,제주특별자치도 서귀포시 중문동,12212,12212,404,585,657,527,607,744,...,436,399,304,268,186,187,145,47,10,2
3866,5013062000,제주특별자치도 서귀포시 예래동,3909,3909,74,136,134,115,203,267,...,167,175,136,109,88,93,78,34,8,1

In [9]:
인구.columns

Index(['행정기관코드', '행정기관', '총 인구수', '연령구간인구수', '0~4세', '5~9세', '10~14세',
       '15~19세', '20~24세', '25~29세', '30~34세', '35~39세', '40~44세', '45~49세',
       '50~54세', '55~59세', '60~64세', '65~69세', '70~74세', '75~79세', '80~84세',
       '85~89세', '90~94세', '95~99세', '100세 이상', '남 인구수', '연령구간인구수.1', '0~4세.1',
       '5~9세.1', '10~14세.1', '15~19세.1', '20~24세.1', '25~29세.1', '30~34세.1',
       '35~39세.1', '40~44세.1', '45~49세.1', '50~54세.1', '55~59세.1', '60~64세.1',
       '65~69세.1', '70~74세.1', '75~79세.1', '80~84세.1', '85~89세.1', '90~94세.1',
       '95~99세.1', '100세 이상.1', '여 인구수', '연령구간인구수.2', '0~4세.2', '5~9세.2',
       '10~14세.2', '15~19세.2', '20~24세.2', '25~29세.2', '30~34세.2', '35~39세.2',
       '40~44세.2', '45~49세.2', '50~54세.2', '55~59세.2', '60~64세.2', '65~69세.2',
       '70~74세.2', '75~79세.2', '80~84세.2', '85~89세.2', '90~94세.2', '95~99세.2',
       '100세 이상.2'],
      dtype='object')

In [10]:
인구.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3867 entries, 0 to 3866
Data columns (total 71 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   행정기관코드     3867 non-null   int64
 1   행정기관       3867 non-null   object
 2   총 인구수      3867 non-null   int64
 3   연령구간인구수    3867 non-null   int64
 4   0~4세       3867 non-null   int64
 5   5~9세       3867 non-null   int64
 6   10~14세     3867 non-null   int64
 7   15~19세     3867 non-null   int64
 8   20~24세     3867 non-null   int64
 9   25~29세     3867 non-null   int64
 10  30~34세     3867 non-null   int64
 11  35~39세     3867 non-null   int64
 12  40~44세     3867 non-null   int64
 13  45~49세     3867 non-null   int64
 14  50~54세     3867 non-null   int64
 15  55~59세     3867 non-null   int64
 16  60~64세     3867 non-null   int64
 17  65~69세     3867 non-null   int64
 18  70~74세     3867 non-null   int64
 19  75~79세     3867 non-null   int64
 20  80~84세     3867 non-null   int64
 21  85~89세     3867 non-null   int64
 22  90~94세     3867 non-null   int64
 23  95~99세     3867 non-null   int64
 24  100세 이상    3867 non-null   int64
 25  남 인구수      3867 non-null   int64
 26  연령구간인구수.1  3867 non-null   int64
 27  0~4세.1     3867 non-null   int64
 28  5~9세.1     3867 non-null   int64
 29  10~14세.1   3867 non-null   int64
 30  15~19세.1   3867 non-null   int64
 31  20~24세.1   3867 non-null   int64
 32  25~29세.1   3867 non-null   int64
 33  30~34세.1   3867 non-null   int64
 34  35~39세.1   3867 non-null   int64
 35  40~44세.1   3867 non-null   int64
 36  45~49세.1   3867 non-null   int64
 37  50~54세.1   3867 non-null   int64
 38  55~59세.1   3867 non-null   int64
 39  60~64세.1   3867 non-null   int64
 40  65~69세.1   3867 non-null   int64
 41  70~74세.1   3867 non-null   int64
 42  75~79세.1   3867 non-null   int64
 43  80~84세.1   3867 non-null   int64
 44  85~89세.1   3867 non-null   int64
 45  90~94세.1   3867 non-null   int64
 46  95~99세.1   3867 non-null   int64
 47  100세 이상.1  3867 non-null   int64
 48  여 인구수      3867 non-null   int64
 49  연령구간인구수.2  3867 non-null   int64
 50  0~4세.2     3867 non-null   int64
 51  5~9세.2     3867 non-null   int64
 52  10~14세.2   3867 non-null   int64
 53  15~19세.2   3867 non-null   int64
 54  20~24세.2   3867 non-null   int64
 55  25~29세.2   3867 non-null   int64
 56  30~34세.2   3867 non-null   int64
 57  35~39세.2   3867 non-null   int64
 58  40~44세.2   3867 non-null   int64
 59  45~49세.2   3867 non-null   int64
 60  50~54세.2   3867 non-null   int64
 61  55~59세.2   3867 non-null   int64
 62  60~64세.2   3867 non-null   int64
 63  65~69세.2   3867 non-null   int64
 64  70~74세.2   3867 non-null   int64
 65  75~79세.2   3867 non-null   int64
 66  80~84세.2   3867 non-null   int64
 67  85~89세.2   3867 non-null   int64
 68  90~94세.2   3867 non-null   int64
 69  95~99세.2   3867 non-null   int64
 70  100세 이상.2  3867 non-null   int64
dtypes: int64(70), object(1)
memory usage: 2.1+ MB

In [11]:
# 인구 수 '계' 까지만 추출
인구 = 인구.iloc[:, :25]
인구

,행정기관코드,행정기관,총 인구수,연령구간인구수,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
0,1100000000,서울특별시,9493211,9493211,234012,327639,366293,385837,594528,816914,...,702152,723288,568471,407734,305221,212098,99901,34574,8209,1743
1,1111000000,서울특별시 종로구,143547,143547,2602,4066,4803,5344,9747,12911,...,11763,11505,8918,6317,5329,4294,2132,740,205,44
2,1111051500,서울특별시 종로구 청운효자동,11780,11780,248,459,553,573,657,833,...,839,801,611,472,455,363,182,52,17,3
3,1111053000,서울특별시 종로구 사직동,9292,9292,192,334,345,327,441,715,...,697,708,490,387,335,319,173,62,25,1
4,1111054000,서울특별시 종로구 삼청동,2380,2380,32,57,86,82,130,160,...,175,223,185,132,103,93,59,21,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3862,5013058000,제주특별자치도 서귀포시 서홍동,11247,11247,454,787,790,662,628,609,...,720,726,511,401,314,229,102,39,5,2
3863,5013059000,제주특별자치도 서귀포시 대륜동,15463,15463,682,873,764,632,632,806,...,1116,1151,866,595,475,316,205,60,17,7
3864,5013060000,제주특별자치도 서귀포시 대천동,13864,13864,595,950,749,534,655,752,...,916,943,679,523,385,271,163,58,11,4
3865,5013061000,제주특별자치도 서귀포시 중문동,12212,12212,404,585,657,527,607,744,...,906,850,614,506,352,310,198,57,11,2
3866,5013062000,제주특별자치도 서귀포시 예래동,3909,3909,74,136,134,115,203,267,...,367,366,289,216,156,154,106,41,8,1

In [12]:
# 나중에 drop할 인구 수 '60세 미만' 추출
인구_60세미만 = 인구.iloc[:, 4:16]
인구_60세미만

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,50~54세,55~59세
0,234012,327639,366293,385837,594528,816914,748492,682023,737513,731275,805294,702152
1,2602,4066,4803,5344,9747,12911,10446,8963,10010,10478,12930,11763
2,248,459,553,573,657,833,779,760,1025,1048,1050,839
3,192,334,345,327,441,715,763,711,705,720,842,697
4,32,57,86,82,130,160,152,143,190,154,194,175
...,...,...,...,...,...,...,...,...,...,...,...,...
3862,454,787,790,662,628,609,520,752,1002,1014,980,720
3863,682,873,764,632,632,806,1019,1151,1441,1345,1310,1116
3864,595,950,749,534,655,752,823,1160,1361,1146,1186,916
3865,404,585,657,527,607,744,784,896,1097,997,1108,906
3866,74,136,134,115,203,267,215,202,256,261,342,367

In [13]:
# 인구 수 '60세 미만' drop
인구.drop(인구_60세미만, axis = 1, inplace = True)
인구

,행정기관코드,행정기관,총 인구수,연령구간인구수,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
0,1100000000,서울특별시,9493211,9493211,723288,568471,407734,305221,212098,99901,34574,8209,1743
1,1111000000,서울특별시 종로구,143547,143547,11505,8918,6317,5329,4294,2132,740,205,44
2,1111051500,서울특별시 종로구 청운효자동,11780,11780,801,611,472,455,363,182,52,17,3
3,1111053000,서울특별시 종로구 사직동,9292,9292,708,490,387,335,319,173,62,25,1
4,1111054000,서울특별시 종로구 삼청동,2380,2380,223,185,132,103,93,59,21,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3862,5013058000,제주특별자치도 서귀포시 서홍동,11247,11247,726,511,401,314,229,102,39,5,2
3863,5013059000,제주특별자치도 서귀포시 대륜동,15463,15463,1151,866,595,475,316,205,60,17,7
3864,5013060000,제주특별자치도 서귀포시 대천동,13864,13864,943,679,523,385,271,163,58,11,4
3865,5013061000,제주특별자치도 서귀포시 중문동,12212,12212,850,614,506,352,310,198,57,11,2
3866,5013062000,제주특별자치도 서귀포시 예래동,3909,3909,366,289,216,156,154,106,41,8,1

In [14]:
# 필요없는 '연령구간인구수' drop
인구.drop(['연령구간인구수'], axis = 1, inplace = True)
인구

,행정기관코드,행정기관,총 인구수,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
0,1100000000,서울특별시,9493211,723288,568471,407734,305221,212098,99901,34574,8209,1743
1,1111000000,서울특별시 종로구,143547,11505,8918,6317,5329,4294,2132,740,205,44
2,1111051500,서울특별시 종로구 청운효자동,11780,801,611,472,455,363,182,52,17,3
3,1111053000,서울특별시 종로구 사직동,9292,708,490,387,335,319,173,62,25,1
4,1111054000,서울특별시 종로구 삼청동,2380,223,185,132,103,93,59,21,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...
3862,5013058000,제주특별자치도 서귀포시 서홍동,11247,726,511,401,314,229,102,39,5,2
3863,5013059000,제주특별자치도 서귀포시 대륜동,15463,1151,866,595,475,316,205,60,17,7
3864,5013060000,제주특별자치도 서귀포시 대천동,13864,943,679,523,385,271,163,58,11,4
3865,5013061000,제주특별자치도 서귀포시 중문동,12212,850,614,506,352,310,198,57,11,2
3866,5013062000,제주특별자치도 서귀포시 예래동,3909,366,289,216,156,154,106,41,8,1

In [15]:
# 행정기관을 띄어쓰기 기준으로 시도 / 시군구 / 동명으로 분리
분리 = 인구.행정기관.str.split(' ')
시도 = 분리.str.get(0)
시군구 = 분리.str.get(1)
동명 = 분리.str.get(2)

인구['시도명'], 인구['시군구명'], 인구['동명'] = 시도, 시군구, 동명

In [16]:
# 행정기관코드 str형으로 변경
인구.iloc[:, 0] = 인구.iloc[:, 0].astype('str')
인구.rename(columns = {'행정기관코드' : '법정동코드'}, inplace = True)
인구

,법정동코드,행정기관,총 인구수,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상,시도명,시군구명,동명
0,1100000000,서울특별시,9493211,723288,568471,407734,305221,212098,99901,34574,8209,1743,서울특별시,,
1,1111000000,서울특별시 종로구,143547,11505,8918,6317,5329,4294,2132,740,205,44,서울특별시,종로구,
2,1111051500,서울특별시 종로구 청운효자동,11780,801,611,472,455,363,182,52,17,3,서울특별시,종로구,청운효자동
3,1111053000,서울특별시 종로구 사직동,9292,708,490,387,335,319,173,62,25,1,서울특별시,종로구,사직동
4,1111054000,서울특별시 종로구 삼청동,2380,223,185,132,103,93,59,21,5,4,서울특별시,종로구,삼청동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3862,5013058000,제주특별자치도 서귀포시 서홍동,11247,726,511,401,314,229,102,39,5,2,제주특별자치도,서귀포시,서홍동
3863,5013059000,제주특별자치도 서귀포시 대륜동,15463,1151,866,595,475,316,205,60,17,7,제주특별자치도,서귀포시,대륜동
3864,5013060000,제주특별자치도 서귀포시 대천동,13864,943,679,523,385,271,163,58,11,4,제주특별자치도,서귀포시,대천동
3865,5013061000,제주특별자치도 서귀포시 중문동,12212,850,614,506,352,310,198,57,11,2,제주특별자치도,서귀포시,중문동
3866,5013062000,제주특별자치도 서귀포시 예래동,3909,366,289,216,156,154,106,41,8,1,제주특별자치도,서귀포시,예래동

In [17]:
# '60~64세'부터 '100세 이상'까지 더해서 '60세 이상' 피쳐 생성
인구['60세이상'] = np.sum(인구.iloc[:, 3:12], axis = 1)

In [18]:
# 필요한 피쳐만 가져오기
인구 = 인구[['법정동코드','총 인구수', '시도명', '시군구명', '동명', '60세이상']]
인구

           법정동코드    총 인구수      시도명  시군구명     동명    60세이상
0     1100000000  9493211    서울특별시               2361239
1     1111000000   143547    서울특별시   종로구           39484
2     1111051500    11780    서울특별시   종로구  청운효자동     2956
3     1111053000     9292    서울특별시   종로구    사직동     2500
4     1111054000     2380    서울특별시   종로구    삼청동      825
...          ...      ...      ...   ...    ...      ...
3862  5013058000    11247  제주특별자치도  서귀포시    서홍동     2329
3863  5013059000    15463  제주특별자치도  서귀포시    대륜동     3692
3864  5013060000    13864  제주특별자치도  서귀포시    대천동     3037
3865  5013061000    12212  제주특별자치도  서귀포시    중문동     2900
3866  5013062000     3909  제주특별자치도  서귀포시    예래동     1337

[3867 rows x 6 columns]

In [19]:
# 동명, 시군구명에서 빈값을 NaN으로 변경
인구.동명.replace('',np.nan, regex = True, inplace = True)
인구.시군구명.replace('',np.nan, regex = True, inplace = True)
인구

           법정동코드    총 인구수      시도명  시군구명     동명    60세이상
0     1100000000  9493211    서울특별시   NaN    NaN  2361239
1     1111000000   143547    서울특별시   종로구    NaN    39484
2     1111051500    11780    서울특별시   종로구  청운효자동     2956
3     1111053000     9292    서울특별시   종로구    사직동     2500
4     1111054000     2380    서울특별시   종로구    삼청동      825
...          ...      ...      ...   ...    ...      ...
3862  5013058000    11247  제주특별자치도  서귀포시    서홍동     2329
3863  5013059000    15463  제주특별자치도  서귀포시    대륜동     3692
3864  5013060000    13864  제주특별자치도  서귀포시    대천동     3037
3865  5013061000    12212  제주특별자치도  서귀포시    중문동     2900
3866  5013062000     3909  제주특별자치도  서귀포시    예래동     1337

[3867 rows x 6 columns]

In [20]:
#'세종특별자치시'의 세종시를 '세종특별자치시'로 설정 (법정동코드 활용)
인구.loc[(인구.시도명 == '세종특별자치시') & (인구.법정동코드 == '3611000000'), '시군구명'] = '세종특별자치시'
인구[인구.시도명 == '세종특별자치시']

           법정동코드   총 인구수      시도명     시군구명    동명  60세이상
1253  3600000000  380889  세종특별자치시      NaN   NaN  59539
1254  3611000000  380889  세종특별자치시  세종특별자치시   NaN  59539
1255  3611025000   42819  세종특별자치시      NaN  조치원읍  10800
1256  3611031000    2696  세종특별자치시      NaN   연기면    993
1257  3611032000    3078  세종특별자치시      NaN   연동면   1529
1258  3611033000    6035  세종특별자치시      NaN   부강면   2257
1259  3611034000    8778  세종특별자치시      NaN   금남면   3853
1260  3611035000    6971  세종특별자치시      NaN   장군면   2264
1261  3611036000    7314  세종특별자치시      NaN   연서면   3086
1262  3611037000    5528  세종특별자치시      NaN   전의면   2377
1263  3611038000    3330  세종특별자치시      NaN   전동면   1750
1264  3611039000    2220  세종특별자치시      NaN   소정면    880
1265  3611051000   18356  세종특별자치시      NaN   한솔동   2018
1266  3611051500   39389  세종특별자치시      NaN   새롬동   3268
1267  3611052000   35126  세종특별자치시      NaN   도담동   3945
1268  3611052500    8669  세종특별자치시      NaN   해밀동    696
1269  3611053000   23338  세종특별자치시      NaN   아름동   2170
1270  3611054000   28696  세종특별자치시      NaN   종촌동   3463
1271  3611055000   34729  세종특별자치시      NaN   고운동   3858
1272  3611055500   21582  세종특별자치시      NaN   소담동   2350
1273  3611055600   23823  세종특별자치시      NaN   반곡동   1701
1274  3611056000   18839  세종특별자치시      NaN   보람동   2125
1275  3611057000   11303  세종특별자치시      NaN   대평동   1385
1276  3611058000   28270  세종특별자치시      NaN   다정동   2771

In [21]:
# '동명'은 NaN값이면서 '시군구명'은 NaN값이 아닌, 시군구 단위만 뽑아냄
# 어차피 NaN값인 '동명'은 제거
인구 = 인구[인구['동명'].isnull()]
인구 = 인구[인구['시군구명'].isnull() == False]
인구.drop('동명', axis = 1, inplace = True)
인구

           법정동코드   총 인구수      시도명  시군구명   60세이상
1     1111000000  143547    서울특별시   종로구   39484
19    1114000000  122138    서울특별시    중구   34596
35    1117000000  222262    서울특별시   용산구   55821
52    1120000000  283618    서울특별시   성동구   69052
70    1121500000  339853    서울특별시   광진구   78316
...          ...     ...      ...   ...     ...
3778  4887000000   38131     경상남도   함양군   17919
3790  4888000000   60531     경상남도   거창군   23920
3803  4889000000   42482     경상남도   합천군   23012
3822  5011000000  493898  제주특별자치도   제주시  110852
3849  5013000000  184593  제주특별자치도  서귀포시   53187

[242 rows x 5 columns]

In [22]:
# 시군구명이 ~출장소인곳은 제거 예정
# 인천 3개, 경기도 5개, 전북 2개, 경남 3개
인구 = 인구[~인구['시군구명'].str.contains("출장소", na=False, case=False)]
인구

           법정동코드   총 인구수      시도명  시군구명   60세이상
1     1111000000  143547    서울특별시   종로구   39484
19    1114000000  122138    서울특별시    중구   34596
35    1117000000  222262    서울특별시   용산구   55821
52    1120000000  283618    서울특별시   성동구   69052
70    1121500000  339853    서울특별시   광진구   78316
...          ...     ...      ...   ...     ...
3778  4887000000   38131     경상남도   함양군   17919
3790  4888000000   60531     경상남도   거창군   23920
3803  4889000000   42482     경상남도   합천군   23012
3822  5011000000  493898  제주특별자치도   제주시  110852
3849  5013000000  184593  제주특별자치도  서귀포시   53187

[229 rows x 5 columns]

In [23]:
# column 이름 재설정 후 총 인구 수와 60세 이상 인구 수를 통해'60세이상_비율' 산출 후 column 추가
인구.rename(columns = {'60세이상' : '60세이상_인구수', '총 인구수' : '총_인구수'}, inplace = True)
인구['60세이상_비율'] = 인구['60세이상_인구수'] / 인구['총_인구수']
인구

           법정동코드   총_인구수      시도명  시군구명  60세이상_인구수  60세이상_비율
1     1111000000  143547    서울특별시   종로구      39484  0.275060
19    1114000000  122138    서울특별시    중구      34596  0.283253
35    1117000000  222262    서울특별시   용산구      55821  0.251150
52    1120000000  283618    서울특별시   성동구      69052  0.243468
70    1121500000  339853    서울특별시   광진구      78316  0.230441
...          ...     ...      ...   ...        ...       ...
3778  4887000000   38131     경상남도   함양군      17919  0.469933
3790  4888000000   60531     경상남도   거창군      23920  0.395169
3803  4889000000   42482     경상남도   합천군      23012  0.541688
3822  5011000000  493898  제주특별자치도   제주시     110852  0.224443
3849  5013000000  184593  제주특별자치도  서귀포시      53187  0.288131

[229 rows x 6 columns]

In [24]:
# 지역명을 '시도명_시군구명' 형태로 변경
인구['지역명'] = 인구['시도명'] + '_' + 인구['시군구명']
시군구별_수요 = 인구[['법정동코드', '시도명', '시군구명', '지역명', '총_인구수', '60세이상_인구수', '60세이상_비율']]
시군구별_수요

           법정동코드      시도명  시군구명           지역명   총_인구수  60세이상_인구수  60세이상_비율
1     1111000000    서울특별시   종로구     서울특별시_종로구  143547      39484  0.275060
19    1114000000    서울특별시    중구      서울특별시_중구  122138      34596  0.283253
35    1117000000    서울특별시   용산구     서울특별시_용산구  222262      55821  0.251150
52    1120000000    서울특별시   성동구     서울특별시_성동구  283618      69052  0.243468
70    1121500000    서울특별시   광진구     서울특별시_광진구  339853      78316  0.230441
...          ...      ...   ...           ...     ...        ...       ...
3778  4887000000     경상남도   함양군      경상남도_함양군   38131      17919  0.469933
3790  4888000000     경상남도   거창군      경상남도_거창군   60531      23920  0.395169
3803  4889000000     경상남도   합천군      경상남도_합천군   42482      23012  0.541688
3822  5011000000  제주특별자치도   제주시   제주특별자치도_제주시  493898     110852  0.224443
3849  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시  184593      53187  0.288131

[229 rows x 7 columns]

In [25]:
# 법정동코드로index 설정
시군구별_수요.set_index('법정동코드', inplace = True)

In [26]:
# 시군구별_수요 파일 반환
시군구별_수요.to_csv('../전처리된데이터/시군구별_수요.csv')

# 시군구별_공급

In [27]:
# 시군구별 공급 정도의 확인을 위해 시군구별 노인복지주택 수 추출
공급_노인복지주택 = pd.read_excel('../원본데이터/공급/2022_목차_이용안내_총괄표(시.군.구)_.xlsx', header = 4, sheet_name = 0, index_col = 0)
공급_노인복지주택

,Unnamed: 1,Unnamed: 2,정원\n(분양),현원\n(입주),Unnamed: 5,Unnamed: 6,정원,현원,Unnamed: 9,Unnamed: 10,정원.1,현원.1,Unnamed: 13,Unnamed: 14,정원.2,현원.2,Unnamed: 17
서울 합계,1597447,26,3040,2659,600,11,1245,902,223,4,36,16,10,11,1759,1741,367
종로구,27609,1,57,32,15,1,57,32,15,0,0,0,0,0,0,0,0
중구,24037,2,242,236,63,0,0,0,0,0,0,0,0,2,242,236,63
용산구,38552,1,94,94,16,0,0,0,0,0,0,0,0,1,94,94,16
성동구,46201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
거창군,17545,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
합천군,17590,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
제주 합계,110645,2,90,76,31,2,90,76,31,0,0,0,0,0,0,0,0
제주시,73797,2,90,76,31,2,90,76,31,0,0,0,0,0,0,0,0
서귀포시,36848,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [28]:
공급_노인복지주택.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246 entries, 서울 합계 to 서귀포시
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 1   246 non-null    int64
 1   Unnamed: 2   246 non-null    int64
 2   정원
(분양)      246 non-null    int64
 3   현원
(입주)      246 non-null    int64
 4   Unnamed: 5   246 non-null    int64
 5   Unnamed: 6   246 non-null    int64
 6   정원           246 non-null    int64
 7   현원           246 non-null    int64
 8   Unnamed: 9   246 non-null    int64
 9   Unnamed: 10  246 non-null    int64
 10  정원.1         246 non-null    int64
 11  현원.1         246 non-null    int64
 12  Unnamed: 13  246 non-null    int64
 13  Unnamed: 14  246 non-null    int64
 14  정원.2         246 non-null    int64
 15  현원.2         246 non-null    int64
 16  Unnamed: 17  246 non-null    int64
dtypes: int64(17)
memory usage: 34.6+ KB

In [29]:
공급_노인복지주택.reset_index(inplace = True)
공급_노인복지주택

,index,Unnamed: 1,Unnamed: 2,정원\n(분양),현원\n(입주),Unnamed: 5,Unnamed: 6,정원,현원,Unnamed: 9,Unnamed: 10,정원.1,현원.1,Unnamed: 13,Unnamed: 14,정원.2,현원.2,Unnamed: 17
0,서울 합계,1597447,26,3040,2659,600,11,1245,902,223,4,36,16,10,11,1759,1741,367
1,종로구,27609,1,57,32,15,1,57,32,15,0,0,0,0,0,0,0,0
2,중구,24037,2,242,236,63,0,0,0,0,0,0,0,0,2,242,236,63
3,용산구,38552,1,94,94,16,0,0,0,0,0,0,0,0,1,94,94,16
4,성동구,46201,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,거창군,17545,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
242,합천군,17590,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
243,제주 합계,110645,2,90,76,31,2,90,76,31,0,0,0,0,0,0,0,0
244,제주시,73797,2,90,76,31,2,90,76,31,0,0,0,0,0,0,0,0
245,서귀포시,36848,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [30]:
# 원본데이터에서 세종시 -> 세종특별자치시로 변경
공급_노인복지주택.loc[공급_노인복지주택['index'] == '세종시', 'index'] = '세종특별자치시'
공급_노인복지주택[공급_노인복지주택['index'] == '세종특별자치시']

,index,Unnamed: 1,Unnamed: 2,정원\n(분양),현원\n(입주),Unnamed: 5,Unnamed: 6,정원,현원,Unnamed: 9,Unnamed: 10,정원.1,현원.1,Unnamed: 13,Unnamed: 14,정원.2,현원.2,Unnamed: 17
82,세종특별자치시,37463,3,113,103,15,2,13,13,7,0,0,0,0,1,100,90,8

In [31]:
# 현 존재하는 모든 시도명 값을 가진 리스트 생성
시도명 = ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']
len(시도명)

17

In [32]:
# '합계'가 들어간 데이터 인덱스 값을 가진 리스트 생성
시도_idx = 공급_노인복지주택[공급_노인복지주택['index'].str.contains('합계')].index
시도_idx

Int64Index([0, 26, 43, 52, 63, 69, 75, 81, 83, 115, 134, 146, 162, 177, 200,
            224, 243],
           dtype='int64')

In [33]:
# 시도명 값을 저장할 리스트 생성

l = []

# 서울특별시 ~ 경상남도
for i in range (0, len(시도_idx)-1): # 0 ~ 15
    a = 시도_idx[i] # 0번째 14번째
    b = 시도_idx[i+1] # 1번째 15번째
    for j in range(a, b):
        l.append(시도명[i])

# 제주특별자치도
for k in range(시도_idx[16], len(공급_노인복지주택)):
    l.append(시도명[16])
    
l

['서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '서울특별시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '부산광역시',
 '대구광역시',
 '대구광역시',
 '대구광역시',
 '대구광역시',
 '대구광역시',
 '대구광역시',
 '대구광역시',
 '대구광역시',
 '대구광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '인천광역시',
 '광주광역시',
 '광주광역시',
 '광주광역시',
 '광주광역시',
 '광주광역시',
 '광주광역시',
 '대전광역시',
 '대전광역시',
 '대전광역시',
 '대전광역시',
 '대전광역시',
 '대전광역시',
 '울산광역시',
 '울산광역시',
 '울산광역시',
 '울산광역시',
 '울산광역시',
 '울산광역시',
 '세종특별자치시',
 '세종특별자치시',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '경기도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '강원도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청북도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '충청남도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라북도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '전라남도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상북도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '경상남도',
 '제주특별자치도',
 '제주특별자치도',
 '제주특별자치도']

In [34]:
지역명 = pd.DataFrame(l)
지역명.columns = ['지역명']
지역명

         지역명
0      서울특별시
1      서울특별시
2      서울특별시
3      서울특별시
4      서울특별시
..       ...
241     경상남도
242     경상남도
243  제주특별자치도
244  제주특별자치도
245  제주특별자치도

[246 rows x 1 columns]

In [35]:
# 새로 만든 지역명 df과, 원본 데이터의 index(시군구)값과, 정원.2(노인복지주택정원)값만 추출하여 concat. 새로운 노인복지주택_정원이라는 df생성
노인복지주택_정원 = pd.concat([지역명, 공급_노인복지주택[['index', '정원.2']]], axis = 1)
노인복지주택_정원

         지역명  index  정원.2
0      서울특별시  서울 합계  1759
1      서울특별시    종로구     0
2      서울특별시     중구   242
3      서울특별시    용산구    94
4      서울특별시    성동구     0
..       ...    ...   ...
241     경상남도    거창군     0
242     경상남도    합천군     0
243  제주특별자치도  제주 합계     0
244  제주특별자치도    제주시     0
245  제주특별자치도   서귀포시     0

[246 rows x 3 columns]

In [36]:
# column 이름 정리
노인복지주택_정원 = 노인복지주택_정원.rename(columns = {'지역명' : '시도명', 'index' : '시군구명', '정원.2' : '노인복지주택_정원'})
노인복지주택_정원

         시도명   시군구명  노인복지주택_정원
0      서울특별시  서울 합계       1759
1      서울특별시    종로구          0
2      서울특별시     중구        242
3      서울특별시    용산구         94
4      서울특별시    성동구          0
..       ...    ...        ...
241     경상남도    거창군          0
242     경상남도    합천군          0
243  제주특별자치도  제주 합계          0
244  제주특별자치도    제주시          0
245  제주특별자치도   서귀포시          0

[246 rows x 3 columns]

In [37]:
# 시군구 data가 ~합계인 값들 모두 제거
노인복지주택_정원 = 노인복지주택_정원[~노인복지주택_정원['시군구명'].str.contains("합계", na=False, case=False)]
노인복지주택_정원

         시도명  시군구명  노인복지주택_정원
1      서울특별시   종로구          0
2      서울특별시    중구        242
3      서울특별시   용산구         94
4      서울특별시   성동구          0
5      서울특별시   광진구          0
..       ...   ...        ...
240     경상남도   함양군          0
241     경상남도   거창군          0
242     경상남도   합천군          0
244  제주특별자치도   제주시          0
245  제주특별자치도  서귀포시          0

[229 rows x 3 columns]

In [38]:
# 시도와 시군구값을 문자열 합치기 해주어서 새로운 '지역명' 피쳐 생성
노인복지주택_정원['지역명'] = 노인복지주택_정원['시도명'] + '_' + 노인복지주택_정원['시군구명']
노인복지주택_정원 = 노인복지주택_정원[['지역명', '노인복지주택_정원']]
노인복지주택_정원

              지역명  노인복지주택_정원
1       서울특별시_종로구          0
2        서울특별시_중구        242
3       서울특별시_용산구         94
4       서울특별시_성동구          0
5       서울특별시_광진구          0
..            ...        ...
240      경상남도_함양군          0
241      경상남도_거창군          0
242      경상남도_합천군          0
244   제주특별자치도_제주시          0
245  제주특별자치도_서귀포시          0

[229 rows x 2 columns]

In [39]:
# 법정동코드 파일 불러오기
법정동코드 = pd.read_csv('../전처리된데이터/시군구별_법정동코드.csv')

In [40]:
# 시군구별 공급을 법정동코드와 병합
시군구별_공급 = pd.merge(법정동코드, 노인복지주택_정원, on = '지역명', how = 'inner')
시군구별_공급

          법정동코드      시도명  시군구명           지역명  노인복지주택_정원
0    1111000000    서울특별시   종로구     서울특별시_종로구          0
1    1114000000    서울특별시    중구      서울특별시_중구        242
2    1117000000    서울특별시   용산구     서울특별시_용산구         94
3    1120000000    서울특별시   성동구     서울특별시_성동구          0
4    1121500000    서울특별시   광진구     서울특별시_광진구          0
..          ...      ...   ...           ...        ...
224  4887000000     경상남도   함양군      경상남도_함양군          0
225  4888000000     경상남도   거창군      경상남도_거창군          0
226  4889000000     경상남도   합천군      경상남도_합천군          0
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시          0
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시          0

[229 rows x 5 columns]

In [41]:
# 법정동코드로 index 설정
시군구별_공급.set_index('법정동코드', inplace = True)

In [42]:
# 시군구별_공급 파일 반환
시군구별_공급.to_csv('../전처리된데이터/시군구별_공급.csv')

# 시군구별_공공시설

## 시군구별_우체국

In [43]:
# 시군구별 우체국 수 확인을 위해 파일 불러오기
우체국 = pd.read_csv('../원본데이터/공공시설/과학기술정보통신부 우정사업본부_전국 우체국 현황_20210630.csv', encoding='cp949')
우체국

,지방우정청,총괄국명,우체국명,주소(지번),주소(도로명),전화번호
0,서울지방우정청,서울중앙우체국,서울중앙우체국,서울특별시 중구 충무로1가 21-1,서울특별시 중구 소공로 70 (층무로1가),02)6450-1114
1,서울지방우정청,서울중앙우체국,서울을지로4가우체국,서울특별시 중구 을지로4가 312-1,서울특별시 중구 을지로 154-2 (을지로4가),02)2273-6505
2,서울지방우정청,서울중앙우체국,서울태평로우체국,서울특별시 중구 봉래동1가 5-36 우리빌딩 2층,서울특별시 중구 칠패로 42 우리빌딩 2층 (봉래동1가),02)3783-7025
3,서울지방우정청,서울중앙우체국,서울퇴계로5가우체국,서울특별시 중구 장충동2가 173-3,서울특별시 중구 퇴계로 270 (장충동2가),02)2273-6508
4,서울지방우정청,서울중앙우체국,서울역전우체국,서울특별시 중구 봉래동2가 123,서울특별시 중구 통일로 21 (봉래동2가),02)757-1140
...,...,...,...,...,...,...
3391,제주지방우정청,서귀포우체국,안덕우체국,제주특별자치도 서귀포시 안덕면 화순리 1069-5,제주특별자치도 서귀포시 안덕면 화순로 109,064)794-9002
3392,제주지방우정청,서귀포우체국,표선우체국,제주특별자치도 서귀포시 표선면 표선리 694-4,제주특별자치도 서귀포시 표선면 표선동서로 245,064)787-0002
3393,제주지방우정청,서귀포우체국,제주남원우체국,제주특별자치도 서귀포시 남원읍 남원리 1349-1,제주특별자치도 서귀포시 남원읍 태위로 632,064)764-1117
3394,제주지방우정청,서귀포우체국,중문관광단지우편취급국,제주특별자치도 서귀포시 색달동 2864-36,제주특별자치도 서귀포시 중문관광로 110번길 15,064)738-4979
3395,제주지방우정청,제주우편집중국,제주우편집중국,제주특별자치도 제주시 노형동 707,제주특별자치도 제주시 1100로 3307,064-710-5200

In [44]:
#우체국 = pd.DataFrame(우체국)
우체국 = 우체국.iloc[:,2:4]
우체국

             우체국명                      주소(지번)
0         서울중앙우체국          서울특별시 중구 충무로1가 21-1
1      서울을지로4가우체국         서울특별시 중구 을지로4가 312-1
2        서울태평로우체국  서울특별시 중구 봉래동1가 5-36 우리빌딩 2층
3      서울퇴계로5가우체국         서울특별시 중구 장충동2가 173-3
4         서울역전우체국           서울특별시 중구 봉래동2가 123
...           ...                          ...
3391        안덕우체국  제주특별자치도 서귀포시 안덕면 화순리 1069-5
3392        표선우체국   제주특별자치도 서귀포시 표선면 표선리 694-4
3393      제주남원우체국  제주특별자치도 서귀포시 남원읍 남원리 1349-1
3394  중문관광단지우편취급국     제주특별자치도 서귀포시 색달동 2864-36
3395      제주우편집중국          제주특별자치도 제주시 노형동 707

[3396 rows x 2 columns]

In [45]:
# '주소(지번)' column을 활용하여 각 우체국의 지역명 추출
우체국[['시도명','시군구명','그 외']] = pd.DataFrame(우체국[' 주소(지번) '].str.split(' ', 2).tolist())
우체국 = 우체국.iloc[:,0:4]
우체국.drop([' 주소(지번) '],axis=1,inplace=True)
우체국['지역명']= 우체국['시도명']+'_'+우체국['시군구명']
우체국

             우체국명      시도명  시군구명           지역명
0         서울중앙우체국    서울특별시    중구      서울특별시_중구
1      서울을지로4가우체국    서울특별시    중구      서울특별시_중구
2        서울태평로우체국    서울특별시    중구      서울특별시_중구
3      서울퇴계로5가우체국    서울특별시    중구      서울특별시_중구
4         서울역전우체국    서울특별시    중구      서울특별시_중구
...           ...      ...   ...           ...
3391        안덕우체국  제주특별자치도  서귀포시  제주특별자치도_서귀포시
3392        표선우체국  제주특별자치도  서귀포시  제주특별자치도_서귀포시
3393      제주남원우체국  제주특별자치도  서귀포시  제주특별자치도_서귀포시
3394  중문관광단지우편취급국  제주특별자치도  서귀포시  제주특별자치도_서귀포시
3395      제주우편집중국  제주특별자치도   제주시   제주특별자치도_제주시

[3396 rows x 4 columns]

In [46]:
# 지역명의 값이 1개인 행을 유일지역으로 저장 (통일되지 않은 데이터 값으로 인해 다른 지역으로 인식되는 경우)
유일지역_idx = 우체국['지역명'].value_counts() == 1
유일지역 = 유일지역_idx[유일지역_idx]
유일지역

세종특별자치시_소정면        True
장위4구역주택재개발_추진      True
전리북도_전주시           True
세종특별자치시_연동면        True
보령시_동대동            True
대전시_대덕구            True
충주시_대소원면           True
세종특별자치시_전의면        True
세종특별자치시_부강면        True
세종특별자치시_장군면        True
세종특별자치시_한솔동964     True
충남_천안시             True
세종특별자치시_아름동1351    True
세종특별자치시_조치원읍       True
세종특별자치시_연서면        True
세종특별자치시_전동면        True
Name: 지역명, dtype: bool

In [47]:
# '세종특별자치시'의 시군구명 및 시도명 설정
우체국.loc[우체국.시도명 == '세종특별자치시', '시군구명'] = '세종특별자치시'
우체국.loc[우체국.시도명 == '세종특별자치시', '지역명'] = '세종특별자치시_세종특별자치시'
우체국[우체국.시도명 == '세종특별자치시']

                 우체국명      시도명     시군구명              지역명
1663            세종우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1664          세종금남우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1665          세종전의우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1666      제119군사우편출장소  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1667          세종부강우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1668            장군우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1669         세종한솔동우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1670         세종아름동우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1671        정부세종청사우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1672       정부세종청사2우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1673          세종소정우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1674           조치원우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1675          세종연동우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1676          세종연서우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1677          세종전동우체국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1678  고려대학교세종캠퍼스우편취급국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시
1679       세종다정동우편취급국  세종특별자치시  세종특별자치시  세종특별자치시_세종특별자치시

In [48]:
# 유일지역 재확인
유일지역_idx = 우체국['지역명'].value_counts() == 1
유일지역 = 유일지역_idx[유일지역_idx]
유일지역

충남_천안시           True
대전시_대덕구          True
충주시_대소원면         True
장위4구역주택재개발_추진    True
보령시_동대동          True
전리북도_전주시         True
Name: 지역명, dtype: bool

In [49]:
# 지역명 통일을 위해 각 시도명, 시군구명, 지역명 변환
우체국 = 우체국[~우체국['지역명'].str.contains("장위4구역주택재개발_추진", na=False, case=False)]

우체국.loc[우체국.지역명 == '충남_천안시', '시도명'] = '충청남도'
우체국.loc[우체국.지역명 == '충남_천안시', '시군구명'] = '천안시'
우체국.loc[우체국.지역명 == '충남_천안시', '지역명'] = '충청남도_천안시'

우체국.loc[우체국.지역명 == '충주시_대소원면', '시도명'] = '충청북도'
우체국.loc[우체국.지역명 == '충주시_대소원면', '시군구명'] = '충주시'
우체국.loc[우체국.지역명 == '충주시_대소원면', '지역명'] = '충청북도_충주시'

우체국.loc[우체국.지역명 == '보령시_동대동', '시도명'] = '충청남도'
우체국.loc[우체국.지역명 == '보령시_동대동', '시군구명'] = '보령시'
우체국.loc[우체국.지역명 == '보령시_동대동', '지역명'] = '충청남도_보령시'

우체국.loc[우체국.지역명 == '전리북도_전주시', '시도명'] = '전라북도'
우체국.loc[우체국.지역명 == '전리북도_전주시', '시군구명'] = '전주시'
우체국.loc[우체국.지역명 == '전리북도_전주시', '지역명'] = '전라북도_전주시'

우체국.loc[우체국.지역명 == '대전시_대덕구', '시도명'] = '대전광역시'
우체국.loc[우체국.지역명 == '대전시_대덕구', '시군구명'] = '대덕구'
우체국.loc[우체국.지역명 == '대전시_대덕구', '지역명'] = '대전광역시_대덕구'

우체국.loc[우체국.지역명 == '인천광역시_남구', '시도명'] = '인천광역시'
우체국.loc[우체국.지역명 == '인천광역시_남구', '시군구명'] = '미추홀구'
우체국.loc[우체국.지역명 == '인천광역시_남구', '지역명'] = '인천광역시_미추홀구'

In [50]:
# 유일지역 재확인 -> 지역명이 다른 시군구가 없는 것을 확인
유일지역_idx = 우체국['지역명'].value_counts() == 1
유일지역 = 유일지역_idx[유일지역_idx]
유일지역

Series([], Name: 지역명, dtype: bool)

In [51]:
# 지역명 기준으로 우체국 수 count
우체국_수 = 우체국.groupby(우체국['지역명'], as_index=False)['우체국명'].count()
우체국_수

          지역명  우체국명
0     강원도_강릉시    23
1     강원도_고성군     6
2     강원도_동해시     8
3     강원도_삼척시    12
4     강원도_속초시     5
..        ...   ...
224  충청북도_제천시    17
225  충청북도_증평군     3
226  충청북도_진천군     7
227  충청북도_청주시    50
228  충청북도_충주시    21

[229 rows x 2 columns]

In [52]:
# 법정동 코드와 우체국 수를 지역명 기준으로 merge
시군구별_우체국 = pd.merge(법정동코드, 우체국_수, on = '지역명', how = 'inner')
시군구별_우체국

          법정동코드      시도명  시군구명           지역명  우체국명
0    1111000000    서울특별시   종로구     서울특별시_종로구    20
1    1114000000    서울특별시    중구      서울특별시_중구    13
2    1117000000    서울특별시   용산구     서울특별시_용산구    15
3    1120000000    서울특별시   성동구     서울특별시_성동구    10
4    1121500000    서울특별시   광진구     서울특별시_광진구    14
..          ...      ...   ...           ...   ...
224  4887000000     경상남도   함양군      경상남도_함양군    11
225  4888000000     경상남도   거창군      경상남도_거창군    13
226  4889000000     경상남도   합천군      경상남도_합천군    18
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시    32
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시    15

[229 rows x 5 columns]

In [53]:
# '우체국명' -> '우체국_수'로 column 이름 변경
시군구별_우체국.rename(columns = {'우체국명' : '우체국_수'}, inplace = True)
시군구별_우체국

          법정동코드      시도명  시군구명           지역명  우체국_수
0    1111000000    서울특별시   종로구     서울특별시_종로구     20
1    1114000000    서울특별시    중구      서울특별시_중구     13
2    1117000000    서울특별시   용산구     서울특별시_용산구     15
3    1120000000    서울특별시   성동구     서울특별시_성동구     10
4    1121500000    서울특별시   광진구     서울특별시_광진구     14
..          ...      ...   ...           ...    ...
224  4887000000     경상남도   함양군      경상남도_함양군     11
225  4888000000     경상남도   거창군      경상남도_거창군     13
226  4889000000     경상남도   합천군      경상남도_합천군     18
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시     32
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시     15

[229 rows x 5 columns]

## 시군구별_주민센터

In [54]:
# 주민센터 데이터 불러오기
주민센터 = pd.read_csv('../원본데이터/공공시설/행정안전부_읍면동 하부행정기관 현황_20211231.csv', encoding='cp949')
주민센터

        연번  시도   시군구        읍면동   우편번호                  주    소
0        1  서울   종로구  청운효자동주민센터   3047      서울특별시 종로구 자하문로 92
1        2  서울   종로구    사직동주민센터   3027      서울특별시 종로구 사직로9길 1
2        3  서울   종로구    삼청동주민센터   3049      서울특별시 종로구 삼청로 107
3        4  서울   종로구    부암동주민센터   3022     서울특별시 종로구 창의문로 145
4        5  서울   종로구    평창동주민센터   3009     서울특별시 종로구 평창문화로 65
...    ...  ..   ...        ...    ...                     ...
3501  3502  제주  서귀포시    서홍동주민센터  63584    제주특별자치도 서귀포시 중앙로 125
3502  3503  제주  서귀포시    대륜동주민센터  63572  제주특별자치도 서귀포시 일주동로 9185
3503  3504  제주  서귀포시    대천동주민센터  63561     제주특별자치도 서귀포시 도순로 44
3504  3505  제주  서귀포시    중문동주민센터  63540   제주특별자치도 서귀포시 1100로 30
3505  3506  제주  서귀포시    예래동주민센터  63537     제주특별자치도 서귀포시 예래로 82

[3506 rows x 6 columns]

In [55]:
# 주소를 띄어쓰기 기준으로 시도명 / 시군구명으로 분리
분리 = 주민센터['주    소'].str.split(' ')
시도명 = 분리.str.get(0)
시군구명 = 분리.str.get(1)

주민센터['시도명'], 주민센터['시군구명'] = 시도명, 시군구명
주민센터

        연번  시도   시군구        읍면동   우편번호                  주    소      시도명  시군구명
0        1  서울   종로구  청운효자동주민센터   3047      서울특별시 종로구 자하문로 92     서울특별시   종로구
1        2  서울   종로구    사직동주민센터   3027      서울특별시 종로구 사직로9길 1     서울특별시   종로구
2        3  서울   종로구    삼청동주민센터   3049      서울특별시 종로구 삼청로 107     서울특별시   종로구
3        4  서울   종로구    부암동주민센터   3022     서울특별시 종로구 창의문로 145     서울특별시   종로구
4        5  서울   종로구    평창동주민센터   3009     서울특별시 종로구 평창문화로 65     서울특별시   종로구
...    ...  ..   ...        ...    ...                     ...      ...   ...
3501  3502  제주  서귀포시    서홍동주민센터  63584    제주특별자치도 서귀포시 중앙로 125  제주특별자치도  서귀포시
3502  3503  제주  서귀포시    대륜동주민센터  63572  제주특별자치도 서귀포시 일주동로 9185  제주특별자치도  서귀포시
3503  3504  제주  서귀포시    대천동주민센터  63561     제주특별자치도 서귀포시 도순로 44  제주특별자치도  서귀포시
3504  3505  제주  서귀포시    중문동주민센터  63540   제주특별자치도 서귀포시 1100로 30  제주특별자치도  서귀포시
3505  3506  제주  서귀포시    예래동주민센터  63537     제주특별자치도 서귀포시 예래로 82  제주특별자치도  서귀포시

[3506 rows x 8 columns]

In [56]:
# 지역명을 '시도명_시군구명' 형태로 변경
주민센터['지역명'] = 주민센터['시도명'] + '_' + 주민센터['시군구명']
주민센터

,연번,시도,시군구,읍면동,우편번호,주 소,시도명,시군구명,지역명
0,1,서울,종로구,청운효자동주민센터,3047,서울특별시 종로구 자하문로 92,서울특별시,종로구,서울특별시_종로구
1,2,서울,종로구,사직동주민센터,3027,서울특별시 종로구 사직로9길 1,서울특별시,종로구,서울특별시_종로구
2,3,서울,종로구,삼청동주민센터,3049,서울특별시 종로구 삼청로 107,서울특별시,종로구,서울특별시_종로구
3,4,서울,종로구,부암동주민센터,3022,서울특별시 종로구 창의문로 145,서울특별시,종로구,서울특별시_종로구
4,5,서울,종로구,평창동주민센터,3009,서울특별시 종로구 평창문화로 65,서울특별시,종로구,서울특별시_종로구
...,...,...,...,...,...,...,...,...,...
3501,3502,제주,서귀포시,서홍동주민센터,63584,제주특별자치도 서귀포시 중앙로 125,제주특별자치도,서귀포시,제주특별자치도_서귀포시
3502,3503,제주,서귀포시,대륜동주민센터,63572,제주특별자치도 서귀포시 일주동로 9185,제주특별자치도,서귀포시,제주특별자치도_서귀포시
3503,3504,제주,서귀포시,대천동주민센터,63561,제주특별자치도 서귀포시 도순로 44,제주특별자치도,서귀포시,제주특별자치도_서귀포시
3504,3505,제주,서귀포시,중문동주민센터,63540,제주특별자치도 서귀포시 1100로 30,제주특별자치도,서귀포시,제주특별자치도_서귀포시
3505,3506,제주,서귀포시,예래동주민센터,63537,제주특별자치도 서귀포시 예래로 82,제주특별자치도,서귀포시,제주특별자치도_서귀포시

In [57]:
# 유일지역 확인
유일지역_idx = 주민센터['지역명'].value_counts() == 1
유일지역 = 유일지역_idx[유일지역_idx]
유일지역

세종특별자치시_금남면      True
세종특별자치시_연서면      True
세종특별자치시_장군면      True
세종특별자치시_조치원읍     True
세종특별자치시_부강면      True
세종특별자치시_연동면      True
세종특별자치시_연기면      True
세종특별자치시_전동면      True
세종특별자치시_전의면      True
세종특별자치시_도움3로     True
세종특별자치시_소정면      True
세종특별자치시_한솔동      True
세종특별자치시_도담동      True
세종특별자치시_보듬3로     True
세종특별자치시_마음로      True
세종특별자치시_호려울로     True
세종특별자치시_새롬중앙로    True
세종특별자치시_대평1길     True
세종특별자치시_다정남3로    True
세종특별자치시_반곡로      True
세종특별자치시_해밀1로     True
세종특별자치시_한누리대로    True
Name: 지역명, dtype: bool

In [58]:
# 시도명이 '세종특별자치시'인 경우, 시군구명도 '세종특별자치시'로 변경
주민센터.loc[주민센터.시도명 == '세종특별자치시', '시군구명'] = '세종특별자치시'
주민센터.loc[주민센터.시도명 == '세종특별자치시', '지역명'] = '세종특별자치시_세종특별자치시'
주민센터[주민센터.시도명 == '세종특별자치시']

,연번,시도,시군구,읍면동,우편번호,주 소,시도명,시군구명,지역명
1163,1164,세종,NaN,조치원읍행정복지센터,30024,세종특별자치시 조치원읍 새내16길 17,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1164,1165,세종,NaN,연기면사무소,30059,세종특별자치시 연기면 당산로 81,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1165,1166,세종,NaN,연동면사무소,30068,세종특별자치시 연동면 장욱진로 7,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1166,1167,세종,NaN,부강면행정복지센터,30075,세종특별자치시 부강면 부강5길 38,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1167,1168,세종,NaN,금남면행정복지센터,30083,세종특별자치시 금남면 용포로 57,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1168,1169,세종,NaN,장군면사무소,30053,세종특별자치시 장군면 장척로 400-1,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1169,1170,세종,NaN,연서면행정복지센터,30043,세종특별자치시 연서면 대첩로 238,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1170,1171,세종,NaN,전의면행정복지센터,30004,세종특별자치시 전의면 운주산로 1270,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1171,1172,세종,NaN,전동면사무소,30011,세종특별자치시 전동면 운주산로 386,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1172,1173,세종,NaN,소정면사무소,30001,세종특별자치시 소정면 소정구길 204,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1173,1174,세종,NaN,한솔동행정복지센터,30130,세종특별자치시 한솔동 노을3로 85,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1174,1175,세종,NaN,도담동행정복지센터,30098,세종특별자치시 도담동 보람로 77,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1175,1176,세종,NaN,아름동행정복지센터,30100,세종특별자치시 보듬3로 114,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1176,1177,세종,NaN,종촌동행정복지센터,30064,세종특별자치시 도움3로 125,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1177,1178,세종,NaN,고운동행정복지센터,30062,세종특별자치시 마음로 284,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1178,1179,세종,NaN,보람동행정복지센터,30150,세종특별자치시 호려울로 42,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1179,1180,세종,NaN,새롬동행정복지센터,30127,세종특별자치시 새롬중앙로 44,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1180,1181,세종,NaN,대평동주민센터,30153,세종특별자치시 대평1길 10,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1181,1182,세종,NaN,소담동주민센터,30150,세종특별자치시 한누리대로 2023,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1182,1183,세종,NaN,다정동주민센터,30123,세종특별자치시 다정남3로 10,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1183,1184,세종,NaN,반곡동주민센터,30146,세종특별자치시 반곡로 39,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시
1184,1185,세종,NaN,해밀동주민센터,30092,세종특별자치시 해밀1로 45,세종특별자치시,세종특별자치시,세종특별자치시_세종특별자치시

In [59]:
# 지역명 기준으로 주민센터 수를 count
주민센터_수 = 주민센터.groupby(주민센터['지역명'], as_index=False)['읍면동'].count()
주민센터_수

          지역명  읍면동
0     강원도_강릉시   21
1     강원도_고성군    5
2     강원도_동해시   10
3     강원도_삼척시   12
4     강원도_속초시    8
..        ...  ...
224  충청북도_제천시   17
225  충청북도_증평군    2
226  충청북도_진천군    7
227  충청북도_청주시   43
228  충청북도_충주시   25

[229 rows x 2 columns]

In [60]:
# 법정동코드와 주민센터_수 merge
시군구별_주민센터 = pd.merge(법정동코드, 주민센터_수, on = '지역명', how = 'inner')
시군구별_주민센터

          법정동코드      시도명  시군구명           지역명  읍면동
0    1111000000    서울특별시   종로구     서울특별시_종로구   17
1    1114000000    서울특별시    중구      서울특별시_중구   15
2    1117000000    서울특별시   용산구     서울특별시_용산구   16
3    1120000000    서울특별시   성동구     서울특별시_성동구   17
4    1121500000    서울특별시   광진구     서울특별시_광진구   15
..          ...      ...   ...           ...  ...
224  4887000000     경상남도   함양군      경상남도_함양군   11
225  4888000000     경상남도   거창군      경상남도_거창군   12
226  4889000000     경상남도   합천군      경상남도_합천군   17
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시   26
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시   17

[229 rows x 5 columns]

In [61]:
# '읍면동' -> '주민센터_수'로 column 이름 변경
시군구별_주민센터.rename(columns = {'읍면동' : '주민센터_수'}, inplace = True)
시군구별_주민센터

          법정동코드      시도명  시군구명           지역명  주민센터_수
0    1111000000    서울특별시   종로구     서울특별시_종로구      17
1    1114000000    서울특별시    중구      서울특별시_중구      15
2    1117000000    서울특별시   용산구     서울특별시_용산구      16
3    1120000000    서울특별시   성동구     서울특별시_성동구      17
4    1121500000    서울특별시   광진구     서울특별시_광진구      15
..          ...      ...   ...           ...     ...
224  4887000000     경상남도   함양군      경상남도_함양군      11
225  4888000000     경상남도   거창군      경상남도_거창군      12
226  4889000000     경상남도   합천군      경상남도_합천군      17
227  5011000000  제주특별자치도   제주시   제주특별자치도_제주시      26
228  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시      17

[229 rows x 5 columns]

In [62]:
# '주민센터_수'와 '우체국_수'를 법정동코드 기준으로 concat 후 index 설정
시군구별_공공시설 = pd.concat([시군구별_주민센터, 시군구별_우체국['우체국_수']], axis = 1)
시군구별_공공시설.set_index('법정동코드', inplace = True)
시군구별_공공시설

                시도명  시군구명           지역명  주민센터_수  우체국_수
법정동코드
1111000000    서울특별시   종로구     서울특별시_종로구      17     20
1114000000    서울특별시    중구      서울특별시_중구      15     13
1117000000    서울특별시   용산구     서울특별시_용산구      16     15
1120000000    서울특별시   성동구     서울특별시_성동구      17     10
1121500000    서울특별시   광진구     서울특별시_광진구      15     14
...             ...   ...           ...     ...    ...
4887000000     경상남도   함양군      경상남도_함양군      11     11
4888000000     경상남도   거창군      경상남도_거창군      12     13
4889000000     경상남도   합천군      경상남도_합천군      17     18
5011000000  제주특별자치도   제주시   제주특별자치도_제주시      26     32
5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시      17     15

[229 rows x 5 columns]

In [63]:
# 시군구별_공공시설 파일 반환
시군구별_공공시설.to_csv('../전처리된데이터/시군구별_공공시설.csv')

# 시군구별_문화시설

## 시군구별_도서관

### 작은도서관

In [64]:
# 도서관 데이터는 작은도서관, 공공도서관, 국립도서관 파일로 나뉨 -> 세 파일 모두 활용하여 도서관 수 산출
# 작은도서관 파일 불러오기
작은도서관 = pd.read_excel('../원본데이터/문화시설/작은도서관 통계데이터_202285221459.xlsx')
작은도서관

,도서관명,지역,시군구,설립주체,개관년도,주소
0,올리브나무작은도서관,서울특별시,성동구,사립,2016,"서울특별시 성동구 독서당로 227, (옥수동)4층"
1,엘림 작은도서관,경상북도,예천군,사립,2016,"경상북도 예천군 보문면 미호길 158, 1층"
2,서면 작은도서관,충청남도,서천군,사립,2011,"충청남도 서천군 서면 서인로 769, 주민센터 2층"
3,어울터도서관,경기도,용인시,사립,2001,"경기도 용인시 기흥구 금화로82번길 17, (상갈동, 금화마을주공5단지아파트)관리사..."
4,마상공원 작은도서관,경기도,고양시,공립,2016,"경기도 고양시 덕양구 원당로69번길 46, (주교동)주교동, 마상공원 내 주차장 옆"
...,...,...,...,...,...,...
6443,청개구리 작은도서관,서울특별시,금천구,공립,2012,"서울특별시 금천구 독산로 317, (독산동)독산3동주민센터 3층"
6444,솔빛1차작은도서관,인천광역시,동구,사립,2019,"인천광역시 동구 송현로 50, (송현동, 솔빛마을주공아파트)관리사무소 2층"
6445,길벗어린이도서관,인천광역시,계양구,사립,2014,인천광역시 계양구 효서로 2673층
6446,샛별,인천광역시,계양구,공립,2011,"인천광역시 계양구 아나지로 162, (효성동)효성2동 행정복지센터"
6447,행궁마을 작은도서관,서울특별시,금천구,공립,1995,"서울특별시 금천구 금하로21길 20, (시흥동)시흥5동주민센터 2층"

In [65]:
# 지역명을 '시도명_시군구명' 형태로 변경
작은도서관['지역명'] = 작은도서관['지역'] + '_' + 작은도서관['시군구']
작은도서관 = 작은도서관[['도서관명', '지역명']]
작은도서관

            도서관명        지역명
0     올리브나무작은도서관  서울특별시_성동구
1       엘림 작은도서관   경상북도_예천군
2       서면 작은도서관   충청남도_서천군
3         어울터도서관    경기도_용인시
4     마상공원 작은도서관    경기도_고양시
...          ...        ...
6443  청개구리 작은도서관  서울특별시_금천구
6444   솔빛1차작은도서관   인천광역시_동구
6445    길벗어린이도서관  인천광역시_계양구
6446          샛별  인천광역시_계양구
6447  행궁마을 작은도서관  서울특별시_금천구

[6448 rows x 2 columns]

In [66]:
# 모든 도서관에 행정동코드가 부여된 것을 확인
작은도서관.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6448 entries, 0 to 6447
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도서관명    6448 non-null   object
 1   지역명     6448 non-null   object
dtypes: object(2)
memory usage: 100.9+ KB

### 국립도서관

In [67]:
# 국립도서관 데이터 불러오기
국립도서관 = pd.read_excel('../원본데이터/문화시설/국립도서관 통계데이터_20228522125.xlsx')
국립도서관

,도서관명,지역,시군구,설립주체,개관년도,주소,상세주소,전화번호,팩스,홈페이지
0,국립중앙도서관,서울,서초구,국립,1945,서울특별시 서초구 반포대로 201(반포동),국립중앙도서관,02-535-4142,02-590-0530,https://www.nl.go.kr
1,국립어린이청소년도서관,서울,강남구,국립,2006,서울특별시 강남구 테헤란로7길 21(역삼동),국립어린이청소년도서관,02-3413-4800,02-3413-4719,http://www.nlcy.go.kr
2,국립세종도서관,세종,세종시,국립,2013,세종특별자치시 다솜3로 48 (어진동),국립세종도서관,044-900-9114,044-900-9055,http://sejong.nl.go.kr
3,국회도서관,서울,영등포구,국립,1952,서울특별시 영등포구 의사당대로 1 (여의도동),국회도서관,02-6788-4211,02-6788-4193,http://www.nanet.go.kr
4,법원도서관,경기,고양시,국립,1949,경기도 고양시 일산동구 호수로 550 (장항동),법원도서관,031-920-3652,031-920-3669,https://library.scourt.go.kr
5,국립장애인도서관,서울,서초구,국립,2012,서울특별시 서초구 반포대로 201 (반포동),국립장애인도서관,02-3483-8857,02-590-0656,http://nld.nl.go.kr/

In [68]:
# 주소 column을 ' ' 기준으로 split 한 후 앞 두 단어만 사용
분리 = 국립도서관['주소'].str.split(' ')
시도명 = 분리.str.get(0)
시군구명 = 분리.str.get(1)

# 위 과정을 통해 '시도명', '사군구명' 구함
국립도서관['시도명'], 국립도서관['시군구명'] = 시도명, 시군구명
국립도서관

,도서관명,지역,시군구,설립주체,개관년도,주소,상세주소,전화번호,팩스,홈페이지,시도명,시군구명
0,국립중앙도서관,서울,서초구,국립,1945,서울특별시 서초구 반포대로 201(반포동),국립중앙도서관,02-535-4142,02-590-0530,https://www.nl.go.kr,서울특별시,서초구
1,국립어린이청소년도서관,서울,강남구,국립,2006,서울특별시 강남구 테헤란로7길 21(역삼동),국립어린이청소년도서관,02-3413-4800,02-3413-4719,http://www.nlcy.go.kr,서울특별시,강남구
2,국립세종도서관,세종,세종시,국립,2013,세종특별자치시 다솜3로 48 (어진동),국립세종도서관,044-900-9114,044-900-9055,http://sejong.nl.go.kr,세종특별자치시,다솜3로
3,국회도서관,서울,영등포구,국립,1952,서울특별시 영등포구 의사당대로 1 (여의도동),국회도서관,02-6788-4211,02-6788-4193,http://www.nanet.go.kr,서울특별시,영등포구
4,법원도서관,경기,고양시,국립,1949,경기도 고양시 일산동구 호수로 550 (장항동),법원도서관,031-920-3652,031-920-3669,https://library.scourt.go.kr,경기도,고양시
5,국립장애인도서관,서울,서초구,국립,2012,서울특별시 서초구 반포대로 201 (반포동),국립장애인도서관,02-3483-8857,02-590-0656,http://nld.nl.go.kr/,서울특별시,서초구

In [69]:
# 지역명을 '시도명_시군구명' 형태로 변경
국립도서관['지역명'] = 국립도서관['시도명'] + '_' + 국립도서관['시군구명']
국립도서관 = 국립도서관[['도서관명', '지역명']]

# '세종특별자치시'는 '세종특별자치시_세종특별자치시'로 설정하여 타 데이터와 통일
국립도서관['지역명'][2] = '세종특별자치시_세종특별자치시'
국립도서관

          도서관명              지역명
0      국립중앙도서관        서울특별시_서초구
1  국립어린이청소년도서관        서울특별시_강남구
2      국립세종도서관  세종특별자치시_세종특별자치시
3        국회도서관       서울특별시_영등포구
4        법원도서관          경기도_고양시
5     국립장애인도서관        서울특별시_서초구

In [70]:
# 모든 도서관에 법정동 코드가 부여된 것을 확인
국립도서관.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도서관명    6 non-null      object
 1   지역명     6 non-null      object
dtypes: object(2)
memory usage: 224.0+ bytes

### 공공도서관

In [71]:
# 공공도서관 파일 불러오기
공공도서관 = pd.read_excel('../원본데이터/문화시설/공공도서관 통계데이터_20228522141.xlsx')
공공도서관

,도서관명,지역,시군구,설립주체,개관년도,주소,상세주소,전화번호,팩스,홈페이지
0,강릉교육문화관,강원,강릉시,교육청,1990,강원도 강릉시 노암등길 37-1 (노암동),37-1 강릉교육문화관,033-640-9941,033-640-9905,http://lib.gwe.go.kr/kanglib
1,강릉시립중앙도서관,강원,강릉시,지자체,1969,강원도 강릉시 강릉대로 448,NaN,033-660-3274,033-640-4760,http://www.gnslib.or.kr
2,고성교육도서관,강원,고성군,교육청,1991,강원도 고성군 거진읍 거탄진로29번길 7,고성교육도서관,033-682-4886,033-682-5204,http://lib.gwe.go.kr/gosung/
3,고성군립도서관,강원,고성군,지자체,2000,강원 고성군 간성읍,쇠롱골길 17,033-680-3560,033-681-3580,NaN
4,관전도서관,강원,철원군,지자체,2007,강원도 철원군 철원읍 금학로330번길 12,관전도서관,033-450-5327,033-455-9195,https://cwglib.cwg.go.kr/gjlib/
...,...,...,...,...,...,...,...,...,...,...
1219,아산시꿈샘어린이청소년도서관,충남,아산시,지자체,2006,충청남도 아산시 시민로 500 (권곡동),꿈샘어린이청소년도서관,041-530-6730,NaN,http://ascl.asan.go.kr
1220,맹동혁신도서관,충북,음성군,지자체,2021,충청북도 음성군 맹동면 사예2길 37,맹동혁신도서관,043-871-3996,NaN,https://lib.eumseong.go.kr/html/kr/sub1/sub1_0...
1221,제천기적의도서관,충북,제천시,지자체,2004,충청북도 제천시 용두천로38길 30 (고암동),제천기적의도서관,043-644-1215,043-644-1301,http://www.kidslib.org
1222,청주기적의도서관,충북,청주시,지자체,2004,충청북도 청주시 서원구 구룡산로 356 (수곡동),청주기적의도서관,043-283-1845,043-283-1847,http://library.cheongju.go.kr/lib-ml/index.do
1223,청주신율봉어린이도서관,충북,청주시,지자체,2009,충청북도 청주시 흥덕구 신율로153번길 16 (복대동),신율봉어린이도서관,043-201-4222,043-201-0690,http://library.cheongju.go.kr/lib-sy

In [72]:
# 주소 column을 ' ' 기준으로 split 한 후 앞 두 단어만 사용
분리 = 공공도서관['주소'].str.split(' ')
시도명 = 분리.str.get(0)
시군구명 = 분리.str.get(1)

# 위 과정을 통해 '시도명', '사군구명' 구함
공공도서관['시도명'], 공공도서관['시군구명'] = 시도명, 시군구명
공공도서관

,도서관명,지역,시군구,설립주체,개관년도,주소,상세주소,전화번호,팩스,홈페이지,시도명,시군구명
0,강릉교육문화관,강원,강릉시,교육청,1990,강원도 강릉시 노암등길 37-1 (노암동),37-1 강릉교육문화관,033-640-9941,033-640-9905,http://lib.gwe.go.kr/kanglib,강원도,강릉시
1,강릉시립중앙도서관,강원,강릉시,지자체,1969,강원도 강릉시 강릉대로 448,NaN,033-660-3274,033-640-4760,http://www.gnslib.or.kr,강원도,강릉시
2,고성교육도서관,강원,고성군,교육청,1991,강원도 고성군 거진읍 거탄진로29번길 7,고성교육도서관,033-682-4886,033-682-5204,http://lib.gwe.go.kr/gosung/,강원도,고성군
3,고성군립도서관,강원,고성군,지자체,2000,강원 고성군 간성읍,쇠롱골길 17,033-680-3560,033-681-3580,NaN,강원,고성군
4,관전도서관,강원,철원군,지자체,2007,강원도 철원군 철원읍 금학로330번길 12,관전도서관,033-450-5327,033-455-9195,https://cwglib.cwg.go.kr/gjlib/,강원도,철원군
...,...,...,...,...,...,...,...,...,...,...,...,...
1219,아산시꿈샘어린이청소년도서관,충남,아산시,지자체,2006,충청남도 아산시 시민로 500 (권곡동),꿈샘어린이청소년도서관,041-530-6730,NaN,http://ascl.asan.go.kr,충청남도,아산시
1220,맹동혁신도서관,충북,음성군,지자체,2021,충청북도 음성군 맹동면 사예2길 37,맹동혁신도서관,043-871-3996,NaN,https://lib.eumseong.go.kr/html/kr/sub1/sub1_0...,충청북도,음성군
1221,제천기적의도서관,충북,제천시,지자체,2004,충청북도 제천시 용두천로38길 30 (고암동),제천기적의도서관,043-644-1215,043-644-1301,http://www.kidslib.org,충청북도,제천시
1222,청주기적의도서관,충북,청주시,지자체,2004,충청북도 청주시 서원구 구룡산로 356 (수곡동),청주기적의도서관,043-283-1845,043-283-1847,http://library.cheongju.go.kr/lib-ml/index.do,충청북도,청주시
1223,청주신율봉어린이도서관,충북,청주시,지자체,2009,충청북도 청주시 흥덕구 신율로153번길 16 (복대동),신율봉어린이도서관,043-201-4222,043-201-0690,http://library.cheongju.go.kr/lib-sy,충청북도,청주시

In [73]:
# 각 시도명을 full name 형태로 변경
공공도서관.loc[공공도서관['시도명'] == '서울', '시도명'] = '서울특별시'
공공도서관.loc[공공도서관['시도명'] == '서울시', '시도명'] = '서울특별시'
공공도서관.loc[공공도서관['시도명'] == '경기', '시도명'] = '경기도'
공공도서관.loc[공공도서관['시도명'] == '강원', '시도명'] = '강원도'
공공도서관.loc[공공도서관['시도명'] == '대전', '시도명'] = '대전광역시'
공공도서관.loc[공공도서관['시도명'] == '부산', '시도명'] = '부산광역시'
공공도서관.loc[공공도서관['시도명'] == '울산', '시도명'] = '울산광역시'
공공도서관.loc[공공도서관['시도명'] == '광주', '시도명'] = '광주광역시'
공공도서관.loc[공공도서관['시도명'] == '인천', '시도명'] = '인천광역시'
공공도서관.loc[공공도서관['시도명'] == '전북', '시도명'] = '전라북도'
공공도서관.loc[공공도서관['시도명'] == '전남', '시도명'] = '전라남도'
공공도서관.loc[공공도서관['시도명'] == '충남', '시도명'] = '충청남도'
공공도서관.loc[공공도서관['시도명'] == '충북', '시도명'] = '충청북도'
공공도서관.loc[공공도서관['시도명'] == '경북', '시도명'] = '경상북도'
공공도서관.loc[공공도서관['시도명'] == '경남', '시도명'] = '경상남도'
공공도서관.loc[공공도서관['시도명'] == '세종', '시도명'] = '세종특별자치시'
공공도서관.loc[공공도서관['시도명'] == '세종특별자치시', '시군구명'] = '세종특별자치시'

In [74]:
# 지역명을 '시도명_시군구명' 형태로 저장
공공도서관['지역명'] = 공공도서관['시도명'] + '_' + 공공도서관['시군구명']
공공도서관 = 공공도서관[['도서관명', '지역명']]
공공도서관

                도서관명       지역명
0            강릉교육문화관   강원도_강릉시
1          강릉시립중앙도서관   강원도_강릉시
2            고성교육도서관   강원도_고성군
3            고성군립도서관   강원도_고성군
4              관전도서관   강원도_철원군
...              ...       ...
1219  아산시꿈샘어린이청소년도서관  충청남도_아산시
1220         맹동혁신도서관  충청북도_음성군
1221        제천기적의도서관  충청북도_제천시
1222        청주기적의도서관  충청북도_청주시
1223     청주신율봉어린이도서관  충청북도_청주시

[1224 rows x 2 columns]

In [75]:
# 모든 도서관에 행정동 코드가 부여된 것을 확인
공공도서관.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   도서관명    1224 non-null   object
 1   지역명     1224 non-null   object
dtypes: object(2)
memory usage: 19.2+ KB

In [76]:
# 국립도서관, 공공도서관, 작은도서관 병합
도서관 = pd.concat([국립도서관, 공공도서관, 작은도서관], axis = 0)
도서관

             도서관명              지역명
0         국립중앙도서관        서울특별시_서초구
1     국립어린이청소년도서관        서울특별시_강남구
2         국립세종도서관  세종특별자치시_세종특별자치시
3           국회도서관       서울특별시_영등포구
4           법원도서관          경기도_고양시
...           ...              ...
6443   청개구리 작은도서관        서울특별시_금천구
6444    솔빛1차작은도서관         인천광역시_동구
6445     길벗어린이도서관        인천광역시_계양구
6446           샛별        인천광역시_계양구
6447   행궁마을 작은도서관        서울특별시_금천구

[7678 rows x 2 columns]

In [77]:
# 도서관 데이터를 법정동코드와 merge
도서관 = pd.merge(법정동코드, 도서관, on = '지역명', how = 'inner')
도서관

           법정동코드      시도명  시군구명           지역명           도서관명
0     1111000000    서울특별시   종로구     서울특별시_종로구  4.19 혁명기념 도서관
1     1111000000    서울특별시   종로구     서울특별시_종로구  서울특별시교육청정독도서관
2     1111000000    서울특별시   종로구     서울특별시_종로구  서울특별시교육청종로도서관
3     1111000000    서울특별시   종로구     서울특별시_종로구        아름꿈 도서관
4     1111000000    서울특별시   종로구     서울특별시_종로구    어린이청소년국학도서관
...          ...      ...   ...           ...            ...
7671  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시       93대대독서대학
7672  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시    아담한새마을작은도서관
7673  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시       삼달리작은도서관
7674  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시     색달새마을작은도서관
7675  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시     오석새마을작은도서관

[7676 rows x 5 columns]

In [78]:
# 법정도코드 기준으로 도서관 수를 count 하여 시군구별 도서관 수 구함
시군구별_도서관 = 도서관.groupby(['법정동코드'])['도서관명'].count()
시군구별_도서관 = pd.DataFrame(시군구별_도서관, index = 시군구별_도서관.index)
시군구별_도서관.rename(columns = {'도서관명' : '도서관_수'}, inplace = True)
시군구별_도서관

            도서관_수
법정동코드
1111000000     29
1114000000     25
1117000000     26
1120000000     31
1121500000     34
...           ...
4887000000     12
4888000000     12
4889000000     20
5011000000    108
5013000000     65

[229 rows x 1 columns]

### 문화시설

In [79]:
# 문화시설 데이터 불러오기
문화시설 = pd.read_csv('../원본데이터/문화시설/KC_612_PBL_CLT_STATN_BIZAEA_2021.csv', encoding = 'cp949')
문화시설

,CTPRVN_NM,SGNR_NM,flag_pub_cnt,flag_priv_cnt,flag_pub_priv_cnt,flag_pub_rate,flag_pub_percent,FILE_NAME,BASE_YMD
0,강원도,강릉시,14,16,30,46.66%,46.66,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
1,강원도,고성군,10,2,12,83.33%,83.33,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
2,강원도,동해시,5,2,7,71.42%,71.42,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
3,강원도,삼척시,8,1,9,88.88%,88.88,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
4,강원도,속초시,7,1,8,87.50%,87.50,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
...,...,...,...,...,...,...,...,...,...
259,충청북도,청주시 상당구,4,0,4,100.00%,100.00,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
260,충청북도,청주시 서원구,3,0,3,100.00%,100.00,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
261,충청북도,청주시 청원구,5,0,5,100.00%,100.00,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
262,충청북도,청주시 흥덕구,5,0,5,100.00%,100.00,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101
263,충청북도,충주시,12,4,16,75.00%,75.00,KC_612_PBL_CLT_STATN_BIZAEA_2021,20200101

In [80]:
# 시도명, 시군구명, 지역별 총 문화시설 수 추출
문화시설 = 문화시설[['CTPRVN_NM', 'SGNR_NM', 'flag_pub_priv_cnt']]
문화시설.columns = ['시도명', '시군구명', '문화시설_수']
문화시설

      시도명     시군구명  문화시설_수
0     강원도      강릉시      30
1     강원도      고성군      12
2     강원도      동해시       7
3     강원도      삼척시       9
4     강원도      속초시       8
..    ...      ...     ...
259  충청북도  청주시 상당구       4
260  충청북도  청주시 서원구       3
261  충청북도  청주시 청원구       5
262  충청북도  청주시 흥덕구       5
263  충청북도      충주시      16

[264 rows x 3 columns]

In [81]:
# 시군구 단위로 구분할 수 있도록 시군구명을 ' ' 기준으로 split
split_ = 문화시설.시군구명.str.split(' ')
split_

0           [강릉시]
1           [고성군]
2           [동해시]
3           [삼척시]
4           [속초시]
          ...
259    [청주시, 상당구]
260    [청주시, 서원구]
261    [청주시, 청원구]
262    [청주시, 흥덕구]
263         [충주시]
Name: 시군구명, Length: 264, dtype: object

In [82]:
# 시군구 단위만 필요하기 때문에 지역명 column에 '시도명' + '시군구명_1'을 활용하여 합침
문화시설['시군구명_1'] = split_.str.get(0)
문화시설['시군구명_2'] = split_.str.get(1)
문화시설['지역명'] = 문화시설['시도명'] + '_' + 문화시설['시군구명_1']
문화시설 = 문화시설[['지역명', '문화시설_수']]
문화시설

          지역명  문화시설_수
0     강원도_강릉시      30
1     강원도_고성군      12
2     강원도_동해시       7
3     강원도_삼척시       9
4     강원도_속초시       8
..        ...     ...
259  충청북도_청주시       4
260  충청북도_청주시       3
261  충청북도_청주시       5
262  충청북도_청주시       5
263  충청북도_충주시      16

[264 rows x 2 columns]

In [83]:
# 법정동코드와 문화시설 수 merge
문화시설 = pd.merge(법정동코드, 문화시설, on = '지역명', how = 'inner')
문화시설

          법정동코드      시도명  시군구명           지역명  문화시설_수
0    1111000000    서울특별시   종로구     서울특별시_종로구      62
1    1114000000    서울특별시    중구      서울특별시_중구      24
2    1117000000    서울특별시   용산구     서울특별시_용산구      18
3    1120000000    서울특별시   성동구     서울특별시_성동구      14
4    1121500000    서울특별시   광진구     서울특별시_광진구       9
..          ...      ...   ...           ...     ...
259  4887000000     경상남도   함양군      경상남도_함양군       4
260  4888000000     경상남도   거창군      경상남도_거창군       6
261  4889000000     경상남도   합천군      경상남도_합천군       6
262  5011000000  제주특별자치도   제주시   제주특별자치도_제주시      70
263  5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시      61

[264 rows x 5 columns]

In [84]:
# 법정동코드별 문화시설 수 sum
문화시설 = 문화시설.groupby(['법정동코드']).sum()
문화시설

            문화시설_수
법정동코드
1111000000      62
1114000000      24
1117000000      18
1120000000      14
1121500000       9
...            ...
4887000000       4
4888000000       6
4889000000       6
5011000000      70
5013000000      61

[229 rows x 1 columns]

### 시군구별 문화시설 최종

In [85]:
# 시군구별 도서관, 문화시설 merge 하여 시군구별 문화시설 인프라 df 생성
시군구별_문화시설 = pd.merge(시군구별_도서관, 문화시설, on = '법정동코드', how = 'inner')
시군구별_문화시설

            도서관_수  문화시설_수
법정동코드
1111000000     29      62
1114000000     25      24
1117000000     26      18
1120000000     31      14
1121500000     34       9
...           ...     ...
4887000000     12       4
4888000000     12       6
4889000000     20       6
5011000000    108      70
5013000000     65      61

[229 rows x 2 columns]

In [86]:
# 시군구별 문화시설에 지역명도 함께 부여하기 위하여 merge
시군구별_문화시설 = pd.merge(법정동코드, 시군구별_문화시설, on = '법정동코드', how = 'inner')
시군구별_문화시설.set_index('법정동코드', inplace = True)
시군구별_문화시설

                시도명  시군구명           지역명  도서관_수  문화시설_수
법정동코드
1111000000    서울특별시   종로구     서울특별시_종로구     29      62
1114000000    서울특별시    중구      서울특별시_중구     25      24
1117000000    서울특별시   용산구     서울특별시_용산구     26      18
1120000000    서울특별시   성동구     서울특별시_성동구     31      14
1121500000    서울특별시   광진구     서울특별시_광진구     34       9
...             ...   ...           ...    ...     ...
4887000000     경상남도   함양군      경상남도_함양군     12       4
4888000000     경상남도   거창군      경상남도_거창군     12       6
4889000000     경상남도   합천군      경상남도_합천군     20       6
5011000000  제주특별자치도   제주시   제주특별자치도_제주시    108      70
5013000000  제주특별자치도  서귀포시  제주특별자치도_서귀포시     65      61

[229 rows x 5 columns]

In [87]:
# 시군구별_문화시설 파일 반환
시군구별_문화시설.to_csv('../전처리된데이터/시군구별_문화시설.csv')